<template>
  <div class="wordPics_container">
    <div class="wordPics_item">
      <!-- 头部区域 -->
      <div class="item_top">
        <div class="top_left">
          <img src="../../assets/image/wall.jpg" alt />
          <div class="user_name">
            玩游戏最重要的是开心
            <span>
              <img src="../../assets/image/my_ic_lv1.png" alt />
            </span>
          </div>
        </div>
        <div class="top_right">
          <van-button plain class="top_btn">关注</van-button>
        </div>
      </div>
      <!-- 中间区域 -->
      <div class="item_content" @click.stop="$router.push(`/home/details/pics/allPicsDetails/1`)">
        <p>适合蜜月旅行的5个地方，你喜欢那个？</p>
        <div class="content_img" @click.stop="getPreview">
          <img src="https://img.yzcdn.cn/vant/apple-1.jpg" alt />
          <div class="flag">
            <img src="../../assets/image/home_btn_picture.png" alt />
            <span>5图</span>
          </div>
        </div>
      </div>
      <!-- 尾部区域 -->
      <div class="item_function">
        <div class="function_left">
          <span class="reading">
            <img src="../../assets/image/home_ic_reading.png" alt />
            <span class="count">569</span>
          </span>
        </div>
        <div class="function_right">
          <span class="likes">
            <img src="../../assets/image/home_btn_like.png" alt />
            <span class="count">59</span>
          </span>
          <span class="comments">
            <img src="../../assets/image/home_btn_comments.png" alt />
            <span class="count">63</span>
          </span>
        </div>
      </div>
      <!-- 分割线 -->
      <van-divider class="item_divider" />
    </div>
  </div>
</template>

<script>
import { ImagePreview } from 'vant'
import { createNamespacedHelpers } from 'vuex'
const { mapState:appMapState } = createNamespacedHelpers('app')
export default {
  props: ["allPicsList"],
  data() {
    return {
    }
 },
  methods: {
    getPreview(){
      ImagePreview({
      images: [
        'https://img.yzcdn.cn/vant/apple-1.jpg',
        'https://img.yzcdn.cn/vant/apple-2.jpg',
        'https://img.yzcdn.cn/vant/apple-3.jpg',
        'https://img.yzcdn.cn/vant/apple-4.jpg',
        'https://img.yzcdn.cn/vant/apple-5.jpg',
        ],
      startPosition: 1,
      })
    }
  },
  components: {

  },
  computed: {
  ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`../../assets/image/my_ic_lv${level}.png`)
    }
  },
}

</script>
<style lang="less" scoped>
.content_img {
  display: flex;
  position: relative;
  img {
    width: 702px;
    height: 360px;
    background: #f2f2f2;
    border-radius: 6px;
  }
  .flag {
    width: 96px;
    height: 36px;
    opacity: 0.3;
    background: #000000;
    border-radius: 18px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      background: none;
    }
    span {
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      line-height: 48px;
      letter-spacing: 2px;
      display: inline-block;
    }
  }
}
</style>
