<template>
  <div class="wordPics_container">
    <div class="wordPics_item" v-for="item in singlePicList" :key="item.id">
      <!-- 头部区域 -->
      <div class="item_top">
        <div class="top_left">
          <img :src="topImgUrl(item.avatar)" alt />
          <div class="user_name">
            {{item.nickName}}
            <span>
              <img :src="levelImgUrl(item.level)" alt />
            </span>
          </div>
        </div>
        <div class="top_right" v-if="item.followStatus === 0">
          <van-button plain class="top_btn">关注</van-button>
        </div>
        <div class="top_right" v-else-if="item.followStatus === 1">
          <van-button plain class="top_btn">关注</van-button>
        </div>
        <div class="top_right" v-else-if="item.followStatus === 2">
          <van-button plain class="top_btn_done">已关注</van-button>
        </div>
        <div class="top_right" v-else-if="item.followStatus === 3">
          <van-button plain class="top_btn_done">互相关注</van-button>
        </div>
      </div>
      <!-- 中间区域 -->
      <div
        class="item_content"
        @click="$router.push({path:`/home/details/synthesize/singlePicDetails/${item.id}`})"
      >
        <p>{{item.description}}</p>
        <!-- 判断是否是纯文字 -->
        <!--  <div class="content_img" v-if="item.images !== null">
          <img v-for="img in item.images" :key="img" :src="topImgUrl(img)" alt />
        </div>-->
      </div>
      <!-- 尾部区域 -->
      <div class="item_function">
        <div class="function_left">
          <span class="reading">
            <img src="../../assets/image/home_ic_reading.png" alt />
            <span class="count">{{item.viewCount}}</span>
          </span>
        </div>
        <div class="function_right">
          <span class="likes" v-if="item.isLike">
            <img src="../../assets/image/home_btn_only_pressed.png" alt />
            <span class="count">{{item.likeCount}}</span>
          </span>
          <span class="likes" v-else>
            <img src="../../assets/image/home_btn_like.png" alt />
            <span class="count">{{item.likeCount}}</span>
          </span>
          <span class="comments">
            <img src="../../assets/image/home_btn_comments.png" alt />
            <span class="count">{{item.replyCount}}</span>
          </span>
        </div>
      </div>
      <!-- 分割线 -->
      <van-divider class="item_divider" />
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState:appMapState } = createNamespacedHelpers('app')
export default {
  props: ["singlePicList"],
  data() {
    return {
    }
 },
  methods: {
    
  },
  components: {

  },
  computed: {
  ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`../../assets/image/my_ic_lv${level}.png`)
    }
  },
}

</script>
<style lang="less" scoped>
@import url('../../assets/css/variables.less');
.content_img {
  display: flex;
  align-items: center;
  img {
    width: 400px;
    height: 400px;
    background: @theme-color;
    border-radius: 6px;
  }
}
</style>
