<template>
  <div class="wordPics_container">
    <div class="wordPics_body" v-for="item in wordPicsList" :key="item.id">
      <div class="wordPics_item">
        <!-- 头部区域 -->
        <div class="item_top">
          <div class="top_left">
            <img :src="topImgUrl(item.avatar)" alt />
            <div class="user_name">
              {{item.nickName}}
              <span>
                <img :src="levelImgUrl(item.level)" alt />
              </span>
            </div>
          </div>
          <div class="top_right" v-if="item.followStatus === 0">
            <van-button plain class="top_btn">关注</van-button>
          </div>
          <div class="top_right" v-else-if="item.followStatus === 1">
            <van-button plain class="top_btn">关注</van-button>
          </div>
          <div class="top_right" v-else-if="item.followStatus === 2">
            <van-button plain class="top_btn_done">已关注</van-button>
          </div>
          <div class="top_right" v-else-if="item.followStatus === 3">
            <van-button plain class="top_btn_done">互相关注</van-button>
          </div>
        </div>
        <!-- 中间区域 -->
        <div
          class="item_content"
          @click="$router.push({path:`/home/details/synthesize/wordPicsDetails/${item.tabType}/${item.id}`})"
        >
          <p>{{item.description}}</p>
          <div class="content_img" v-if="item.images && item.images.length > 1">
            <img v-for="img in item.images" :key="img" :src="topImgUrl(img)" alt />
          </div>
          <div class="single_img" v-if="item.images && item.images.length === 1">
            <img :src="topImgUrl(item.images[0])" alt />
          </div>
        </div>
        <!-- 尾部区域 -->
        <div class="item_function">
          <div class="function_left">
            <span class="reading">
              <img :src="require('/assets/image/home_ic_reading.png')" alt />
              <span class="count">{{item.viewCount}}</span>
            </span>
          </div>
          <div class="function_right">
            <span class="likes" v-if="item.isLike">
              <img :src="require('/assets/image/home_btn_only_pressed.png')" alt />
              <span class="count">{{item.likeCount}}</span>
            </span>
            <span class="likes" v-else>
              <img :src="require('/assets/image/home_btn_like.png')" alt />
              <span class="count">{{item.likeCount}}</span>
            </span>
            <span class="comments">
              <img :src="require('/assets/image/home_btn_comments.png')" alt />
              <span class="count">{{item.replyCount}}</span>
            </span>
          </div>
        </div>
      </div>
      <!-- 分割线 -->
      <van-divider class="item_divider" />
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState:appMapState } = createNamespacedHelpers('app')
export default {
  props: ["wordPicsList"],
  data() {
    return {

    }
 },
  methods: {
    
  },
  components: {

  },
  computed: {
  ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`@/assets/image/my_ic_lv${level}.png`)
    }
  },
}

</script>
<style lang="less" scoped>
.wordPics_body {
  .item_divider {
    width: 100%;
    height: 10px;
    opacity: 0.4;
    background: #d2d2d2;
    margin: 0;
  }
}
.content_img {
  display: flex;
  flex-wrap: wrap;
  :nth-child(4n) {
    margin-right: 0;
  }
  img {
    width: 168px;
    height: 168px;
    background: #f2f2f2;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.single_img {
  width: 400px;
  height: 400px;
  img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
  }
}
</style>
