<template>
  <div class="allPicsDetails_container">
    <div class="details_main">
      <!-- 顶部区域 -->
      <div class="details_header">
        <span class="returnBack" @click="$router.go(-1)">
          <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
        </span>
        <div class="allPicsDetails_title">随手拍</div>
        <span class="more">
          <img :src="require('@/assets/image/home_nav_more2.png')" alt />
        </span>
        <!-- 头部区域 -->
        <div class="details_top">
          <div class="top_left">
            <img :src="topImgUrl(detailsInfo.avatar)" alt />
            <div class="user_info">
              <div class="user_name">
                {{detailsInfo.nickName}}
                <img :src="levelImgUrl(detailsInfo.level)" alt />
              </div>
              <div class="fans_count">
                粉丝数：
                <span>{{detailsInfo.fansCount}}</span>
              </div>
            </div>
          </div>
          <div class="top_right" v-if="detailsInfo.followStatus === 0">
            <van-button plain class="top_btn">关注</van-button>
          </div>
          <div class="top_right" v-else-if="detailsInfo.followStatus === 1">
            <van-button plain class="top_btn">关注</van-button>
          </div>
          <div class="top_right" v-else-if="detailsInfo.followStatus === 2">
            <van-button plain class="top_btn_done">已关注</van-button>
          </div>
          <div class="top_right" v-else-if="detailsInfo.followStatus === 3">
            <van-button plain class="top_btn_done">互相关注</van-button>
          </div>
        </div>
      </div>
      <!-- 详情内容区域 -->
      <div class="allPicsDetails_info">
        <div class="content_img">
          <van-swipe>
            <van-swipe-item
              class="img_item"
              v-for="(image, index) in detailsInfo.images"
              :key="index"
            >
              <img v-lazy="topImgUrl(image)" />
              <span class="flag">{{index + 1}}/{{detailsInfo.images.length}}</span>
            </van-swipe-item>
          </van-swipe>
        </div>
      </div>
      <!-- 底部区域 -->
      <div class="details_body">
        <div class="pics_reply_part">
          <div class="content_text">{{detailsInfo.content}}</div>
          <div class="reply_bottom">
            <div class="reply_left">
              <van-field class="reply_input" v-model="reply" placeholder="回复 楼主" />
            </div>
            <div class="function_part">
              <div class="like_part">
                <img
                  :src="require('@/assets/image/home_btn_like_pressed.png')"
                  v-if="detailsInfo.isLike"
                  alt
                />
                <img :src="require('@/assets/image/home_btn_like.png')" v-else alt />
                <span>{{detailsInfo.likeCount}}</span>
              </div>
              <div
                class="comment_part"
                @click="$router.push(`/home/details/pics/picComments/${topicId}`)"
              >
                <img :src="require('@/assets/image/home_btn_comments.png')" alt />
                <span>{{detailsInfo.replyCount}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ImagePreview } from "vant"
import { detailedPlacard } from '../../../../api/bbs'
import { createNamespacedHelpers } from 'vuex'
const { mapState: appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      reply: '',
      detailsInfo: {},
      topicId: '', // 帖子id
      tabType: 1,  // tab栏类型
      fullPath: '' // 进来的完整路由
    }
 },
  methods: {
    async getPicsDetails(id){
      const res = await detailedPlacard(id)
      // console.log(res)
      if(res && res.code === 200){
        this.detailsInfo = res.result
      }else{
        this.$toast.fail('网络错误')
      }
    }
  },
   computed: {
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`@/assets/image/my_ic_lv${level}.png`)
    }
  },
  components: { 
  },
   beforeRouteEnter (to, from, next) {
     console.log(from)
    next(vm => {
      // 通过 `vm` 访问组件实例
      vm.fullPath = from.name
    })
  },
  created() {
    this.tabType = this.$route.params.tabType
    this.topicId = this.$route.params.id
    this.getPicsDetails(this.topicId)
  }
}

</script>
<style lang="less" scoped>
@import url('../css/public.less');
.allPicsDetails_container {
  height: 100%;
  background-color: #000713;
  .details_main {
    height: 100%;
    background-color: #000713;
    .details_header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      background-color: #000713;
      .returnBack {
        position: absolute;
        left: 24px;
        top: -10px;
        img {
          width: 14px;
          height: 26px;
        }
      }
      .allPicsDetails_title {
        width: 100%;
        height: 88px;
        background: #000713;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 2px;
      }
      .more {
        position: absolute;
        right: 24px;
        top: -10px;
        img {
          width: 6px;
          height: 31px;
        }
      }
    }
    .allPicsDetails_info {
      padding-top: 200px;
      padding-bottom: 155px;
      .content_img {
        .img_item {
          width: 750px;
          img {
            width: 100%;
            height: 100%;
          }
          span {
            font-size: 24px;
            font-weight: 500;
            color: #ffffff;
            position: absolute;
            right: 23px;
            bottom: 10px;
          }
        }
        .van-swipe {
          .van-swipe-item {
            height: auto;
          }
        }
      }
    }
    .details_body {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 3;
      background-color: #000713;
      .pics_reply_part {
        .content_text {
          font-size: 28px;
          font-weight: 500;
          color: #ffffff;
          margin: 0 0 20px 25px;
          letter-spacing: 2px;
        }
        .reply_bottom {
          width: 750px;
          height: 98px;
          background: #000713;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .reply_input {
            width: 513px;
            height: 50px;
            background: #333333;
            border: 1px solid #333333;
            margin-left: 24px;
            border-radius: 24px;
            color: #fff;
          }
          .function_part {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 24px;
            img {
              width: 28px;
              height: 28px;
            }
            .like_part {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .comment_part {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 20px;
            }
            span {
              font-size: 24px;
              font-weight: 500;
              color: #999999;
              display: inline-block;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  /* 修改子组件的样式 */
  /deep/.user_name {
    color: #fff !important;
  }
  /deep/.top_btn {
    color: #ff7d14 !important;
    background-color: #000713 !important;
    border: 1px solid #ff7d14 !important;
  }
}
</style>
