<template>
  <div class="forumDetails_container">
    <!-- 头部标题区域 -->
    <div class="topHeader">
      <span class="returnBack" @click="$router.go(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <!-- <h6>{{forumItemInfo.name}}</h6> -->
      <!-- <span class="top_message"> -->
      <!-- <img class="top_message" :src="require('@/assets/image/home_btn_message.png')" alt /> -->
      <!-- </span> -->
    </div>
    <!-- 顶部区域 -->
    <div class="forumDetails_top">
      <div class="top_background">
        <img :src="topImgUrl(forumItemInfo.image)" alt />
      </div>
      <div class="top_main">
        <div class="main_header">
          <div class="header_img">
            <img :src="topImgUrl(forumItemInfo.icon)" alt />
          </div>
          <div class="header_content">
            <h6>{{forumItemInfo.name}}</h6>
            <span
              v-if="forumItemInfo.topicCount < 10000 && forumItemInfo.viewCount < 10000"
            >{{forumItemInfo.topicCount}}&nbsp;帖子·{{forumItemInfo.viewCount}}&nbsp;阅读</span>
            <span
              v-else-if="forumItemInfo.topicCount < 10000 && forumItemInfo.viewCount > 10000"
            >{{forumItemInfo.topicCount}}&nbsp;帖子·{{forumItemInfo.viewCount / 10000}}&nbsp;万阅读</span>
            <span
              v-else-if="forumItemInfo.topicCount > 10000 && forumItemInfo.viewCount < 10000"
            >{{forumItemInfo.topicCount / 10000}}&nbsp;万帖子·{{forumItemInfo.viewCount}}&nbsp;阅读</span>
            <span
              v-else
            >{{forumItemInfo.topicCount / 10000}}&nbsp;万帖子·{{forumItemInfo.viewCount / 10000}}&nbsp;万阅读</span>
          </div>
        </div>
        <div class="main_info">
          <div class="info_item">
            <span>置顶</span>
            <span>【禁水】 卡顿&闪退bug反馈贴</span>
          </div>
          <div class="info_item">
            <span>置顶</span>
            <span>【重要】更新游戏建议&bug反馈请来这里！！！</span>
          </div>
        </div>
      </div>
    </div>
    <!-- tab栏区域 -->
    <van-tabs v-model="active" color="#4B84E6" swipeable line-width="35" @click="tabsClick">
      <van-tab v-for="item in tabList" :title="item" :key="item"></van-tab>
    </van-tabs>
    <!-- 主体内容区域 -->
    <div class="forumItem_container">
      <div class="forumItem_body" v-for="item in forumItemList" :key="item.id">
        <div
          class="forumItem_content"
          @click="$router.push(`/home/details/synthesize/wordPicsDetails/${item.id}`)"
        >
          <h6>{{item.description}}</h6>
          <div class="forumItem_img" v-if="item.images !== null">
            <img :src="topImgUrl(item.images[0])" alt />
          </div>
        </div>
        <!-- 尾部区域 -->
        <div class="item_function">
          <div class="function_left">
            <div class="left_header">
              <img :src="topImgUrl(item.avatar)" alt />
              <span class="left_name">{{item.nickName}}</span>
              <span class="left_time">{{item.lastReplyTime}}</span>
            </div>
          </div>
          <div class="function_right">
            <span class="likes" v-if="item.isLike">
              <img :src="require('@/assets/image/home_btn_like_pressed.png')" alt />
              <span class="count">{{item.likeCount}}</span>
            </span>
            <span class="likes" v-else>
              <img :src="require('@/assets/image/home_btn_like.png')" alt />
              <span class="count">{{item.likeCount}}</span>
            </span>
            <span class="comments">
              <img :src="require('@/assets/image/home_btn_comments.png')" alt />
              <span class="count">{{item.replyCount}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { categoryIdlist, categoryChannel } from '@/api/bbs'
import { changeTimestamp } from '@/filters/filter'
import { createNamespacedHelpers } from 'vuex'
const { mapState: appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      active: 0,
      tabList: ['全部','热门','精华','最多赞'],
      forumItemInfo: {}, 
      forumItemList: [],
      order: 0, // 关于帖子排序
      isTop: false, // 是否置顶
      page: 1, 
      size: 10, 
      topicId: '',
      tabType: 1,  // tab栏类型
      fullPath: '' // 进来的完整路由
    }
 },
  methods: {
    // 获取详情页下的tab数据列表
    async getForumItemList(categoryId){
      let params = {
        order: this.order,
        isTop: this.isTop,
        page: this.page,
        size: this.size
      }
      const res = await categoryIdlist(categoryId , params)
      if(res && res.code === 200){
        this.forumItemList = res.result
          res.result.map(item => {
          if(item.lastReplyTime){
           item.lastReplyTime =  changeTimestamp(item.lastReplyTime)
          }
          return item
          })
      }else{
        return this.$toast.fail('网络错误')
      }
    },
    // 获取详情页的单频道信息
    async getForumItemInfo(topicId){
      const res = await categoryChannel(topicId)
      if(res && res.code === 200){
        this.forumItemInfo = res.result
      }else{
        return this.$toast.fail('网络错误')
      }
    },
    // tab栏点击触发事件
    tabsClick(name, title){
      this.order = name
      this.getForumItemList(this.topicId)
    }
  },
  computed: {
    ...appMapState(['imgUrl']),
    topImgUrl(url){
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      // 通过 `vm` 访问组件实例
      vm.fullPath = from.path
    })
  },
  created() {
    this.tabType = this.$route.params.tabType
    this.topicId = this.$route.params.id
    this.getForumItemInfo(this.topicId)
    this.getForumItemList(this.topicId)
  },
}

</script>
<style lang="less" scoped>
@import url('../../../../components/synthesize/css/public.less');
.forumDetails_container {
  height: 100vh;
  background-color: #fff;
  .topHeader {
    height: 88px;
    // background: #483336;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .returnBack {
      position: absolute;
      left: 24px;
      top: -10px;
      img {
        width: 14px;
        height: 26px;
      }
    }
    h6 {
      font-size: 32px;
      font-weight: 500;
      color: #ffffff;
      margin: 0;
      margin-left: 55px;
    }
    .top_message {
      display: inline-block;
      width: 26px;
      height: 32px;
      margin-right: 27px;
    }
  }
  .forumDetails_top {
    .top_background {
      width: 100%;
      height: 260px;
      background: #cecece;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .top_main {
      width: 100%;
      height: 224px;
      background: #483336;
      .main_header {
        display: flex;
        position: absolute;
        left: 24px;
        top: 199px;
        .header_img {
          width: 102px;
          height: 102px;
          img {
            width: 100%;
            height: 100%;
            border: 1px solid #ffffff;
            border-radius: 10px;
          }
        }
        .header_content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 20px;
          padding-top: 10px;
          h6 {
            font-size: 32px;
            font-weight: 500;
            color: #ffffff;
            margin: 0;
          }
          span {
            font-size: 20px;
            font-weight: 500;
            color: #ffffff;
            display: inline-block;
          }
        }
      }
      .main_info {
        padding: 61px 24px 0;
        .info_item {
          width: 702px;
          height: 60px;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 6px 6px 0px 0px;
          display: flex;
          align-items: center;
          margin-bottom: 1px;
          span {
            display: inline-block;
            letter-spacing: 1px;
          }
          :nth-child(1) {
            font-size: 20px;
            font-weight: 500;
            color: #ff7d14;
            margin: 0 20px;
          }
          :nth-child(2) {
            font-size: 24px;
            font-weight: 500;
            color: #ffffff;
          }
        }
      }
    }
  }

  .forumItem_container {
    .forumItem_body {
      margin-top: 30px;
      padding: 0 24px 40px;
      border-bottom: 1px solid #ddd;
      .forumItem_content {
        display: flex;
        justify-content: space-between;
        h6 {
          font-size: 32px;
          font-weight: 500;
          color: #333333;
          line-height: 55px;
          margin: 0;
          letter-spacing: 2px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .forumItem_img {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 168px;
            height: 168px;
            background: #f2f2f2;
            border-radius: 6px;
          }
        }
      }
      .item_function {
        width: 702px;
        height: 28px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 24px;
        font-weight: 500;
        color: #999999;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 28px;
            height: 28px;
          }
        }
        .function_left {
          .left_header {
            display: flex;
            align-items: center;
            img {
              width: 48px;
              height: 48px;
              border-radius: 24px;
            }
            .left_name {
              font-size: 24px;
              font-weight: 500;
              color: #333333;
              line-height: 28px;
              display: inline-block;
              margin: 0 10px 0 20px;
            }
            .left_time {
              display: inline-block;
              font-size: 24px;
              font-weight: 500;
              color: #999999;
              line-height: 28px;
            }
          }
        }
        .function_right {
          display: flex;
          :nth-child(odd) {
            margin-left: 19px;
          }
        }
        .count {
          margin-left: 10px;
        }
      }
    }
  }
  /deep/ .van-tabs--line .van-tabs__wrap {
    height: 88px;
  }
  .van-tabs {
    top: -10px;
    /deep/ span {
      font-size: 28px;
      letter-spacing: 4px;
    }
    /deep/ .van-tab--active {
      color: #333333;
      font-weight: bold;
    }
  }
}
</style>
