<template>
  <div class="hotNews_container">
    <!-- 顶部区域 -->
    <span class="returnBack" @click="$router.back(-1)">
      <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
    </span>
    <div class="hotNews_title">最新消息</div>
    <div class="hotNews_content">
      <h6>
        欢乐庆端午！签到双倍积分，还有更多福利等 你
        来~
      </h6>
      <p>
        1.欢乐庆端午！签到双倍积分，邀请朋友下载并注册论坛APP获得3倍奖励。欢乐庆端午！签到双倍积分，邀请朋友下载并注册论坛APP获得3倍奖励。欢乐庆端午！
        2.签到双倍积分，邀请朋友下载并注册论坛APP获得3倍奖励。倍奖励。欢乐庆端午！签到双倍积分，邀请朋友下载并注册论坛APP获得3倍奖励。欢乐庆端午！签到双倍积分，邀请朋友下载并注册论坛APP获得3倍奖励。
        3.欢乐庆端午！签到双倍积分，邀请朋友下载并注册论坛APP就可以获得3倍奖励。
        4.欢乐庆端午！签到双倍积分，邀请朋友下载并注册论坛APP获得超级福利-3倍奖励。
      </p>
    </div>
    <div class="hotNews_footer">
      <img :src="require('@/assets/image/wall.jpg')" alt />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
 },
  methods: {

  },
  created() {

  },

}

</script>
<style lang="less" scoped>
@import url('../../../../assets/css/variables.less');
.hotNews_container {
  background-color: #ffffff;
  height: 100vh;
  .returnBack {
    position: absolute;
    left: 24px;
    top: -10px;
    img {
      width: 14px;
      height: 26px;
    }
  }
  .hotNews_title {
    width: 100%;
    height: 88px;
    background: @theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .hotNews_content {
    h6 {
      font-size: 32px;
      font-weight: bold;
      color: #333333;
      letter-spacing: 1px;
      margin: 20px 25px;
    }
    p {
      font-size: 24px;
      font-weight: 500;
      color: #333333;
      letter-spacing: 1px;
      line-height: 48px;
      margin: 0 28px 20px 24px;
    }
  }
  .hotNews_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 702px;
      height: 200px;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
</style>
