@import url('../../../../components/synthesize/css/public.less');
.my_container {
  // height: 100vh;
  background-color: #f2f2f2;
  /deep/span {
    letter-spacing: 1px;
  }
  .my_top {
    width: 100%;
    height: 88px;
    background: @theme-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .returnBack {
      position: absolute;
      left: 24px;
      top: -10px;
      img {
        width: 14px;
        height: 26px;
      }
    }
    h6 {
      margin: 28px 0;
      font-size: 32px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 3px;
    }
    .top_text{
      font-size: 28px;
      font-weight: 500;
      color: #ffffff;
      position: absolute;
      right: 24px;
      letter-spacing: 2px;
      top: 26px;
    }
  }
  .my_body {
    .body_item {
      background: #ffffff;
      border-radius: 10px;
      margin: 20px 24px 0;
      padding: 20px;
      .item_content {
        p {
          font-size: 28px;
          font-weight: 500;
          color: #333333;
          line-height: 48px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
          margin: 24px 0 20px;
        }
        .content_img {
          display: flex;
          img {
            width: 662px;
            height: 326px;
            background: #f2f2f2;
            border-radius: 6px;
          }
        }
      }
      .item_top {
        width: 100%;
      }
      .item_function {
        width: 100%;
      }
      .post_time {
        font-size: 24px;
        font-weight: 400;
        color: #999999;
        margin-top: 10px;
      }
      .top_right {
        img {
          width: 6px;
          height: 31px;
          margin-left: 19px;
        }
      }
    }
  }
}