<template>
  <div class="details_container">
    <!-- 头部标题区域 -->
    <div class="topHeader">
      <div class="return_back" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </div>
      <h6>任务详情</h6>
      <span class="report">举报</span>
    </div>
    <!-- 头部背景 -->
    <div class="task_ic">
      <img :src="require('@/assets/image/task_ic.png')" alt />
    </div>
    <!-- 任务区域 -->
    <div class="task_content">
      <div class="task_item">
        <div class="item_img">
          <img :src="topImgUrl(taskDetailsObj.finishSampleImage)" alt />
        </div>
        <div class="item_info">
          <div class="info_content">
            <span class="content_title">{{ taskDetailsObj.title }}</span>
            <span class="remaining_quantity">
              剩余数量：
              <span>{{ taskDetailsObj.remain }}</span>
              /{{ taskDetailsObj.amount }}
            </span>
          </div>
          <span class="task_coin">+{{ taskDetailsObj.rewardPerUnit }}</span>
        </div>
      </div>
    </div>
    <!-- 提醒、注意区域 -->
    <div class="task_attention">
      <img :src="require('@/assets/image/task_ic_notice.png')" alt />
      <p>
        注意！任何需要加QQ/微信群，需要刷单投资的都是骗子！
        勿贪便宜！不要付款!
      </p>
    </div>
    <!-- 任务步骤区域 -->
    <div class="task_step">
      <div class="step_title">
        <img :src="require('@/assets/image/task_ic_step.png')" alt />
        <h6>任务步骤</h6>
        <span>（请参考以下步骤完成任务）</span>
      </div>
      <!-- 任务第一步步骤分类区域 -->
      <div class="step_one" v-if="taskType === 1">
        <p>1.将链接发送给微信好友，在微信中打开链接完成助力任务。</p>
        <input v-model="taskDetailsObj.taskStep[0].url" type="text" />
        <button>发给微信好友</button>
      </div>
      <div class="step_one" v-if="taskType === 2">
        <p>1.下载某某技术版本填写邀请码132 123 645</p>
        <input v-model="taskDetailsObj.publisher" type="text" />
        <button>复制链接/口令</button>
      </div>
      <div class="step_one" v-if="taskType === 3">
        <p>1.将链接发送给微信好友，在微信中打开链接完成助力任务。</p>
        <div class="QR_code_img">
          <img class="QR" :src="require('@/assets/image/wall.jpg')" alt />
          <div class="img_item">
            <img :src="require('@/assets/image/task_ic_download.png')" alt />
            <span>保存扫码</span>
          </div>
          <div class="img_item">
            <img :src="require('@/assets/image/task_ic_send.png')" alt />
            <span>发到微信</span>
          </div>
        </div>
      </div>
      <div class="step_second">
        <p>2.查看示例验证图，按照示例图的提示和要求正确截图上传。</p>
        <div class="show_img">
          <div class="example_img">
            <img :src="require('@/assets/image/wall.jpg')" alt />
          </div>
          <div class="verification_img">
            <img :src="require('@/assets/image/home_btn_post.png')" alt />
          </div>
        </div>
      </div>
    </div>
    <!-- 底部报名区域 -->
    <div class="task_footer">
      <div class="footer_left">
        <img :src="require('@/assets/image/task_ic_exchange.png')" alt />
        <span @click="changeTask">换一个</span>
      </div>
      <button @click="$router.push('/guideDownload')">报名任务</button>
    </div>
  </div>
</template>

<script>
import { getUserTaskById } from '@/api/activity'
import { createNamespacedHelpers } from 'vuex'
const { mapState: appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      taskDetailsObj: {},
      taskType: 1
    }
 },
  methods: {
    // 获取任务详情数据
    async getTaskDetails(taskId){
      const res = await getUserTaskById(taskId)
      console.log(res)
      if(res && res.code === 200){
        this.taskDetailsObj = res.result
        this.taskType = this.taskDetailsObj.taskType
      }else{
        this.$toast.fail('网络错误')
      }
    },
    // 切换任务
    changeTask(){
      if(this.taskType === 3){
        this.taskType = 0
      }
      this.taskType++
    }
  },
  computed: {
    ...appMapState(['imgUrl']),
    topImgUrl(url){
      return url => {
        if(!url){
          return 
        }
        return this.imgUrl + url
      }
    }
  },
  created() {
      this.getTaskDetails(this.$route.params.id)
  },
}

</script>
<style lang="less" scoped>
@import url('../../assets/css/variables.less');
.details_container {
  height: 100vh;
  background-color: #f2f2f2;
  .topHeader {
    height: 88px;
    background-color: @theme-color;
    display: flex;
    align-items: center;
    justify-content: center;
    h6 {
      margin: 0;
      text-align: center;
      font-size: 32px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 3px;
    }
    .return_back {
      position: absolute;
      left: 26px;
      top: -10px;
      img {
        width: 14px;
        height: 26px;
      }
    }
    .report {
      position: absolute;
      right: 23px;
      font-size: 28px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 2px;
    }
  }
  .task_ic {
    img {
      height: 94px;
    }
  }
  .task_content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    .task_item {
      flex: 1;
      margin: 10px 24px 0 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 30px 20px;
      border-radius: 6px;
      .item_img {
        width: 88px;
        height: 88px;
        margin-right: 20px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .item_info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .info_content {
          display: flex;
          flex-direction: column;
          .content_title {
            display: inline-block;
            font-size: 28px;
            font-weight: 500;
            color: #333333;
            letter-spacing: 1px;
          }
          .remaining_quantity {
            display: inline-block;
            font-size: 24px;
            font-weight: 500;
            color: #666666;
            letter-spacing: 1px;
            span {
              color: #ff1313;
            }
          }
        }
        .task_coin {
          font-size: 32px;
          font-weight: 500;
          color: #ff1313;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .task_attention {
    display: flex;
    margin: 80px 24px 20px;
    background: #dce9fe;
    border-radius: 6px;
    box-shadow: 0px 3px 7px 0px rgba(141, 141, 141, 0.1);
    img {
      width: 24px;
      height: 24px;
      margin: 12px 12px 0 20px;
    }
    p {
      font-size: 24px;
      font-weight: 500;
      color: #333333;
      letter-spacing: 1px;
      margin: 0;
      line-height: 50px;
    }
  }
  .task_step {
    margin: 0 24px 108px;
    padding: 40px 20px 20px;
    background-color: #fff;
    .step_title {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      img {
        width: 22px;
        height: 26px;
      }
      h6 {
        font-size: 28px;
        font-weight: 500;
        color: #333333;
        margin: 0 12px 0;
      }
      span {
        font-size: 24px;
        font-weight: 500;
        color: #999999;
      }
    }
    .step_one {
      margin-bottom: 40px;
      p {
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        margin: 0;
      }
      input {
        background: #f2f2f2;
        border-radius: 10px;
        width: 97%;
        height: 72px;
        border: none;
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        padding-left: 19px;
      }
      button {
        width: 100%;
        height: 72px;
        background: @theme-color;
        border-radius: 10px;
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
        letter-spacing: 8px;
        border: 1px solid @theme-color;
      }
      .QR_code_img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        .QR {
          width: 320px;
          height: 320px;
          border-radius: 10px;
        }
        .img_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 88px;
            height: 88px;
            margin-bottom: 20px;
          }
          span {
            display: inline-block;
            font-size: 28px;
            font-weight: 500;
            color: #333333;
            letter-spacing: 3px;
          }
        }
      }
    }
    .step_second {
      p {
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        margin: 0;
        margin-bottom: 20px;
      }
      .show_img {
        display: flex;
        justify-content: space-between;
        .example_img {
          img {
            width: 320px;
            height: 600px;
            border: 1px solid #999999;
            border-radius: 10px;
          }
        }
        .verification_img {
          width: 320px;
          img {
            width: 100%;
            border: 1px solid #999999;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .task_footer {
    display: flex;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 88px;
    .footer_left {
      display: flex;
      align-items: center;
      margin-left: 44px;
      width: 60%;
      img {
        width: 26px;
        height: 26px;
        margin-right: 10px;
      }
      span {
        font-size: 28px;
        font-weight: 500;
        color: #333333;
        letter-spacing: 3px;
      }
    }
    button {
      width: 100%;
      // height: 130%;
      background: @theme-color;
      font-size: 32px;
      font-weight: bold;
      color: #ffffff;
      letter-spacing: 8px;
      border: 1px solid @theme-color;
    }
  }
}
</style>
