.box {
  position: relative;
  width: 170px;
  height: 100px;
  /* border: 5px solid deepskyblue; */
  border-radius: 50%;
  margin-left: 20px;
  float: left;
}

.box i {
  display: block;
  width: 400px;
  height: 400px;
  position: absolute;
  left: -10px;
  top: -10px;
  border-radius: 50%;
  border: 10px solid transparent;
}

.box1 i {
  animation: circleRoate 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  top: 30px;
}

.box2 i {
  animation: circleRoate 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.box3 i {
  animation: circleRoate 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  top: 30px;
}

.box i span {
  position: absolute;
  left: 0px;
  top: 150px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

@keyframes circleRoate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }

}

@keyframes close {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}

.app {
  margin: 0 auto;

  margin-top: 20px;
  position: fixed;
  margin-left: -40px;
  bottom: 180px;
}

.btn {
  position: absolute;
  bottom: 0;
}

#close {
  animation: close 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.app {
  .box {
    span {
      font-size: 20px;
      font-family: ios9SC-Medium;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);

      img {
        // width: 100%;
        width: 88px;
        transform: rotate(-90deg);
      }
    }
  }
}
