 // variables
 @background-color: #4B84E6;
 @theme-color: #4B84E6;

 .bg-image(@url) {

   @media (-webkit-min-device-pixel-ratio: 2),
   (min-device-pixel-ratio: 2) {

     background-image:~"url('@{url}@2x.png')";
     background-size: contain;
     background-repeat: no-repeat;
   }

   @media (-webkit-min-device-pixel-ratio: 3),
   (min-device-pixel-ratio: 3) {
     background-image:~"url('@{url}@3x.png')";
     background-size: contain;
     background-repeat: no-repeat;
   }
 }
