<template>
  <div class="onlyWordsDetails_container">
    <!-- 顶部区域 -->
    <span class="returnBack" @click="$router.go(-1)">
      <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
    </span>
    <div class="onlyWordsDetails_title">综合</div>
    <span class="more">
      <img :src="require('@/assets/image/home_nav_more2.png')" alt />
    </span>
    <!-- 头部区域 -->
    <div class="details_top">
      <div class="top_left">
        <img :src="topImgUrl(detailsInfo.avatar)" alt />
        <div class="user_info">
          <div class="user_name">
            {{detailsInfo.nickName}}
            <!-- <img :src="levelImgUrl(detailsInfo.level)" alt /> -->
          </div>
          <div class="fans_count">
            粉丝数：
            <span>{{detailsInfo.fansCount}}</span>
          </div>
        </div>
      </div>
      <div
        class="top_right"
        v-if="detailsInfo.followStatus === 0 || detailsInfo.followStatus === 1"
      >
        <van-button plain class="top_btn">关注</van-button>
      </div>
      <div class="top_right" v-else-if="detailsInfo.followStatus === 2">
        <van-button plain class="top_btn_done">已关注</van-button>
      </div>
      <div class="top_right" v-else-if="detailsInfo.followStatus === 3">
        <van-button plain class="top_btn_done">互相关注</van-button>
      </div>
    </div>
    <!-- 详情内容区域 -->
    <div class="onlyWordsDetails_info">
      <h6>{{detailsInfo.content}}</h6>
    </div>
    <!-- 底部区域 -->
    <div class="details_footer">
      <div class="watch_part">
        <div class="watch_count">
          <img :src="require('@/assets/image/home_ic_reading.png')" alt />
          <span>{{detailsInfo.viewCount}}</span>
        </div>
        <div class="watch_time">{{timeago}}</div>
      </div>
      <div class="img_part">
        <div class="img_item" v-for="(item, index) in detailsInfo.likeAvatar" :key="index">
          <img :src="topImgUrl(item)" alt v-if="index < 6" />
        </div>
      </div>
      <div class="like_part">
        <van-divider>有{{detailsInfo.likeCount}}人赞过</van-divider>
      </div>
    </div>
    <!-- 评论以及回复区域 -->
    <div class="wedge_ad">
      <img :src="require('@/assets/image/my_bg.png')" alt />
    </div>

    <div class="reply_part">
      <!-- 评论头部区域 -->
      <div class="replyHeader">
        <div class="all_reply">
          <span>全部回复</span>
          <span>{{detailsInfo.replyCount}}</span>
        </div>
        <div class="replyHeader_right">
          <img
            v-if="!isOnlyLookAuth"
            :src="require('@/assets/image/home_btn_only.png')"
            alt
            @click="onlyLookAuth"
          />
          <img
            v-else
            :src="require('@/assets/image/home_btn_only_pressed.png')"
            alt
            @click="onlyLookAuth"
          />
          <span>只看楼主</span>
          <span v-if="changeSort === 1" @click="changeReplySort">最早回复</span>
          <img v-if="changeSort === 1" :src="require('@/assets/image/home_btn_more3.png')" alt />
          <span v-if="changeSort === 2" @click="changeReplySort">最多点赞</span>
          <img
            v-if="changeSort === 2"
            :src="require('@/assets/image/home_btn_more_pressed3.png')"
            alt
          />
        </div>
      </div>
      <!-- 评论内容区域 -->
      <Comment :replysList="replysList"></Comment>
      <!-- 评论尾部区域 -->
      <div class="replyFooter_container">
        <van-field class="reply_input" v-model="reply" placeholder="回复 楼主" />
        <div class="like_part">
          <img
            :src="require('@/assets/image/home_btn_like_pressed.png')"
            v-if="detailsInfo.isLike"
            alt
          />
          <img :src="require('@/assets/image/home_btn_like.png')" v-else alt />
          <span>{{detailsInfo.likeCount}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { detailedPlacard, replyList} from '@/api/bbs'
import { changeTimestamp }  from '../../../../filters/filter'
import { treeToList, flattenArray } from '../../../../utils/index'
import { createNamespacedHelpers } from 'vuex'
const { mapState:appMapState } = createNamespacedHelpers('app')
import Comment from '../../../../components/reply/comment'
export default {
  data() {
    return {
      detailsInfo: {}, // 帖子详情
      topicId: '', // 帖子id
      timeago: '',
      reply: '',
      isOnlyLookAuth: false, // 只看楼主
      changeSort: 1, // 切换最早回复(1)和最多点赞(2)
      page: 1,
      size: 10,
      replysList: [] // 帖子的回复列表
    }
 },
  methods: {
    // 获取帖子的详情信息
    async getDetailsInfo(topicId){
      const res = await detailedPlacard(topicId)
      // console.log(res)
      if(res && res.result && res.code === 200){
        this.detailsInfo = res.result
        this.timeago = changeTimestamp(this.detailsInfo.lastReplyTime)
        // console.log(this.timeago)
      }else{
        this.$toast.fail('网络错误')
      }
    },
    // 获取该帖子下的回复列表
    async getReplysList(topicId){
      let params = {
        onlyReply: this.isOnlyLookAuth,
        orderBy: this.changeSort,
        page: this.page,
        size: this.size
      }
      console.log('sjb')
      console.log(topicId)
      console.log(params)
       const res = await replyList(topicId, params)
      // console.log(res)
      if(res && res.result && res.code === 200){
        // 对评论数据的时间做转化处理
        res.result.forEach(item => {
          item.replyDate = changeTimestamp(item.replyDate)
          item.item.forEach(child => {
            child.replyDate = changeTimestamp(child.replyDate)
          })
          return item
        })
        this.replysList = res.result
        // 对评论数据做树状处理
       /*  this.replysList = treeToList(res.result)
        flattenArray(this.replysList) */
        // console.log(this.replysList)
      }else{
        this.$toast.fail('网络错误')
      }
    },
    // 点击“只看楼主”触发的事件
    onlyLookAuth(){
      if(this.isOnlyLookAuth){
        this.isOnlyLookAuth = false
      }else{
        this.isOnlyLookAuth = true
      } 
      this.getReplysList(this.topicId)
    },
    // 点击切换“最早回复”和“最多点赞”触发的事件
    changeReplySort(){
      if(this.changeSort === 1){
        this.changeSort = 2
      }else{
        this.changeSort = 1
      }
      this.getReplysList(this.topicId)
    }
  },
  components: {
    Comment
  },
  computed: {
  ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      // return level => require(`../../../../assets/image/my_ic_lv${level}.png`)
      return level => require(`@/assets/image/my_ic_lv${level}.png`)
    }
  },
created() {
  this.topicId = this.$route.params.id
    this.getDetailsInfo(this.topicId)
    this.getReplysList(this.topicId)
  },
}

</script>
<style lang="less" scoped>
@import url('../css/public.less');
.onlyWordsDetails_container {
  background-color: #fff;
  height: 100vh;
  .returnBack {
    position: absolute;
    left: 24px;
    top: -10px;
    img {
      width: 14px;
      height: 26px;
    }
  }
  .onlyWordsDetails_title {
    width: 100%;
    height: 88px;
    background: @theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .more {
    position: absolute;
    right: 24px;
    top: -10px;
    img {
      width: 6px;
      height: 31px;
    }
  }
  .onlyWordsDetails_info {
    margin-bottom: 25px;
    h6 {
      font-size: 28px;
      font-weight: 500;
      color: #333333;
      line-height: 48px;
      margin: 28px 0 20px 24px;
    }
  }
  .wedge_ad {
    width: 100%;
    margin: 40px 0 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
