<template>
  <div class="singlePicDetails_container">
    <!-- 顶部区域 -->
    <span class="returnBack" @click="$router.back(-1)">
      <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
    </span>
    <div class="singlePicDetails_title">综合</div>
    <span class="more">
      <img :src="require('@/assets/image/home_nav_more2.png')" alt />
    </span>
    <!-- 头部区域 -->
    <div class="details_top">
      <div class="top_left">
        <img :src="topImgUrl(detailsInfo.avatar)" alt />
        <div class="user_info">
          <div class="user_name">
            {{detailsInfo.nickName}}
            <img :src="levelImgUrl(detailsInfo.level)" alt />
          </div>
          <div class="fans_count">
            粉丝数：
            <span>{{detailsInfo.fansCount}}</span>
          </div>
        </div>
      </div>
      <div class="top_right" v-if="detailsInfo.followStatus === 0">
        <van-button plain class="top_btn">关注</van-button>
      </div>
      <div class="top_right" v-else-if="detailsInfo.followStatus === 1">
        <van-button plain class="top_btn">关注</van-button>
      </div>
      <div class="top_right" v-else-if="detailsInfo.followStatus === 2">
        <van-button plain class="top_btn_done">已关注</van-button>
      </div>
      <div class="top_right" v-else-if="detailsInfo.followStatus === 3">
        <van-button plain class="top_btn_done">互相关注</van-button>
      </div>
    </div>
    <!-- 详情内容区域 -->
    <div class="videoDetails_info">
      <h6>{{detailsInfo.title}}</h6>
      <div class="info_content">{{detailsInfo.content}}</div>
      <img :src="topImgUrl(detailsInfo.images)" alt />
    </div>
    <!-- 底部区域 -->
    <div class="details_footer">
      <div class="watch_part">
        <div class="watch_count">
          <img :src="require('@/assets/image/home_ic_reading.png')" alt />
          <span>{{detailsInfo.viewCount}}</span>
        </div>
        <div class="watch_time">{{timeago}}</div>
      </div>
      <div class="img_part">
        <div class="img_item">
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
        </div>
      </div>
      <div class="like_part">
        <van-divider>有{{detailsInfo.likeCount}}人赞过</van-divider>
      </div>
    </div>
    <!-- 评论以及回复区域 -->
    <div class="wedge_ad">
      <img :src="require('@/assets/image/activity_bg_sign.png')" alt />
    </div>

    <div class="reply_part">
      <!-- 评论头部区域 -->
      <div class="replyHeader">
        <div class="all_reply">
          <span>全部回复</span>
          <span>{{detailsInfo.replyCount}}</span>
        </div>
        <div class="replyHeader_right">
          <img :src="require('@/assets/image/home_btn_only_pressed.png')" alt />
          <span>只看楼主</span>
          <span>最早回复</span>
          <img :src="require('@/assets/image/home_btn_more3.png')" alt />
        </div>
      </div>
      <!-- 评论内容区域 -->
      <Comment></Comment>
      <Reply></Reply>
      <!-- 评论尾部区域 -->
      <div class="replyFooter_container">
        <van-field class="reply_input" v-model="reply" placeholder="回复 楼主" />
        <div class="like_part" v-if="detailsInfo.isLike">
          <img :src="require('@/assets/image/home_btn_like_pressed.png')" alt />
          <span>{{detailsInfo.likeCount}}</span>
        </div>
        <div class="like_part" v-else>
          <img :src="require('@/assets/image/home_btn_like.png')" alt />
          <span>{{detailsInfo.likeCount}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { detailedPlacard } from '../../../../api/bbs'
import {changeTimestamp}  from '../../../../filters/filter'
import { createNamespacedHelpers } from 'vuex'
const { mapState:appMapState } = createNamespacedHelpers('app')
import Comment from '../../../../components/reply/comment'
import Reply from '../../../../components/reply/reply'
export default {
  data() {
    return {
      detailsInfo: {},
      timeago: '',
      replay: ''
    }
 },
  methods: {
    async getDetailsInfo(id){
      const res = await detailedPlacard(id)
      // console.log(res)
      if(res && res.result && res.code === 200){
        this.detailsInfo = res.result
        this.timeago = changeTimestamp(this.detailsInfo.lastReplyTime)
        // console.log(this.timeago)
      }else{
        this.$toast.fail('网络错误')
      }
    }
  },
  components: {
    Comment,
    Reply
  },
  computed: {
  ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`@/assets/image/my_ic_lv${level}.png`)
    }
  },
created() {
    this.getDetailsInfo(this.$route.params.id)
  },
}

</script>
<style lang="less" scoped>
@import url('../css/public.less');
.singlePicDetails_container {
  background-color: #fff;
  height: 100vh;
  .returnBack {
    position: absolute;
    left: 24px;
    top: -10px;
    img {
      width: 14px;
      height: 26px;
    }
  }
  .singlePicDetails_title {
    width: 100%;
    height: 88px;
    background: @theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .more {
    position: absolute;
    right: 24px;
    top: -10px;
    img {
      width: 6px;
      height: 31px;
    }
  }
  .singlePicDetails_info {
    padding: 0 24px;
    h6 {
      font-size: 32px;
      font-weight: bold;
      color: #333333;
      line-height: 28px;
      margin: 28px 0 20px;
    }
    .info_content {
      font-size: 28px;
      font-weight: 500;
      color: #333333;
      letter-spacing: 1px;
    }
    img {
      width: 702px;
      height: 400px;
      background: #d2d2d2;
      border-radius: 6px;
      margin: 20px 0;
    }
  }
  .wedge_ad {
    width: 100%;
    height: 200px;
    margin: 40px 0 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
