@import url('../../../assets/css/variables.less');
.news_container {
  .news_body {
    margin-top: 30px;
    padding: 0 24px 20px;
    border-bottom: 1px solid #ddd;
    .news_content {
      display: flex;
      h6 {
        font-size: 32px;
        font-weight: 500;
        color: #333333;
        line-height: 55px;
        margin: 0;
        letter-spacing: 2px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .news_img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 168px;
          height: 168px;
          background: #f2f2f2;
          border-radius: 6px;
        }
      }
    }
    .item_function {
      width: 702px;
      height: 28px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      font-size: 24px;
      font-weight: 500;
      color: #999999;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 28px;
          height: 28px;
        }
      }
      .function_right {
        display: flex;
        :nth-child(odd) {
          margin-left: 19px;
        }
      }
      .count {
        margin-left: 10px;
      }
    }
  }
}