@import url('../../../assets/css/variables.less');
.view-box {
  margin-bottom: 114px;
}
.one-Img-box {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f2f2f2;
  padding: 30px 0;
}
.one-Img {
  width: 100%;
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer {
  margin-left: 24px;
  height: 28px;
  margin-top: 24px;
  font-size: 20px;
  font-family: 'ios9SC-Medium';
  display: flex;
  color: #999999;
  .left-font {
    color: @theme-color;
    margin-right: 20px;
  }
  .rigth-middle {
    flex: 1;
    display: flex;
    img {
      width: 28px;
      height: 28px;
    }
    .text {
      margin-right: 12px;
    }
  }
}
.one-Img {
  width: 100%;
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.box {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
}
//多张图
.box-col {
  flex-direction: column;
  height: 374px;
}
//一张图
.box-wol {
  height:180px;
  padding-top: 30px;
}
.top-title {
  font-size: 28px;
  color: #333333;
  font-weight: 500;
  font-family: 'ios9SC-Medium';
}
.top-title-col {
  margin: 30px 20px 20px 24px;
  height: 76px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.content {
  width: 702px;
  max-height: 340px;
  border-radius: 6px;
  margin: 0 auto;
  display: flex;
}

.content-left {
  width: 500px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin: 0 30px 26px 24px;
}
.imgbox {
  width: 170px;
  height: 170px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}
.imgbox-rigth {
  margin-right: 8px;
}

.one-Img-box {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f2f2f2;
  padding: 30px 0;
}

.one-Text-box {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f2f2f2;
  padding: 20px 0;
}
.one-Text {
  max-height: 374px;
  margin-left: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}