<template>
  <div class="resetPassword_container">
    <span class="returnBack" @click="$router.back(-1)">
      <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
    </span>
    <div class="resetPassword_title">忘记密码</div>
    <van-form validate-first @submit="resetPassword">
      <div class="resetPassword_form">
        <van-cell-group class="form_group">
          <div class="form_item">
            <van-field
              v-model="phoneNum"
              name="phoneValidator"
              clearable
              placeholder="请输入手机号"
              :rules="[{ validator:phoneValidator, message: '手机号码格式有误！' }]"
            >
              <template #left-icon>
                <img :src="require('@/assets/image/login/login_ic_phone.png')" alt />
              </template>
            </van-field>
          </div>
          <div class="form_item">
            <van-field
              v-model="verificationCode"
              name="codeValidator"
              clearable
              center
              placeholder="请输入验证码"
            >
              <template #left-icon>
                <img :src="require('@/assets/image/login/login_ic_identifying.png')" alt />
              </template>
              <template #button>
                <div class="validator_part" @click="sendSMS" v-if="type === 'sendCode'">获取验证码</div>
                <div class="return_send" v-else>
                  <div>重新发送</div>
                  <van-count-down :time="time">
                    <template v-slot="timeData">
                      <span class="countDown">（{{ timeData.seconds }}秒）</span>
                    </template>
                  </van-count-down>
                </div>
              </template>
            </van-field>
          </div>
          <div class="form_item">
            <van-field
              v-model="password"
              name="pswValidator"
              type="password"
              clearable
              placeholder="请输入新密码"
              :rules="[{ validator:pswValidator, message: '密码格式有误！' }]"
            >
              <template #left-icon>
                <img :src="require('@/assets/image/login/login_ic_password.png')" alt />
              </template>
            </van-field>
          </div>
          <div class="form_item">
            <van-field
              v-model="newPassword"
              type="password"
              clearable
              placeholder="请再次输入密码"
              :disabled="isDisabled"
              @focus="judgePsw"
              @blur="confirmPassword"
            >
              <template #left-icon>
                <img :src="require('@/assets/image/login/login_ic_password.png')" alt />
              </template>
            </van-field>
          </div>
        </van-cell-group>
      </div>
      <div class="footer_part">
        <div class="resetPassword_btn">
          <van-button round type="info" size="large" native-type="submit">确定</van-button>
        </div>
      </div>
    </van-form>
  </div>
</template>

<script>
import { validPhoneNum, validPassword } from '../utils/validate'
import { SendCAPTCHA, CheckSMS, ResetUserPassword } from '../api/auth'
export default {
  data() {
    return {
      phoneNum: '',
      password: '',
      verificationCode: '',
      newPassword: '',
      isDisabled: false,
      time: 60 * 1000,
      type: 'sendCode',
    }
  },
  methods: {
  // 校验函数返回 true 表示校验通过，false 表示不通过
    phoneValidator(val) {
      return validPhoneNum(val)
    },
    pswValidator(val) {
      return validPassword(val)
    },
    // 发送验证码
    async sendSMS(){
      let params = {
        smsType: 'ResetLoginPassword',
        phoneNumber: this.phoneNum
      }
      if(!this.phoneNum){
        this.$toast.fail('请输入手机号...')
      }else{
        const res = await SendCAPTCHA(params)
      // console.log(res)
      if(res && res.code === 200){
          this.$toast.success('验证码发送成功')
          this.type = 'returnSend'
          setTimeout(() => {
            this.type = 'sendCode'
          }, 60 * 1000);
      }else if(res && res.code === 400){
          this.$toast.success(res.message)
      }
      }
      
    },
    // 再次输入密码聚焦时，新密码必须有内容
    judgePsw(){
      if(!this.password){
        this.$toast('请先输入新密码')
        this.isDisabled = true
      }else{
        this.isDisabled = false
      } 
        this.newPassword = ''
    },
    // 再次输入密码失焦时，确认密码是否一致
    confirmPassword(){
      this.isDisabled = false
      if(this.password !== this.newPassword){
        this.$toast.fail('密码不一致，请重新输入')
        this.password = ''
        this.newPassword = ''
      }
    },
    // 验证码的验证以及重置密码
    async resetPassword(values){
      let params = {
        smsType: 'ResetLoginPassword',
        phoneNumber: values.phoneValidator,
        validCode: values.codeValidator
      }
      if(!values.codeValidator){
        this.$toast.fail('请先获取验证码')
      }else{
        const res = await CheckSMS(params)
        // console.log(res)
      if(res && res.result){
        // 验证通过，开始重置密码
        const result = await ResetUserPassword({
          phoneNumber: values.phoneValidator,
          validCode: values.codeValidator,
          newPassword: values.pswValidator
        })
        // console.log(result)
        if(result && result.code === 200){
          this.$toast.success('重置密码成功')
          this.$router.push('/login')
        }else{
          this.$toast.fail('服务器内部错误')
          this.phoneNum = ''
          this.verificationCode = ''
          this.password = ''
          this.newPassword = ''
        }

      }else{
        this.verificationCode = ''
        this.password = ''
        this.newPassword = ''
        this.$toast.fail('验证码错误')
      }
    }
      
  } 
},
  
}
</script>
<style lang="less" scoped>
@import url('../assets/css/variables.less');
.resetPassword_container {
  background-color: #fff;
  height: 100vh;
  .returnBack {
    position: absolute;
    left: 24px;
    top: -10px;
    img {
      width: 14px;
      height: 26px;
    }
  }
  .resetPassword_title {
    width: 100%;
    height: 88px;
    background: @theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;

    font-weight: 500;
    letter-spacing: 2px;
  }

  .resetPassword_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .form_group {
      width: 80%;
      position: static;
      .form_item {
        flex: 1;
        font-size: 24px;

        font-weight: 500;
        color: rgba(153, 153, 153, 1);
        line-height: 96px;
        border-bottom: 1px solid #eee;
        .van-cell {
          font-size: 24px;

          font-weight: 500;
          color: rgba(153, 153, 153, 1);
          line-height: 96px;
          border-bottom: 1px solid #eee;
          input {
            letter-spacing: 1px;
            font-size: 24px;

            font-weight: 500;
            color: rgba(153, 153, 153, 1);
            border-right: 1px solid #bbb;
            height: 50px;
          }
          img {
            width: 26px;
            height: 36px;
            margin-right: 20px;
          }
          .validator_part {
            font-size: 24px;

            font-weight: 500;
            color: @theme-color;
            line-height: 96px;
            height: 30px;
            padding: 0 20px;
            border-left: 2px solid #bbbbbb;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .return_send {
            font-size: 24px;

            font-weight: 500;
            color: #bbbbbb;
            line-height: 96px;
            height: 30px;
            padding: 0 20px;
            border-left: 2px solid #bbbbbb;
            display: flex;
            justify-content: center;
            align-items: center;
            .countDown {
              display: inline-block;
              font-size: 24px;

              font-weight: 500;
              color: rgba(153, 153, 153, 1);
            }
          }
        }
      }
    }
  }

  .footer_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .resetPassword_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 560px;
      height: 80px;
      background: @theme-color;
      border-radius: 40px;
      .van-button--info {
        background-color: @theme-color;
        border: 0.02667rem solid @theme-color;
        letter-spacing: 4px;
        font-size: 32px;
      }
    }
  }
}
</style>
