<template>
  <div class="guideDownload_container">
    <!-- 顶部区域 -->
    <div class="guide_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>APP 下载</h6>
    </div>
    <!-- 引导内容区域 -->
    <div class="guide_body">
      <div class="guide_header">
        <div class="header_bg">
          <div class="top_logo">
            <img :src="require('@/assets/image/wall.jpg')" alt />
            <span>优友帮帮</span>
          </div>
          <div class="top_time_text">
            <img :src="require('@/assets/image/down_slogan.png')" alt />
          </div>
          <div class="top_time_img">
            <img :src="require('@/assets/image/down_ikon.png')" alt />
          </div>
        </div>
        <div class="top_forum">
          <div class="news_title">
            <p>
              案文案文案文 案文，文案文案文案文案文案文案文 案文案，案文案文案文
              案文案文案文案案文案文案文，案n文文案，文案文案文案文案文案文
            </p>
            <button>
              <span>资讯论坛</span>
            </button>
          </div>
          <div class="news_img">
            <img :src="require('@/assets/image/wall.jpg')" alt />
            <img :src="require('@/assets/image/wall.jpg')" alt />
          </div>
        </div>
        <div class="middle_forum">
          <div class="news_title">
            <button>
              <span>互助任务</span>
            </button>
            <p class="help_task">
              案文案文案文 案文，文案文案文案文案文案文案文 案文案，案文案文案文
              案文案文案文案案文案文案文，案n文文案，文案文案文案文案文案文
            </p>
          </div>
          <div class="news_img">
            <img :src="require('@/assets/image/wall.jpg')" alt />
            <img :src="require('@/assets/image/wall.jpg')" alt />
          </div>
        </div>
      </div>
    </div>
    <!-- 底部区域 -->
    <div class="guide_footer">
      <div class="guide_download">
        <van-button class="download_btn" size="large" color="#4b84e6">
          <img :src="require('@/assets/image/down_ios.png')" alt />IOS下载
        </van-button>
      </div>
      <div class="guide_download">
        <van-button class="download_btn" size="large" color="#4b84e6">
          <img :src="require('@/assets/image/down_android.png')" alt />Android下载
        </van-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
 },
  methods: {

  },
  created() {

  },

}

</script>
<style lang="less" scoped>
@import url('../assets/css/variables.less');
.guideDownload_container {
  background: linear-gradient(0deg, #e2edff 0%, #f2f7ff 100%);
  .guide_top {
    width: 100%;
    height: 88px;
    background: @theme-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .returnBack {
      position: absolute;
      left: 24px;
      top: -10px;
      img {
        width: 14px;
        height: 26px;
      }
    }
    h6 {
      margin: 28px 0;
      font-size: 32px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 1px;
    }
  }
  .guide_body {
    .guide_header {
      .header_bg {
        padding-top: 60px;
        background: url('../assets/image/down_bg.png') no-repeat center;
        background-size: cover;
        .top_logo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 86px;
          img {
            width: 150px;
            height: 150px;
            border-radius: 10px;
            margin-bottom: 20px;
          }
          span {
            font-size: 32px;
            font-weight: 500;
            color: @theme-color;
            letter-spacing: 2px;
            display: inline-block;
          }
        }
        .top_time_text {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 46px;
          img {
            height: 135px;
            width: 509px;
          }
        }
        .top_time_img {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 72px;
          img {
            width: 422px;
            height: 490px;
          }
        }
      }
      .top_forum {
        margin: 0 50px 81px;
        .news_title {
          display: flex;
          margin-bottom: 50px;
          p {
            font-size: 28px;
            font-weight: 500;
            color: #000000;
            line-height: 36px;
            margin: 0;
            margin-right: 57px;
          }
          button {
            width: 80%;
            height: 150px;
            background: linear-gradient(45deg, #4b84e6 0%, #7aa7f6 100%);
            border-radius: 10px;
            border: 1px solid @theme-color;
            font-size: 40px;
            font-weight: bold;
            color: #ffffff;
            line-height: 52px;
            letter-spacing: 13px;
            padding-left: 10px;
          }
          .help_task {
            margin: 0;
            margin-left: 57px;
          }
        }
        .news_img {
          display: flex;
          justify-content: space-between;
          align-items: center;
          img {
            width: 306px;
            height: 652px;
          }
        }
      }
      .middle_forum {
        margin: 0 50px 20px;
        .news_title {
          display: flex;
          margin-bottom: 50px;
          p {
            font-size: 28px;
            font-weight: 500;
            color: #000000;
            line-height: 36px;
            margin: 0;
            margin-right: 57px;
          }
          button {
            width: 80%;
            height: 150px;
            background: linear-gradient(45deg, #4b84e6 0%, #7aa7f6 100%);
            border-radius: 10px;
            border: 1px solid @theme-color;
            font-size: 40px;
            font-weight: bold;
            color: #ffffff;
            line-height: 52px;
            letter-spacing: 13px;
            padding-left: 10px;
          }
          .help_task {
            margin: 0;
            margin-left: 57px;
          }
        }
        .news_img {
          display: flex;
          justify-content: space-between;
          align-items: center;
          img {
            width: 306px;
            height: 652px;
          }
        }
      }
    }
  }
  .guide_footer {
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0;
    background: url('../assets/image/down_bg.png') no-repeat center;
    background-size: cover;
    .guide_download {
      display: flex;
      .download_btn {
        width: 300px;
        height: 72px;
        background: linear-gradient(#4b84e6 0%, #7aa7f6 100%);
        border-radius: 10px;
        box-shadow: 0px -5px 3px 0px rgba(75, 132, 230, 0.67) inset;
        i {
          width: 32px;
          height: 32px;
        }
        span {
          font-size: 32px;
          font-weight: bold;
          color: #ffffff;
          letter-spacing: 1px;
          margin-left: 10px;
        }
        img {
          width: 32px;
          height: 32px;
          margin-right: 10px;
        }
      }
    }
  }
}
</style>
