<template>
  <div class="login_container">
    <span class="returnBack" @click="$router.back(-1)">
      <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
    </span>
    <div class="login_header">
      <van-button plain hairline type="primary" size="small" to="register">注册</van-button>
      <div class="circle"></div>
    </div>
    <div class="login_form">
      <van-form validate-first @failed="loginFailed" @submit="loginSubmit">
        <van-cell-group>
          <div class="form_item">
            <van-field
              v-model="phoneNum"
              name="phoneValidator"
              clearable
              placeholder="请输入手机号"
              :rules="[{ validator:phoneValidator, message: '手机号码格式有误！' }]"
            >
              <template #left-icon>
                <img :src="require('@/assets/image/login/login_ic_phone.png')" alt />
              </template>
            </van-field>
          </div>
          <div class="form_item" v-if="isLogin === false">
            <van-field
              v-model="password"
              name="pswValidator"
              type="password"
              clearable
              placeholder="请输入密码"
              :rules="[{ validator:pswValidator, message: '密码格式有误！' }]"
            >
              <template #left-icon>
                <img :src="require('@/assets/image/login/login_ic_password.png')" alt />
              </template>
            </van-field>
          </div>
          <div class="form_item" v-else>
            <van-field
              v-model="verificationCode"
              clearable
              center
              placeholder="请输入验证码"
              name="codeValidator"
            >
              <template #left-icon>
                <img :src="require('@/assets/image/login/login_ic_identifying.png')" alt />
              </template>
              <template #button>
                <div class="validator_part" @click="sendSMS" v-if="type === 'sendCode'">获取验证码</div>
                <div class="return_send" v-else>
                  <div>重新发送</div>
                  <van-count-down :time="time">
                    <template v-slot="timeData">
                      <span class="countDown">（{{ timeData.seconds }}秒）</span>
                    </template>
                  </van-count-down>
                </div>
              </template>
            </van-field>
          </div>
        </van-cell-group>
        <div class="btn_part">
          <div class="login_btn">
            <van-button round type="info" size="large" native-type="submit">登录</van-button>
          </div>
          <div class="login_part">
            <span @click="gotoForgetPsw">忘记密码</span>
            <span @click="isLogin = true" v-if="isLogin === false">验证码登录</span>
            <span @click="isLogin = false" v-else>密码登录</span>
          </div>
        </div>
      </van-form>
    </div>
    <div class="login_footer">
      <!-- <div class="footer_title">
        <van-divider>第三方登录</van-divider>
      </div>
      <div class="footer_item">
        <div class="image_item">
          <img :src="require('@/assets/image/login/login_btn_qq.png')" alt />
        </div>
        <div class="image_item">
          <img :src="require('@/assets/image/login/login_btn_wechat.png')" alt />
        </div>
        <div class="image_item">
          <img :src="require('@/assets/image/login/login_btn_microblog.png')" alt />
        </div>
      </div>-->
      <div class="footer_info">
        登录代表您已同意
        <span>《用户协议》</span>和
        <span>《隐私政策》</span>
      </div>
    </div>
  </div>
</template>

<script>
import { SendCAPTCHA } from '../api/auth'
import { createNamespacedHelpers } from 'vuex'
const { mapState, mapActions } = createNamespacedHelpers('user')
import { validPhoneNum, validPassword } from '../utils/validate'
export default {
  created() {

  },
  data() {
    return {
      phoneNum: '',
      password: '',
      isLogin: false,
      verificationCode: '',
      time: 60 * 1000,
      type: 'sendCode'
    }
  },
  methods: {
    ...mapActions(['login']),
    // 校验函数返回 true 表示校验通过，false 表示不通过
    phoneValidator(val) {
      return validPhoneNum(val)
    },
    pswValidator(val) {
      return validPassword(val)
    },
    loginSubmit() {
      console.log('登录')
        console.log(this.isLogin)
      if(this.isLogin){
        var params = {
          phoneNum: this.phoneNum,
          code: this.verificationCode
        }
      }else{
        var params = {
          phoneNum: this.phoneNum,
          password: this.password
        }
      }
      console.log(params)
      this.login(params).then(res => {
        console.log(res)
        if (res.code === 200) {
          this.$notify({
            type: 'success',
            message: '成功登陆了'
          })
          this.$router.push('/')
        } else {
          this.$notify({
            type: 'danger',
            message: res.message
          })
        }
      })
    },
    // 发送验证码
    async sendSMS() {
      let params = {
        smsType: 'Login',
        phoneNumber: this.phoneNum
      }
      if (!this.phoneNum) {
        return this.$toast.fail('请输入手机号...')
      } else {
        const res = await SendCAPTCHA(params)
        // console.log(res)
        if (res && res.code === 200) {
          this.$toast.success('验证码发送成功')
          this.type = 'returnSend'
          setTimeout(() => {
            this.type = 'sendCode'
          }, 60 * 1000);
        } else if (res && res.code === 400) {
          this.$toast.success(res.message)
        }
      }

    },
    loginFailed() {
      console.log('登录失败了')
    },
    gotoForgetPsw() {
      this.$router.push('/forgetPassword')
    }
  }
}
</script>
<style lang="less" scoped>
@import url('../assets/css/variables.less');
.login_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  .returnBack {
    position: absolute;
    left: 24px;
    top: -10px;
    img {
      width: 14px;
      height: 26px;
    }
  }
  .login_header {
    height: 440px;
    margin-bottom: 10px;
    background: #fff url('../assets/image/my_bg_wallet.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .van-button--plain.van-button--primary {
      color: #fff;
      background-color: @theme-color;
      border: 1px solid rgba(255, 255, 255, 1);
      border-radius: 3px;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 5px;
      width: 118px;
      height: 50px;
    }
    .van-button {
      position: absolute;
      top: 31px;
      right: 30px;
    }
    .circle {
      width: 187px;
      height: 187px;
      background-color: #fff;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }

  .login_form {
    flex-grow: 1;
    background-color: #fff;
    .van-cell-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 0;
    }
    .van-hairline,
    .van-hairline--top,
    .van-hairline--left,
    .van-hairline--right,
    .van-hairline--bottom,
    .van-hairline--surround,
    .van-hairline--top-bottom {
      position: static;
    }
    .form_item {
      flex: 1;
      width: 80%;
      .van-cell {
        font-size: 24px;
        font-weight: 500;
        color: rgba(153, 153, 153, 1);
        line-height: 96px;
        border-bottom: 1px solid #eee;
        .validator_part {
          font-size: 24px;

          font-weight: 500;
          color: @theme-color;
          line-height: 96px;
          height: 30px;
          padding: 0 20px;
          border-left: 2px solid #bbbbbb;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .return_send {
          font-size: 24px;

          font-weight: 500;
          color: #bbbbbb;
          line-height: 96px;
          height: 30px;
          padding: 0 20px;
          border-left: 2px solid #bbbbbb;
          display: flex;
          justify-content: center;
          align-items: center;
          .countDown {
            display: inline-block;
            font-size: 24px;

            font-weight: 500;
            color: rgba(153, 153, 153, 1);
          }
        }
        input {
          letter-spacing: 1px;
        }
        img {
          width: 26px;
          height: 36px;
          margin-right: 20px;
        }
      }
    }
    .btn_part {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 0;
      .login_btn {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .van-button--info {
          border: 0.02667rem solid @theme-color;
          letter-spacing: 4px;
          width: 560px;
          height: 80px;
          background: @theme-color;
          border-radius: 40px;
          font-size: 30px;
        }
      }
      .login_part {
        flex: 1;
        display: flex;
        justify-content: space-between;
        width: 520px;
        span {
          color: #bdbdbd;
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 1px;
          line-height: 96px;
          display: inline-block;
        }
      }
    }
  }

  .login_footer {
    // height: 274px;
    width: 100%;
    position: relative;
    // bottom: 0px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    .footer_title {
      flex: 1;
      color: #bdbdbd;
      font-size: 24px;

      font-weight: 500;
      letter-spacing: 1px;
      line-height: 96px;
      display: flex;
      .van-divider {
        width: 380px;
        font-size: 24px;

        font-weight: 500;
        color: rgba(170, 170, 170, 1);
        line-height: 96px;
      }
    }
    .footer_item {
      flex: 1;
      display: flex;
      justify-content: space-around;
      width: 75%;
      img {
        width: 64px;
        height: 64px;
        background: rgba(255, 255, 255, 1);
        border-radius: 50%;
      }
    }
    .footer_info {
      flex: 1;
      color: #bdbdbd;
      letter-spacing: 1px;
      font-size: 24px;

      font-weight: 500;
      span {
        color: @theme-color;
      }
    }
  }
}
</style>
