<template>
  <div class="register_container">
    <span class="returnBack" @click="$router.back(-1)">
      <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
    </span>
    <div class="register_title">注册</div>
    <van-form validate-first @submit="registerSubmit" validate-trigger="onBlur">
      <div class="register_form">
        <van-cell-group class="form_group">
          <div class="form_item">
            <van-field
              v-model="phoneNum"
              name="phoneValidator"
              clearable
              placeholder="请输入手机号"
              :rules="[{ validator:phoneValidator, message: '手机号码格式有误！'}]"
            >
              <template #left-icon>
                <img :src="require('@/assets/image/login/login_ic_phone.png')" alt />
              </template>
            </van-field>
          </div>
          <div class="form_item">
            <van-field
              v-model="verificationCode"
              clearable
              center
              placeholder="请输入验证码"
              name="codeValidator"
            >
              <template #left-icon>
                <img :src="require('@/assets/image/login/login_ic_identifying.png')" alt />
              </template>
              <template #button>
                <div class="validator_part" @click="sendSMS" v-if="type === 'sendCode'">获取验证码</div>
                <div class="return_send" v-else>
                  <div>重新发送</div>
                  <van-count-down :time="time">
                    <template v-slot="timeData">
                      <span class="countDown">（{{ timeData.seconds }}秒）</span>
                    </template>
                  </van-count-down>
                </div>
              </template>
            </van-field>
          </div>
          <div class="form_item">
            <van-field
              v-model="password"
              name="pswValidator"
              type="password"
              clearable
              placeholder="请输入密码"
              :rules="[{ validator:pswValidator, message: '密码格式有误！' }]"
            >
              <template #left-icon>
                <img :src="require('@/assets/image/login/login_ic_password.png')" alt />
              </template>
            </van-field>
          </div>
        </van-cell-group>
      </div>
      <div class="register_footer">
        <div class="register_btn">
          <van-button round type="info" size="large" native-type="submit">注册</van-button>
        </div>
        <div class="footer_info">
          注册代表您已阅读并同意
          <span>《用户协议》</span>
        </div>
      </div>
    </van-form>
  </div>
</template>

<script>
import { validPhoneNum, validPassword } from '../utils/validate'
import { SendCAPTCHA, CheckSMS, Register } from '../api/auth'
export default {
  data() {
    return {
      phoneNum: '',
      password: '',
      verificationCode: '',
      time: 60 * 1000,
      type: 'sendCode',
    }
  },
  methods: {
    // 校验函数返回 true 表示校验通过，false 表示不通过
    phoneValidator(val) {
      return validPhoneNum(val)
    },
    pswValidator(val) {
      return validPassword(val)
    },
    // 发送验证码
    async sendSMS() {
      let params = {
        smsType: 'Register',
        phoneNumber: this.phoneNum
      }
      if (!this.phoneNum) {
        return this.$toast.fail('请输入手机号...')
      } else {
        const res = await SendCAPTCHA(params)
        // console.log(res)
        if (res && res.code === 200) {
          this.$toast.success('验证码发送成功')
          this.type = 'returnSend'
          setTimeout(() => {
            this.type = 'sendCode'
          }, 60 * 1000);
        } else if (res && res.code === 400) {
          this.$toast.success(res.message)
        }
      }

    },
    // 验证码的验证以及用户注册
    async registerSubmit(values) {
      // console.log(values)
      let params = {
        smsType: 'Register',
        phoneNumber: values.phoneValidator,
        validCode: values.codeValidator
      }
      if (!values.codeValidator) {
        this.$toast.fail('请先获取验证码')
      } else {
        const res = await CheckSMS(params)
        // console.log(res)
        if (res && res.result) {
          // 验证通过，开始注册
          const result = await Register({
            password: values.pswValidator,
            phoneNum: values.phoneValidator,
            code: values.codeValidator
          })
          // console.log(result)
          if (result && result.code === 200) {
            this.$toast.success('注册成功')
            this.$router.push('/login')
          } else {
            this.$toast.fail('服务器内部错误')
            this.phoneNum = ''
            this.verificationCode = ''
            this.password = ''
          }
        } else {
          this.verificationCode = ''
          this.password = ''
          this.$toast.fail('验证码错误')
        }
      }

    }
  },

}

</script>
<style lang="less" scoped>
@import url('../assets/css/variables.less');
.register_container {
  background-color: #fff;
  height: 100vh;
  .returnBack {
    position: absolute;
    left: 24px;
    top: -10px;
    img {
      width: 14px;
      height: 26px;
    }
  }
  .register_title {
    width: 100%;
    height: 88px;
    background: @theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;

    font-weight: 500;
    letter-spacing: 2px;
  }

  .register_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .form_group {
      width: 80%;
      position: static;
      .form_item {
        flex: 1;
        .van-cell {
          font-size: 24px;

          font-weight: 500;
          color: rgba(153, 153, 153, 1);
          line-height: 96px;
          border-bottom: 1px solid #eee;
          .validator_part {
            font-size: 24px;

            font-weight: 500;
            color: @theme-color;
            line-height: 96px;
            height: 30px;
            padding: 0 20px;
            border-left: 2px solid #bbbbbb;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .return_send {
            font-size: 24px;

            font-weight: 500;
            color: #bbbbbb;
            line-height: 96px;
            height: 30px;
            padding: 0 20px;
            border-left: 2px solid #bbbbbb;
            display: flex;
            justify-content: center;
            align-items: center;
            .countDown {
              display: inline-block;
              font-size: 24px;

              font-weight: 500;
              color: rgba(153, 153, 153, 1);
            }
          }
          input {
            letter-spacing: 1px;
          }
          img {
            width: 26px;
            height: 36px;
            margin-right: 20px;
          }
        }
      }
    }
  }

  .register_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .register_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 560px;
      height: 80px;
      background: @theme-color;
      border-radius: 40px;
      .van-button--info {
        background-color: @theme-color;
        border: 0.02667rem solid @theme-color;
        letter-spacing: 4px;
        font-size: 32px;
      }
    }
    .footer_info {
      font-size: 24px;

      font-weight: 500;
      color: rgba(153, 153, 153, 1);
      line-height: 96px;
      span {
        color: @theme-color;
      }
    }
  }
}
</style>
