<template>
  <div class="test">
    <p>我是测试分支的内容</p>
    <p>测试一下是否能重置commit</p>
  </div>
</template>

<script>
export default {
    created() {

    },
    data() {
        return {
            
        }
    },
    methods: {
    }

}

</script>
<style lang="scss" scoped>
</style>
