<template>
  <div class="user_container">
    <div class="no_reply" v-if="replysList.length === 0">
      <img :src="require('@/assets/image/home_bg_comment.png')" alt />
      <span>暂时还没有评论~</span>
    </div>
    <div class="reply_container" v-else>
      <div class="comment_item" v-for="item in replysList" :key="item.id">
        <div class="division"></div>
        <!-- 用户评论区域 -->
        <div class="comment_container">
          <div class="user_info">
            <div class="user_details">
              <div class="user_head">
                <img :src="topImgUrl(item.replyAvatar)" alt />
              </div>
              <div class="user_part">
                <div class="user_name">
                  <span>{{item.replyNickName}}</span>
                  <img :src="levelImgUrl(item.replyLevel)" alt />
                </div>
                <!-- <div class="floor">12楼</div> -->
              </div>
            </div>
            <img class="more" :src="require('@/assets/image/home_btn_more1.png')" alt />
          </div>
          <div class="comment_content">
            <p>{{item.content}}</p>
          </div>
          <div class="comment_footer">
            <div class="comment_time">{{item.replyDate}}</div>
            <div class="comment_count">
              <img
                :src="require('@/assets/image/home_btn_like_pressed.png')"
                v-if="item.isLike"
                alt
              />
              <img :src="require('@/assets/image/home_btn_like.png')" v-else alt />
              <span>{{item.likeCount}}</span>
              <img :src="require('@/assets/image/home_btn_comments.png')" alt />
              <span>{{item.likeCount}}</span>
            </div>
          </div>
        </div>
        <!-- 用户回复评论区域 -->
        <div class="reply_container" v-for="child in item.item" :key="child.id">
          <div class="division"></div>
          <div class="user_info">
            <div class="user_details">
              <div class="user_head">
                <img :src="topImgUrl(child.replyAvatar)" alt />
              </div>
              <div class="user_part">
                <div class="user_name">
                  <span>{{child.replyNickName}}</span>
                  <img :src="levelImgUrl(child.replyLevel)" alt />
                </div>
                <!-- <div class="floor">12楼</div> -->
              </div>
            </div>
            <img class="more" :src="require('@/assets/image/home_btn_more1.png')" alt />
          </div>
          <div class="reply_content">
            <p>{{child.content}}</p>
          </div>
          <div class="reply_footer">
            <div class="reply_time">{{child.replyDate}}</div>
            <div class="reply_count">
              <img
                :src="require('@/assets/image/home_btn_like_pressed.png')"
                v-if="item.isLike"
                alt
              />
              <img :src="require('@/assets/image/home_btn_like.png')" v-else alt />
              <span>{{child.likeCount}}</span>
              <img :src="require('@/assets/image/home_btn_comments.png')" alt />
              <span>{{child.likeCount}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState:appMapState } = createNamespacedHelpers('app')
export default {
  props: ['replysList'],
  data() {
    return {
    }
 },
  methods: {

  },
  computed: {
  ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`@/assets/image/my_ic_lv${level}.png`)
    }
  },
  created() {

  }
}

</script>
<style lang="less" scoped>
.user_container {
  .no_reply {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    img {
      width: 310px;
      height: 229px;
    }
    span {
      font-size: 24px;
      font-weight: 500;
      color: #666666;
      letter-spacing: 1px;
      display: inline-block;
      margin-top: 33px;
    }
  }
  .comment_item {
    margin-bottom: 30px;
    .division {
      width: 100%;
      height: 1px;
      opacity: 0.4;
      background: #d2d2d2;
    }
    .comment_container {
      width: 100%;
      .user_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user_details {
          display: flex;
          margin-left: 24px;
          margin-top: 20px;
          .user_head {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 64px;
              height: 64px;
              background: #f2f2f2;
              border-radius: 32px;
            }
          }
          .user_part {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 19px;
            .user_name {
              display: flex;
              justify-content: center;
              align-items: center;
              span {
                font-size: 28px;
                font-weight: bold;
                color: #333333;
                line-height: 28px;
                display: inline-block;
              }
              img {
                width: 30px;
                height: 15px;
                margin-left: 5px;
              }
            }
            .floor {
              font-size: 24px;
              font-weight: 400;
              color: #999999;
              line-height: 28px;
              margin-top: 9px;
            }
          }
        }
        .more {
          width: 6px;
          height: 31px;
          margin-right: 24px;
        }
      }
      .comment_content {
        padding: 20px 37px 23px 85px;
        p {
          font-size: 24px;
          font-weight: 500;
          color: #333333;
          margin: 0;
          padding: 0;
          letter-spacing: 1px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      .comment_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .comment_time {
          font-size: 24px;
          font-weight: 500;
          color: #999999;
          margin-left: 86px;
          letter-spacing: 3px;
        }
        .comment_count {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 28px;
            height: 28px;
          }
          span {
            font-size: 24px;
            font-weight: 500;
            color: #999999;
            margin-left: 10px;
            margin-right: 24px;
            display: inline-block;
          }
        }
      }
    }
    .reply_container {
      padding-left: 58px;
      margin-top: 20px;
      .user_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user_details {
          display: flex;
          margin-left: 24px;
          margin-top: 20px;
          .user_head {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 64px;
              height: 64px;
              background: #f2f2f2;
              border-radius: 32px;
            }
          }
          .user_part {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 19px;
            .user_name {
              display: flex;
              justify-content: center;
              align-items: center;
              span {
                font-size: 28px;
                font-weight: bold;
                color: #333333;
                line-height: 28px;
                display: inline-block;
              }
              img {
                width: 30px;
                height: 15px;
                margin-left: 5px;
              }
            }
            .floor {
              font-size: 24px;
              font-weight: 400;
              color: #999999;
              line-height: 28px;
              margin-top: 9px;
            }
          }
        }
        .more {
          width: 6px;
          height: 31px;
          margin-right: 24px;
        }
      }
      .reply_content {
        padding: 20px 37px 23px 85px;
        p {
          font-size: 24px;
          font-weight: 500;
          color: #333333;
          margin: 0;
          padding: 0;
          letter-spacing: 1px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      .reply_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .reply_time {
          font-size: 24px;
          font-weight: 500;
          color: #999999;
          margin-left: 86px;
          letter-spacing: 3px;
        }
        .reply_count {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 28px;
            height: 28px;
          }
          span {
            font-size: 24px;
            font-weight: 500;
            color: #999999;
            margin-left: 10px;
            margin-right: 24px;
            display: inline-block;
          }
        }
      }
    }
  }
}
</style>
