<template>
  <div class="replyHeader">
    <div class="all_reply">
      <span>全部回复</span>
      <span>159</span>
    </div>
    <div class="replyHeader_right">
      <img src="../../assets/image/home_btn_only_pressed.png" alt />
      <span>只看楼主</span>
      <span>最早回复</span>
      <img src="../../assets/image/home_btn_more3.png" alt />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
 },
  methods: {

  },
  created() {

  },

}

</script>
<style lang="less" scoped>
.replyHeader {
  width: 708px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
  .all_reply {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 28px;
      font-weight: bold;
      color: #000000;
      line-height: 28px;
      display: inline-block;
    }
    :last-child {
      font-weight: normal;
      margin-left: 12px;
    }
  }
  .replyHeader_right {
    display: flex;
    justify-content: center;
    align-items: center;
    :first-child {
      width: 22px;
      height: 22px;
    }
    span {
      font-size: 24px;
      font-weight: 500;
      color: #666666;
      line-height: 28px;
      display: inline-block;
      margin: 0 9px;
    }
    :last-child {
      width: 12px;
      height: 7px;
    }
  }
}
</style>
