<template>
  <div class="reply_container">
    <van-divider />
    <div class="user_info">
      <div class="user_details">
        <div class="user_head">
          <img src="../../assets/image/wall.jpg" alt />
        </div>
        <div class="user_part">
          <div class="user_name">
            <span>巴拉巴拉</span>
            <img src="../../assets/image/my_ic_lv1.png" alt />
          </div>
          <div class="floor">12楼</div>
        </div>
      </div>
      <img class="more" src="../../assets/image/home_btn_more1.png" alt />
    </div>
    <div class="reply_content">
      <p>首先大家一定要少抽点2700，尽可能的把钻石用在购买，兑换三大资源，但是别买300钻的粉，粉靠五级悬赏后用钻刷，看能力刷新商店购买，那么就不存在什么卡粉，卡经验，卡金币的问题了。然后就可以开始......</p>
    </div>
    <div class="reply_footer">
      <div class="reply_time">2小时前</div>
      <div class="reply_count">
        <img src="../../assets/image/home_btn_like.png" alt />
        <span>59</span>
        <img src="../../assets/image/home_btn_comments.png" alt />
        <span>59</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
 },
  methods: {

  },
  created() {

  },

}

</script>
<style lang="less" scoped>
.reply_container {
  height: 230px;
  padding: 0 0 24px 58px;
  // border-top: 1px solid #e6e6e6;
  .user_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user_details {
      display: flex;
      margin-left: 24px;
      .user_head {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 64px;
          height: 64px;
          background: #f2f2f2;
          border-radius: 32px;
        }
      }
      .user_part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 19px;
        .user_name {
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 28px;
            font-weight: bold;
            color: #333333;
            line-height: 28px;
            display: inline-block;
          }
          img {
            width: 30px;
            height: 15px;
            margin-left: 5px;
          }
        }
        .floor {
          font-size: 24px;
          font-weight: 400;
          color: #999999;
          line-height: 28px;
          margin-top: 9px;
        }
      }
    }
    .more {
      width: 6px;
      height: 31px;
      margin-right: 24px;
    }
  }
  .reply_content {
    padding: 20px 37px 23px 85px;
    p {
      font-size: 24px;
      font-weight: 500;
      color: #333333;
      margin: 0;
      padding: 0;
      letter-spacing: 1px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .reply_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .reply_time {
      font-size: 24px;
      font-weight: 500;
      color: #999999;
      margin-left: 86px;
      letter-spacing: 3px;
    }
    .reply_count {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 28px;
        height: 28px;
      }
      span {
        font-size: 24px;
        font-weight: 500;
        color: #999999;
        margin-left: 10px;
        margin-right: 24px;
        display: inline-block;
      }
    }
  }
}
</style>
