<template>
  <div class="replyFooter_container">
    <van-field class="reply_input" v-model="reply" placeholder="回复 楼主" />
    <div class="like_part">
      <img src="../../assets/image/home_btn_like_pressed.png" alt />
      <span>59</span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      reply: ''
    }
 },
  methods: {

  },
  created() {

  },

}

</script>
<style lang="less" scoped>
.replyFooter_container {
  width: 750px;
  height: 98px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .reply_input {
    width: 598px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #cecece;
    margin-left: 24px;
    border-radius: 24px;
  }
  .like_part {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 28px;
      height: 28px;
    }
    span {
      font-size: 24px;
      font-weight: 500;
      color: #999999;
      margin: 0 24px 0 10px;
    }
  }
}
</style>
