<template>
  <div class="softwareUpdate_container">
    <!-- 顶部区域 -->
    <div class="update_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>系统设置</h6>
    </div>
    <!-- logo区域 -->
    <div class="update_logo">
      <img src alt />
      <h6>产品名字</h6>
    </div>
    <!-- 内容区域 -->
    <div class="update_body">
      <div class="division"></div>
      <div class="update_item" @click="checkNewVersion">
        <h6>检查新版本</h6>
        <img :src="require('@/assets/image/my_btn_extension.png')" alt />
      </div>
      <div class="division"></div>
      <div class="update_item">
        <h6>服务协议</h6>
        <img :src="require('@/assets/image/my_btn_extension.png')" alt />
      </div>
      <div class="division"></div>
      <div class="update_item">
        <h6>隐私政策</h6>
        <img :src="require('@/assets/image/my_btn_extension.png')" alt />
      </div>
      <div class="division"></div>
    </div>
    <!-- 展示文字遮罩区域 -->
    <van-overlay :show="showText" @click.stop="showText = false">
      <div class="shade_wrapper" @click.stop="showText = false">
        <div class="shade_content">
          <p>正在获取最新版本信息...</p>
        </div>
      </div>
    </van-overlay>
    <!-- 有新版本信息遮罩区域 -->
    <van-overlay :show="isNewVersion" @click.stop="isNewVersion = false">
      <div class="new_version_wrapper" @click.stop="isNewVersion = false">
        <div class="new_version_content">
          <div class="new_version_top">
            <h5>新版本上线啦</h5>
            <h6>建议您在Wi-Fi下下载新版本</h6>
          </div>
          <div class="new_version_main">
            <p>1.更新功能更新功能1</p>
            <button>立即升级</button>
          </div>
        </div>
      </div>
    </van-overlay>
  </div>
</template>

<script>
import { checkVersion } from '@/api/file'
export default {
  data() {
    return {
      showText: false,
      isNewVersion: false,
      newVersionInfo: {}
    }
 },
  methods: {
    async checkNewVersion(){
      // this.showText = true
      this.isNewVersion = true
      /* const res = await checkVersion()
      if(res && res.code === 200){
        if(res.result.updateAvailable){
          this.showText = false
          this.isNewVersion = true
          this.newVersionInfo = res.result
        }
      }else{
        this.showText = false
        return this.$toast.fail('网络错误')
      } */
    }
  },
  created() {

  },

}

</script>
<style lang="less" scoped>
@import url('../../../assets/css/variables.less');
.softwareUpdate_container {
  height: 100vh;
  background-color: #fff;
  .update_top {
    width: 100%;
    height: 88px;
    background: @theme-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .returnBack {
      position: absolute;
      left: 24px;
      top: -10px;
      img {
        width: 14px;
        height: 26px;
      }
    }
    h6 {
      margin: 28px 0;
      font-size: 32px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 3px;
    }
  }
  .update_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    img {
      width: 124px;
      height: 124px;
      background-color: @theme-color;
      border-radius: 6px;
      margin: 20px 0 18px;
    }
    h6 {
      font-size: 28px;
      font-weight: 500;
      color: #000000;
      margin: 0;
      letter-spacing: 1px;
    }
  }
  .update_body {
    .update_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 33px 64px 31px;
      h6 {
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        line-height: 28px;
        margin: 0;
        letter-spacing: 2px;
      }
      img {
        width: 14px;
        height: 25px;
      }
    }
    .division {
      width: 750px;
      height: 2px;
      opacity: 0.4;
      background: #f2f2f2;
    }
  }
  .shade_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .shade_content {
      width: 560px;
      height: 140px;
      background: #ffffff;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
        font-size: 28px;
        font-weight: 500;
        color: #000000;
        letter-spacing: 1px;
      }
    }
  }
  .new_version_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .new_version_content {
      width: 560px;
      height: 680px;
      background: #ffffff;
      border-radius: 6px;
      position: relative;
      .new_version_top {
        width: 100%;
        height: 260px;
        background: url('../../../assets/image/my_bg_update.png') no-repeat center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h6 {
          font-size: 20px;
          font-family: SourceHanSansCN Bold, SourceHanSansCN Bold-Bold;
          font-weight: Normal;
          color: #c9e0fe;
          margin: 0;
          margin-bottom: 110px;
          letter-spacing: 1px;
        }
        h5 {
          font-size: 32px;
          font-family: SourceHanSansCN Bold, SourceHanSansCN Bold-Bold;
          font-weight: 700;
          color: #fefefe;
          letter-spacing: 3px;
          text-shadow: 4px 2px 1px 8px rgba(34, 76, 234, 0.46);
          margin: 60px 0 40px;
        }
      }
      .new_version_main {
        p {
          font-size: 24px;
          font-weight: 500;
          color: #333333;
          letter-spacing: 1px;
          margin: 80px 0 0;
          text-align: center;
        }
        button {
          width: 270px;
          height: 62px;
          background: @theme-color;
          border-radius: 6px;
          font-size: 28px;
          font-weight: 500;
          color: #ffffff;
          border: none;
          position: absolute;
          bottom: 31px;
          left: 145px;
        }
      }
    }
  }
}
</style>
