<template>
  <div class="system_container">
    <!-- 顶部区域 -->
    <div class="system_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>系统设置</h6>
    </div>
    <!-- 内容区域 -->
    <div class="system_body">
      <div class="system_item" @click="$router.push('/guideDownload')">
        <h6>账号与安全</h6>
        <img :src="require('@/assets/image/my_btn_extension.png')" alt />
      </div>
      <div class="division"></div>
      <div class="system_item" @click="$router.push('/about/system/softwareUpdate')">
        <h6>关于论坛</h6>
        <img :src="require('@/assets/image/my_btn_extension.png')" alt />
      </div>
      <button v-if="!token" class="login" @click="$router.push('/login')">登录</button>
      <button v-else class="logout" @click="handleLogout">退出登录</button>
    </div>
  </div>
</template>

<script>
import { logout } from '@/api/auth'
import { createNamespacedHelpers } from 'vuex';
const { mapState: userMapState } = createNamespacedHelpers('user')
export default {
  data() {
    return {

    }
 },
  methods: {
    async handleLogout(){
      const res = await logout()
      if(res && res.code === 200){
        this.$notify({ type: 'danger', message: '已退出登录' })
        localStorage.removeItem('user_Info')
        /* localStorage.removeItem('user_body')
        localStorage.removeItem('user_status') */
        this.$router.push('/home')
        this.$router.go(0) // 切换空白页？？？

      }
    }
  },
  computed: {
    ...userMapState(['token'])
  },
  created() {
    console.log(this.token)
  },
}

</script>
<style lang="less" scoped>
@import url('../../../assets/css/variables.less');
.system_container {
  height: 100vh;
  background-color: #f2f2f2;
  .system_top {
    width: 100%;
    height: 88px;
    background: @theme-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .returnBack {
      position: absolute;
      left: 24px;
      top: -10px;
      img {
        width: 14px;
        height: 26px;
      }
    }
    h6 {
      margin: 28px 0;
      font-size: 32px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 3px;
    }
  }
  .system_body {
    .system_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 33px 24px 31px;
      h6 {
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        line-height: 28px;
        margin: 0;
        letter-spacing: 2px;
      }
      img {
        width: 14px;
        height: 25px;
      }
    }
    .division {
      width: 750px;
      height: 2px;
      background: #f2f2f2;
    }
    .logout {
      width: 100%;
      height: 64px;
      background: #ffffff;
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      color: #ff1313;
      line-height: 28px;
      border: none;
      letter-spacing: 2px;
    }
    .login {
      width: 100%;
      height: 64px;
      background: @theme-color;
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      color: #ffffff;
      line-height: 28px;
      border: none;
      letter-spacing: 2px;
    }
  }
}
</style>
