<template>
  <div class="finishInvite_container">
    <span class="returnBack" @click="$router.back(-1)">
      <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
    </span>
    <!-- 完成填写邀请码头部区域 -->
    <div class="finishInvite_title">
      <h3>填写邀请码领金币</h3>
    </div>
    <!-- 完成填写邀请码主体区域 -->
    <div class="finishInvite_body">
      <div class="invite_img">
        <img :src="require('@/assets/image/activity_ic_integral.png')" alt />
      </div>
      <div class="invite_footer">
        <div class="invite_message">
          <span>您已填写邀请码</span>
        </div>
        <div class="invite_info">
          <span>邀请人：有点甜~</span>
          <span>邀请码：123456</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    data() {
      return {
      }
    },
    methods: {

    }
}

</script>
<style lang="less" scoped>
@import url('../../assets/css/variables.less');
.finishInvite_container {
  height: 100vh;
  .returnBack {
    position: absolute;
    left: 24px;
    top: -10px;
    img {
      width: 14px;
      height: 26px;
    }
  }
  .finishInvite_title {
    width: 750px;
    height: 88px;
    background: @theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      margin: 0;
      font-size: 32px;
      font-family: ios9SC-Medium Medium, ios9SC-Medium Medium-Medium;
      font-weight: 500;
      text-align: center;
      color: #ffffff;
    }
  }
  .finishInvite_body {
    .invite_img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 135px;
      img {
        width: 143px;
        height: 143px;
      }
    }
    .invite_footer {
      margin-top: 74px;
      .invite_message {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          color: #000000;
        }
      }
      .invite_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      span {
        display: inline-block;
        font-size: 24px;
        font-family: ios9SC-Regular Regular, ios9SC-Regular Regular-Regular;
        font-weight: bold;
        color: #999999;
        margin-top: 44px;
        letter-spacing: 1px;
      }
    }
  }
}
</style>
