<template>
  <div class="writeInvite_container">
    <span class="returnBack" @click="$router.back(-1)">
      <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
    </span>
    <!-- 填写邀请码头部区域 -->
    <div class="writeInvite_title">
      <h3>填写邀请码领金币</h3>
    </div>
    <!-- 填写邀请码主体区域 -->
    <div class="writeInvite_body">
      <div class="invite_img">
        <img :src="require('@/assets/image/activity_ic_integral.png')" alt />
      </div>
      <div class="invite_code">
        <span>填写邀请人的邀请码</span>
        <van-field placeholder="请输入" v-model="inviteCode" />
      </div>
      <div class="invite_footer">
        <div class="invite_btn">
          <van-button type="info" @click="inviteCodeSubmit">提交领金币</van-button>
        </div>
        <div class="invite_info">
          <span>您的朋友填写您的邀请码，您可以获得1666金币，</span>
          <span>您的朋友可以获得500金币。快去邀请朋友下载吧。</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { setInviteStatus } from '../../api/activity'
export default {
    data() {
      return {
        inviteCode: ''
      }
    },
    methods: {
      // 填写邀请码
      async inviteCodeSubmit(){
        const res = await setInviteStatus(this.inviteCode)
        console.log(res)
        if(res && res.code === 200){
          this.$toast.success('填写成功')
          this.$router.push('finishInvite')
        }else if(res && res.code === 400){
          this.$toast.fail('邀请码错误,请重新输入')
        }else{ 
          this.$toast.fail('网络错误')
        }
          this.inviteCode =''
      },

    }
}

</script>
<style lang="less" scoped>
@import url('../../assets/css/variables.less');
.writeInvite_container {
  height: 100vh;
  .returnBack {
    position: absolute;
    left: 24px;
    top: -10px;
    img {
      width: 14px;
      height: 26px;
    }
  }
  .writeInvite_title {
    width: 750px;
    height: 88px;
    background: @theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      margin: 0;
      font-size: 32px;
      font-family: ios9SC-Medium Medium, ios9SC-Medium Medium-Medium;
      font-weight: 500;
      text-align: center;
      color: #ffffff;
    }
  }
  .writeInvite_body {
    .invite_img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 135px;
      img {
        width: 132px;
        height: 132px;
      }
    }
    .invite_code {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 74px 0;
      span {
        display: inline-block;
        font-size: 24px;
        font-family: ios9SC-Regular Regular, ios9SC-Regular Regular-Regular;
        font-weight: bold;
        text-align: left;
        color: #999999;
        letter-spacing: 1px;
        margin-bottom: 21px;
      }
      .van-cell {
        width: 360px;
        height: 70px;
        background: #f2f2f2;
        border-radius: 6px;
        font-size: 24px;
        font-family: ios9SC-Regular Regular, ios9SC-Regular Regular-Regular;
        font-weight: bold;
        color: #999999;
        /deep/ input {
          text-align: center;
          letter-spacing: 1px;
        }
      }
    }
    .invite_footer {
      .invite_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          width: 702px;
          height: 72px;
          background: @theme-color;
          border-radius: 10px;
          border: 1px solid @theme-color;
          font-size: 32px;
          font-family: ios9SC-Medium Medium, ios9SC-Medium Medium-Medium;
          font-weight: bold;
          color: #ffffff;
          letter-spacing: 3px;
        }
      }
      .invite_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          display: inline-block;
          font-size: 24px;
          font-family: ios9SC-Regular Regular, ios9SC-Regular Regular-Regular;
          font-weight: bold;
          color: #999999;
          margin-top: 20px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
</style>
