@import url('../../../../assets/css/variables.less');
@import url('../../../../components//reply/css/public.less');
// 详情页面的头部样式
/deep/.details_top {
  width: 702px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  margin: 30px 24px 28px;
  .top_left {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
    .user_info {
      margin-left: 20px;
      .user_name {
        font-size: 28px;
        font-weight: bold;
        color: #333333;
        line-height: 28px;
        letter-spacing: 1px;
        img {
          width: 30px;
          height: 15px;
        }
      }
      .fans_count {
        font-size: 22px;
        font-weight: 400;
        color: #999999;
        line-height: 28px;
        margin-top: 12px;
        span {
          color: #fe8d5f;
        }
      }
    }
  }
  .top_right {
    display: flex;
    justify-content: center;
    align-items: center;
    .top_btn {
      width: 130px;
      height: 44px;
      background: #ffffff;
      border: 1px solid @theme-color;
      border-radius: 6px;
      font-size: 24px;
      font-weight: bold;
      color: @theme-color;
    }
    .top_btn_done {
      width: 130px;
      height: 44px;
      background: #ffffff;
      border: 1px solid #bbbbbb;
      border-radius: 6px;
      font-size: 24px;
      font-weight: bold;
      color: #999999;
    }
  }
}
// 详情页面的尾部样式
/deep/.details_footer {
  background-color: #fff;
  .watch_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #999999;
    margin: 0 24px;
    .watch_count {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 29px;
        height: 28px;
      }
      span {
        display: inline-block;
        line-height: 28px;
        margin-left: 10px;
      }
    }
    .watch_time {
      letter-spacing: 3px;
    }
  }
  .img_part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px 0 20px;
    .img_item {
      margin-left: 20px;
      img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
      }
    }
  }
  .like_part {
    display: flex;
    justify-content: center;
    .van-divider {
      width: 519px;
      font-size: 24px;
      font-weight: 500;
      color: #999999;
      border-color: #bfbfbf;
    }
  }
}