<template>
  <div class="videoDetails_container">
    <!-- 顶部区域 -->
    <span class="returnBack" @click="$router.back(-1)">
      <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
    </span>
    <div class="videoDetails_title">视频</div>
    <span class="more">
      <img :src="require('@/assets/image/home_nav_more2.png')" alt />
    </span>
    <!-- 头部区域 -->
    <div class="details_top">
      <div class="top_left">
        <img :src="require('@/assets/image/wall.jpg')" alt />
        <div class="user_info">
          <div class="user_name">
            玩游戏最重要的是开心
            <img :src="require('@/assets/image/my_ic_lv1.png')" alt />
          </div>
          <div class="fans_count">
            粉丝数：
            <span>999</span>
          </div>
        </div>
      </div>
      <div class="top_right">
        <van-button plain class="top_btn">关注</van-button>
      </div>
    </div>
    <!-- 详情内容区域 -->
    <div class="videoDetails_info">
      <h6>适合蜜月旅行的5个地方，你喜欢那个？</h6>
      <div class="info_content"></div>
    </div>
    <!-- 底部区域 -->
    <div class="details_footer">
      <div class="watch_part">
        <div class="watch_count">
          <img :src="require('@/assets/image/home_ic_reading.png')" alt />
          <span>159</span>
        </div>
        <div class="watch_time">5小时前</div>
      </div>
      <div class="img_part">
        <div class="img_item">
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
        </div>
      </div>
      <div class="like_part">
        <van-divider>有257人赞过</van-divider>
      </div>
    </div>
    <!-- 评论以及回复区域 -->
    <div class="wedge_ad">
      <img :src="require('@/assets/image/wall.jpg')" alt />
    </div>
    <div class="reply_part">
      <!-- 评论头部区域 -->
      <div class="replyHeader">
        <div class="all_reply">
          <span>全部回复</span>
          <span>145</span>
        </div>
        <div class="replyHeader_right">
          <img :src="require('@/assets/image/home_btn_only_pressed.png')" alt />
          <span>只看楼主</span>
          <span>最早回复</span>
          <img :src="require('@/assets/image/home_btn_more3.png')" alt />
        </div>
      </div>
      <!-- 评论内容区域 -->
      <Comment></Comment>
      <Reply></Reply>
      <!-- 评论尾部区域 -->
      <div class="replyFooter_container">
        <van-field class="reply_input" v-model="reply" placeholder="回复 楼主" />
        <div class="like_part">
          <img :src="require('@/assets/image/home_btn_like.png')" alt />
          <span>12</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Comment from '../../../../components/reply/comment'
import Reply from '../../../../components/reply/reply'
export default {
  data() {
    return {

    }
 },
  methods: {

  },
  created() {

  },
  components: {
    Comment,
    Reply
  }
}

</script>
<style lang="less" scoped>
@import url('../css/public.less');
.videoDetails_container {
  background-color: #fff;
  height: 100vh;
  .returnBack {
    position: absolute;
    left: 24px;
    top: -10px;
    img {
      width: 14px;
      height: 26px;
    }
  }
  .videoDetails_title {
    width: 100%;
    height: 88px;
    background: @theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .more {
    position: absolute;
    right: 24px;
    top: -10px;
    img {
      width: 6px;
      height: 31px;
    }
  }
  .videoDetails_info {
    margin-bottom: 25px;
    h6 {
      font-size: 28px;
      font-weight: 500;
      color: #333333;
      line-height: 48px;
      margin: 28px 0 20px 24px;
    }
    .info_content {
      width: 750px;
      height: 380px;
      background: #000000;
    }
  }
  .wedge_ad {
    width: 100%;
    height: 200px;
    margin: 40px 0 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
