<template>
  <div class="footer">
    <div class="left-font">
      <div class="left_img">
        <img src="../../assets/image/wall.jpg" alt />
        <img src="../../assets/image/my_ic_lv1.png" class="memberLevel" alt />
      </div>
      <span class="user_name">一瓶酸奶盖</span>
      <div class="vertical_line"></div>
      <span class="follow">关注</span>
    </div>
    <div class="rigth-middle">
      <div class="text">1天前</div>
      <img src="../../assets/image/home_ic_reading.png" alt class="text" />
      <div class="text">159</div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="less" scoped>
@import url('../../assets/css/variables.less');
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 20px 24px;
  .left-font {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    margin-left: 24px;
    span {
      display: inline-block;
    }
    .left_img {
      position: relative;
      img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
      }
      .memberLevel {
        width: 23px;
        height: 11px;
        position: absolute;
        bottom: 16px;
        right: 0px;
      }
    }
    .user_name {
      font-size: 24px;
      font-weight: 500;
      color: #333333;
    }
    .vertical_line {
      width: 2px;
      height: 22px;
      background: #f2f2f2;
    }
    .follow {
      font-size: 24px;
      font-weight: bold;
      color: @theme-color;
    }
  }
  .rigth-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
    font-size: 20px;
    margin-right: 23px;
    img {
      width: 28px;
      height: 28px;
    }
    .text:nth-child(2) {
      margin: 0 10px 0 20px;
    }
  }
}
</style>