<template>
  <div class="forum_container">
    <div class="division"></div>
    <!-- 每日新发现区域 -->
    <div class="forum_new_discovery" v-for="(item, index) in groupList" :key="index">
      <h6>{{item.key}}</h6>
      <div class="new_discovery_list">
        <!-- 内容区域 -->
        <div
          class="list_item"
          v-for="(item1, index1) in item.items"
          :key="index1"
          @click="$router.push({path:`/home/details/forum/forumItemDetails/${tabType}/${item1.id}`})"
        >
          <div class="item_img">
            <img :src="topImgUrl(item1.image)" alt />
          </div>
          <div class="item_content">
            <span class="img_title">{{ item1.name }}</span>
            <span
              v-if="item1.topicCount < 10000 && item1.viewCount < 10000"
            >{{item1.topicCount}}帖子·{{item1.viewCount}}阅读</span>
            <span
              v-else-if="item1.topicCount < 10000 && item1.viewCount > 10000"
            >{{item1.topicCount}}帖子·{{item1.viewCount / 10000}}万阅读</span>
            <span
              v-else-if="item1.topicCount > 10000 && item1.viewCount < 10000"
            >{{item1.topicCount / 10000}}万帖子·{{item1.viewCount}}阅读</span>
            <span v-else>{{item1.topicCount / 10000}}万帖子·{{item1.viewCount / 10000}}万阅读</span>
            <!-- <div class="item_info">
              <span class="info_text">文案</span>
              <span class="info_creat_time">2020/7/3 18:15</span>
              <span class="info_user_name">Wall</span>
            </div>-->
            <div class="division"></div>
          </div>
        </div>
        <!-- 查看全部区域 -->
        <div class="lookAll" @click="getGroupList">
          <span>查看全部</span>
          <img src="../../assets/image/home_btn_more3.png" alt />
        </div>
        <div class="division"></div>
      </div>
    </div>
    <!-- 随笔区域 -->
    <div class="essay">
      <img src="../../assets/image/home_btn_edit.png" @click="$router.push('/guideDownload')" alt />
    </div>
  </div>
</template>
<script>
import { getCategoryGroupList } from "@/api/bbs"
import { createNamespacedHelpers } from 'vuex'
const { mapState: appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      categoryId: '',
      page: 1,
      size: 5,
      groupList: [],
      handleScro: true,
      // images: [], // 轮播图
      tabType: 4,
    }
  },
  computed: {
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
  },
  methods: {
    // 父组件引用的方法
    handleobtainID(tabType, categoryId) {
      this.categoryId = categoryId
      this.groupList = []
      this.page = 1
      this.tabType = tabType
      this.getGroupList()
    },
    // 获取分组列表数据
    async getGroupList() {
      if (!this.handleScro) {
        return
      }
      const para = {
        parentId: this.categoryId,
        page: this.page++,
        size: this.size
      }
        const res = await getCategoryGroupList(para)
        // console.log(res)
        if (res && res.code === 200 && res.result.length > 0) {
          this.groupList = res.result
          // console.log(this.groupList)
        }else {
        this.$toast.fail('网络错误')
      }
    },
  },
  created() {
  },
  mounted() {
  },
}

</script>

<style lang="less" scoped>
@import url('../../assets/css/variables.less');
.forum_container {
  .division {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
  }
  .forum_new_discovery {
    // padding: 19px 24px;
    h6 {
      font-size: 32px;
      font-weight: 500;
      color: #333333;
      line-height: 28px;
      letter-spacing: 2px;
      margin: 30px 0 20px 24px;
    }
    .new_discovery_list {
      :nth-last-child(3) {
        .item_content {
          :nth-last-child(1) {
            height: 0;
          }
        }
      }
      .list_item {
        display: flex;
        margin-left: 24px;
        .item_img {
          width: 140px;
          height: 140px;
          background: #e6e6e6;
          img {
            width: 100%;
            height: 100%;
            border-radius: 6px;
          }
        }
        .item_content {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          padding: 15px;
          span {
            font-size: 24px;
            font-weight: 500;
            color: #666666;
            line-height: 28px;
            letter-spacing: 1px;
          }
          .img_title {
            font-size: 32px;
            font-weight: 500;
            color: #333333;
            line-height: 28px;
            letter-spacing: 2px;
          }
          :nth-child(2) {
            margin: 20px 0;
          }
          .item_info {
            display: flex;
            span {
              font-size: 24px;
              font-weight: 400;
              letter-spacing: 1px;
              display: inline-block;
            }
            .info_text {
              color: @theme-color;
            }
            .info_creat_time {
              color: #999999;
              margin: 0 5px;
            }
            .info_user_name {
              color: #14171a;
            }
          }
        }
      }
      .lookAll {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 31px 0;
        span {
          font-size: 28px;
          font-weight: 500;
          color: @theme-color;
          line-height: 28px;
          letter-spacing: 1px;
        }
        img {
          width: 18px;
          height: 10px;
        }
      }
    }
  }
  .essay {
    img {
      width: 101px;
      height: 101px;
      position: fixed;
      right: 24px;
      bottom: 133px;
    }
  }
}
</style>
