<template>
  <div class="game_container">
    <!-- 内容区域 -->
    <div class="wordPics_container">
      <van-list
        v-model="loading"
        :finished="finished"
        loading-text="数据加载中..."
        finished-text="没有更多数据了..."
        @load="onLoad"
        offset="300"
        :error.sync="error"
        error-text="请求失败，点击重新加载"
      >
        <div class="wordPics_body" v-for="(item, index) in wordPicsList" :key="index">
          <div class="wordPics_item">
            <!-- 头部区域 -->
            <div class="item_top">
              <div class="top_left">
                <img :src="topImgUrl(item.avatar)" alt />
                <div class="user_name">
                  {{item.nickName}}
                  <span>
                    <img :src="levelImgUrl(item.level)" alt />
                  </span>
                </div>
              </div>
              <div class="top_right" v-if="item.followStatus === 0 || item.followStatus === 1">
                <van-button plain class="top_btn">关注</van-button>
              </div>
              <div class="top_right" v-else-if="item.followStatus === 2">
                <van-button plain class="top_btn_done">已关注</van-button>
              </div>
              <div class="top_right" v-else-if="item.followStatus === 3">
                <van-button plain class="top_btn_done">互相关注</van-button>
              </div>
            </div>
            <!-- 中间区域 -->
            <div
              class="item_content"
              @click="$router.push({path:`/home/details/synthesize/wordPicsDetails/${tabType}/${item.id}`})"
            >
              <p>{{item.description}}</p>
              <div class="content_img" v-if="item.images && item.images.length > 1">
                <img v-for="img in item.images" :key="img" :src="topImgUrl(img)" alt />
              </div>
              <div class="single_img" v-if="item.images && item.images.length === 1">
                <img :src="topImgUrl(item.images[0])" alt />
              </div>
            </div>
            <!-- 尾部区域 -->
            <div class="item_function">
              <div class="function_left">
                <span class="reading">
                  <img :src="require('@/assets/image/home_ic_reading.png')" alt />
                  <span class="count">{{item.viewCount}}</span>
                </span>
              </div>
              <div class="function_right">
                <span class="likes" v-if="item.isLike">
                  <img :src="require('@/assets/image/home_btn_only_pressed.png')" alt />
                  <span class="count">{{item.likeCount}}</span>
                </span>
                <span class="likes" v-else>
                  <img :src="require('@/assets/image/home_btn_like.png')" alt />
                  <span class="count">{{item.likeCount}}</span>
                </span>
                <span class="comments">
                  <img :src="require('@/assets/image/home_btn_comments.png')" alt />
                  <span class="count">{{item.replyCount}}</span>
                </span>
              </div>
            </div>
          </div>
          <!-- 分割线 -->
          <van-divider class="item_divider" />
        </div>
      </van-list>
    </div>
    <!-- 随笔区域 -->
    <div class="essay">
      <img
        :src="require('@/assets/image/home_btn_edit.png')"
        @click="$router.push('/guideDownload')"
        alt
      />
    </div>
  </div>
</template>

<script>
import { categoryIdlist } from "@/api/bbs"
import { createNamespacedHelpers } from 'vuex'
const { mapState:appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      categoryId: '',
      tabType: 1,
      loading: false, 		// 是否处在加载状态
      finished: false, 		// 是否已加载完成
      error: false, 		// 是否加载失败
      wordPicsList: [],				// 列表
      order: 0,       // 排序
      page: 1,				// 分页
      page_size: 10,		// 每页条数
      total: 0				// 数据总条数
    }
  },
  methods: {
    // 父组件引用的方法
    handleobtainID(tabType, categoryId) {
      this.categoryId = categoryId
      this.wordPicsList = []
      this.page = 1
      this.tabType = tabType
      this.handleCategoryIdlist()
    },
    // 获取综合版块的数据
    async handleCategoryIdlist() {
      const params = {
        order: this.order,
        page: this.page,
        size: this.page_size
      }
      // console.log(params)
      const res = await categoryIdlist(this.categoryId, params)
      console.log(res)
      if (res && res.code === 200 && res.result.length > 0) {
        // 若数据条数不等于0
        this.total = res.total;		// 给数据条数赋值
        this.wordPicsList.push(...res.result)	// 将数据放入wordPicsList中
        this.loading = false;			// 加载状态结束 
        // 如果wordPicsList长度大于等于总数据条数,数据全部加载完成
        if (this.wordPicsList.length >= res.total) {
            this.finished = true;		// 结束加载状态
        }
      } else {
        this.$toast.fail('网络错误')
      }
    },
    // 被 @load调用的方法
    onLoad() { // 若加载条到了底部
      let timer = setTimeout(() => {	// 定时器仅针对本地数据渲染动画效果
        this.handleCategoryIdlist();					// 调用上面方法,请求数据
        this.page++;					// 分页数加一
        this.finished && clearTimeout(timer);//清除计时器
      }, 100);
    },
	  // 加载失败调用方法
    onRefresh() {
      this.finished = false; 		// 清空列表数据
      this.loading = true; 			// 将 loading 设置为 true，表示处于加载状态
      this.page = 1;				// 分页数赋值为1
      this.wordPicsList = [];				// 清空数组
      this.onLoad(); 				// 重新加载数据
    }
  },
  computed: {
  ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`@/assets/image/my_ic_lv${level}.png`)
    }
  },
}
</script>

<style lang="less" scoped>
@import url('../home/css/game.less');
</style>