<template>
  <div class="news_container">
    <div class="news_body" v-for="item in newsList" :key="item.id">
      <div
        class="news_content"
        @click="$router.push('/home/details/synthesize/singlePicDetails/1')"
      >
        <h6>{{item.description}}</h6>
        <div class="news_img" v-if="item.images !== null">
          <img :src="topImgUrl(item.images[0])" alt />
        </div>
      </div>
      <!-- 尾部区域 -->
      <div class="item_function">
        <div class="function_left">
          <span class="reading">
            <img src="../../assets/image/home_ic_reading.png" alt />
            <span class="count">{{item.viewCount}}</span>
          </span>
        </div>
        <div class="function_right">
          <span class="likes" v-if="item.isLike">
            <img src="../../assets/image/home_btn_like_pressed.png" alt />
            <span class="count">{{item.likeCount}}</span>
          </span>
          <span class="likes" v-else>
            <img src="../../assets/image/home_btn_like.png" alt />
            <span class="count">{{item.likeCount}}</span>
          </span>
          <span class="comments">
            <img src="../../assets/image/home_btn_comments.png" alt />
            <span class="count">{{item.replyCount}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { categoryIdlist } from "@/api/bbs"
import { createNamespacedHelpers, mapActions } from 'vuex'
const { mapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      categoryId: '',
      page: 1,
      size: 10,
      newsList: [],
      handleScro: true
    }
  },
  computed: {
    ...mapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
  },
  methods: {
    handleobtainID(categoryId) {
      this.categoryId = categoryId
      this.newsList = []
      this.page = 1
      this.handleScro = true
      this.handleCategoryIdlist()
    },
    async handleCategoryIdlist() {
      if (!this.handleScro) {
        return
      }
      const { categoryId, size } = this
      const para = {
        page: this.page++,
        size
      }
      const res = await categoryIdlist(categoryId, para)
      if (res && res.code === 200 && res.result.length > 0) {
        const newsList = res.result
        this.newsList = this.newsList.concat(newsList)
        /* console.log('新闻页面的数据：')
        console.log(this.newsList) */
      } else {
        this.$toast.fail('网络错误')
        this.handleScro = false
      }
    }
  },
  components: {
  },
  created() {
  },
}
</script>
<style lang="less" scoped>
@import url('../home/css/news.less');
/* @import url('../../assets/css/variables.less');
.news_container {
  .news_body {
    margin-top: 30px;
    padding: 0 24px 20px;
    border-bottom: 1px solid #ddd;
    .news_content {
      display: flex;
      h6 {
        font-size: 32px;
        font-weight: 500;
        color: #333333;
        line-height: 55px;
        margin: 0;
        letter-spacing: 2px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .news_img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 168px;
          height: 168px;
          background: #f2f2f2;
          border-radius: 6px;
        }
      }
    }
    .item_function {
      width: 702px;
      height: 28px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      font-size: 24px;
      font-weight: 500;
      color: #999999;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 28px;
          height: 28px;
        }
      }
      .function_right {
        display: flex;
        :nth-child(odd) {
          margin-left: 19px;
        }
      }
      .count {
        margin-left: 10px;
      }
    }
  }
} */
</style>
