<template>
  <div class="pics_container">
    <div class="pics_left">
      <div class="left_item" v-for="item in leftList" :key="item.id">
        <img
          :src="topImgUrl(item.images[0])"
          @click="$router.push({path:`/home/details/pics/allPicsDetails/${tabType}/${item.id}`})"
          alt
        />
        <div class="item_footer">
          <div class="footer_left">
            <img :src="topImgUrl(item.avatar)" alt />
            <span>{{item.nickName}}</span>
          </div>
          <div class="footer_right" v-if="item.isLike">
            <img :src="require('@/assets/image/home_btn_like_pressed.png')" alt />
            <span>{{item.likeCount}}</span>
          </div>
          <div class="footer_right" v-else>
            <img :src="require('@/assets/image/home_btn_like.png')" alt />
            <span>{{item.likeCount}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="pics_right">
      <div class="right_item" v-for="item in rightList" :key="item.id">
        <img
          :src="topImgUrl(item.images[0])"
          @click="$router.push({path:`/home/details/pics/allPicsDetails/${tabType}/${item.id}`})"
          alt
        />

        <div class="item_footer">
          <div class="footer_left">
            <img :src="topImgUrl(item.avatar)" alt />
            <span>{{item.nickName}}</span>
          </div>
          <div class="footer_right" v-if="item.isLike">
            <img :src="require('@/assets/image/home_btn_like_pressed.png')" alt />
            <span>{{item.likeCount}}</span>
          </div>
          <div class="footer_right" v-else>
            <img :src="require('@/assets/image/home_btn_like.png')" alt />
            <span>{{item.likeCount}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { categoryIdlist } from "@/api/bbs"
import { createNamespacedHelpers } from 'vuex'
const { mapState: appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      categoryId: '',
      page: 1,
      size: 10,
      wordPicsList: [],
      leftList: [],
      rightList: [],
      handleScro: true,
      tabType: 2
    }
  },
  methods: {
    // 父组件引用的方法
    handleobtainID(tabType, categoryId) {
      this.categoryId = categoryId
      this.wordPicsList = []
      this.page = 1
      this.handleScro = true
      this.tabType = tabType
      this.handleCategoryIdlist()
    },
    // 获取图片版块的数据
    async  handleCategoryIdlist() {
      if (!this.handleScro) {
        return
      }
      const { categoryId, size } = this
      const para = {
        page: this.page++,
        size
      }
      const res = await categoryIdlist(categoryId, para)
      if (res && res.code === 200 && res.result.length > 0) {
        const list = res.result
        this.wordPicsList = this.wordPicsList.concat(list)
        /* console.log('图片页面的数据：')
        console.log(this.wordPicsList) */
        this.leftList = this.wordPicsList.filter((item, index) => index % 2 === 0 )
        this.rightList = this.wordPicsList.filter((item, index) => index % 2 === 1 )
        /* console.log('左边的数据：')
        console.log(this.leftList)
        console.log('右边的数据：')
        console.log(this.rightList) */
      } else {
        this.handleScro = false
        this.$toast.fail('网络错误')
      }
    }
  },
  computed: {
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`../../assets/image/my_ic_lv${level}.png`)
    }
  },
  components: {
  },
  created() {
  },
}
</script>

<style lang="less" scoped>
@import './css/public.less';
.pics_container {
  background-color: #f2f2f2;
  display: flex;
  padding-bottom: 28px;
  .pics_left {
    width: 341px;
    padding: 20px 20px 9px 24px;
    .left_item {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 400px;
        background: #ffffff;
        border-radius: 10px 10px 0px 0px;
      }
    }
  }
  .pics_right {
    width: 341px;
    padding: 20px 20px 9px 0;
    .right_item {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 466px;
        background: #ffffff;
        border-radius: 10px 10px 0px 0px;
      }
    }
  }
  .item_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 19px;
    span {
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }
    .footer_left {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 48px;
        height: 48px;
        background: #f2f2f2;
        border-radius: 23px;
      }
      span {
        color: #666666;
        margin-left: 18px;
      }
    }
    .footer_right {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 28px;
        height: 28px;
      }
      span {
        color: #999999;
        margin-left: 10px;
      }
    }
  }
}
</style>