<template>
  <div>
    <div class="box" v-for="(item,index) in list" :key="index">
      <video-player
        class="video-player vjs-custom-skin"
        ref="videoPlayer"
        :playsinline="true"
        :options="item.playerOptions"
      ></video-player>
      <footer-item></footer-item>
    </div>
    <footer-item></footer-item>
  </div>
</template>

<script>
import FooterItem from './footer'
import { categoryIdlist } from "@/api/bbs"
import { createNamespacedHelpers, mapActions } from 'vuex'
const { mapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      playerOptions: {
        playbackRates: [0.7, 1.0, 1.5, 2.0], //播放速度
        autoplay: false, //如果true,浏览器准备好时开始回放。
        muted: false, // 默认情况下将会消除任何音频。
        loop: false, // 导致视频一结束就重新开始。
        preload: 'auto', // 建议浏览器在<video>加载元素后是否应该开始下载视频数据。auto浏览器选择最佳行为,立即开始加载视频（如果浏览器支持）
        language: 'zh-CN',
        aspectRatio: '16:9', // 将播放器置于流畅模式，并在计算播放器的动态大小时使用该值。值应该代表一个比例 - 用冒号分隔的两个数字（例如"16:9"或"4:3"）
        fluid: true, // 当true时，Video.js player将拥有流体大小。换句话说，它将按比例缩放以适应其容器。
        sources: [{
          type: "video/mp4",//这里的种类支持很多种：基本视频格式、直播、流媒体等，具体可以参看git网址项目
          src: "http://webgo.7n.jsyu.vip/FgT-vSLYqyzTkAPZgkp7X80a_sqz" //url地址
        }],
        poster: "http://webgo.7n.jsyu.vip/FgT-vSLYqyzTkAPZgkp7X80a_sqz?vframe/png/offset/7/w/480", //你的封面地址
        notSupportedMessage: '此视频暂无法播放，请稍后再试', //允许覆盖Video.js无法播放媒体源时显示的默认信息。
        controlBar: {
          timeDivider: true,
          durationDisplay: true,
          remainingTimeDisplay: false,
          fullscreenToggle: true  //全屏按钮
        }
      },
      categoryId: '',
      page: 1,
      size: 10,
      list: [],
      handleScro: true
    }
  },
  components: {
    FooterItem,
  },
  methods: {
    handleobtainID(categoryId) {
      this.categoryId = categoryId
      this.list = []
      this.page = 1
      this.handleScro = true
      this.handleCategoryIdlist()
    },
    async handleCategoryIdlist() {
      if (!this.handleScro) {
        return
      }
      const { categoryId, size } = this
      const para = {
        page: this.page++,
        size
      }
      const res = await categoryIdlist(categoryId, para)
      if (res && res.code === 200 && res.result.length > 0) {
        const list = res.result.filter((item) => item.images)

        for (let i = 0; i < list.length; i++) {
          list[i].playerOptions = {
            playbackRates: [0.7, 1.0, 1.5, 2.0], //播放速度
            autoplay: false, //如果true,浏览器准备好时开始回放。
            muted: false, // 默认情况下将会消除任何音频。
            loop: false, // 导致视频一结束就重新开始。
            preload: 'auto', // 建议浏览器在<video>加载元素后是否应该开始下载视频数据。auto浏览器选择最佳行为,立即开始加载视频（如果浏览器支持）
            language: 'zh-CN',
            aspectRatio: '16:9', // 将播放器置于流畅模式，并在计算播放器的动态大小时使用该值。值应该代表一个比例 - 用冒号分隔的两个数字（例如"16:9"或"4:3"）
            fluid: true, // 当true时，Video.js player将拥有流体大小。换句话说，它将按比例缩放以适应其容器。
            sources: [{
              type: "video/mp4",//这里的种类支持很多种：基本视频格式、直播、流媒体等，具体可以参看git网址项目
              src: this.imgUrl + '/' + list[i].images[0] //url地址
            }],
            poster: this.imgUrl + '/' + list[i].images[0] + '?vframe/png/offset/7/w/480', //你的封面地址
            notSupportedMessage: '此视频暂无法播放，请稍后再试', //允许覆盖Video.js无法播放媒体源时显示的默认信息。
            controlBar: {
              timeDivider: true,
              durationDisplay: true,
              remainingTimeDisplay: false,
              fullscreenToggle: true  //全屏按钮
            }
          }
        }
        this.list = this.list.concat(list)
        // console.log('视频页面的数据：')
        // console.log(list)
      } else {
        this.handleScro = false
      }
    }
  },
  computed: {
    ...mapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
  },
  created() {
  },
}
</script>

<style lang="less" scoped>
.box {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
}
.video-js .vjs-icon-placeholder {
  width: 100%;
  height: 380px;
  display: block;
}
</style>