<template>
  <div>
    <van-tabbar fixed :active-color="$store.state.app.baseColor" class="tabBar" route>
      <van-tabbar-item to="/home">
        <span>首页</span>
        <template #icon="props">
          <img :src="props.active ? indexIcon.active : indexIcon.inactive" />
        </template>
      </van-tabbar-item>
      <van-tabbar-item to="/activity">
        <span>活动</span>
        <template #icon="props">
          <img :src="props.active ? activity.active : activity.inactive" />
        </template>
      </van-tabbar-item>
      <van-tabbar-item class="publish_task" @click="$router.push('/guideDownload')">
        <span class="publish_text">发布任务</span>
        <template #icon="props">
          <img class="publish_img" :src="props.active ? publishTask.active : publishTask.inactive" />
        </template>
      </van-tabbar-item>
      <van-tabbar-item to="/task">
        <span>任务</span>
        <template #icon="props">
          <img :src="props.active ? task.active : task.inactive" />
        </template>
      </van-tabbar-item>
      <van-tabbar-item to="/about">
        <span>我的</span>
        <template #icon="props">
          <img :src="props.active ? about.active : about.inactive" />
        </template>
      </van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>

export default {
  name: 'TabBar',
  data() {
    return {
      indexIcon: {
        active: require('@/assets/image/tab_home_pressed.png'),
        inactive: require('@/assets/image/home_tab.png'),
      },
      activity: {
        active: require('@/assets/image/tab_activity_pressed.png'),
        inactive: require('@/assets/image/tab_activity.png'),
      },
      publishTask: {
        active: require('@/assets/image/tab_issue.png'),
        inactive: require('@/assets/image/tab_issue.png'),
      },
      task: {
        active: require('@/assets/image/tab_task_pressed.png'),
        inactive: require('@/assets/image/tab_task.png'),
      },
      about: {
        active: require('@/assets/image/tab_my_pressed.png'),
        inactive: require('@/assets/image/my_tab.png'),
      },
    }
  },
  methods: {
    add() {
      console.log('甜蜜角')
    }
  }
}
</script>

<style scoped lang="less">
@import url('../assets/css/variables.less');
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: @theme-color;
}
.tabBar {
  height: 98px;
  font-size: 24px;

  font-weight: bold;
  background: #fff;
  span {
    font-size: 24px;

    font-weight: 500;
  }
  img {
    width: 54px;
    height: 54px;
  }
  .add {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    line-height: 74;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 10px;
  }
  .publish_task {
    position: relative;
    top: -16px;
    z-index: 99;
    .publish_text {
      position: relative;
      top: -10px;
    }
    .publish_img {
      width: 104px;
      height: 104px;
    }
  }
}
</style>
