<template>
  <div class="top-header" :style="{backgroundColor:$store.state.app.baseColor}">
    <div class="fixed_header">
      <div class="avatar" @click="showPopup" v-if="token">
        <img :src="topImgUrl(user_body.avatar)" alt />
      </div>
      <div class="blank" v-if="!token"></div>
      <div class="title">{{title}}</div>
      <!-- <div class="add" @click="showOverlay"> -->
      <div class="add" @click="showMessages">
        <img :src="require('@/assets/image/home_btn_message.png')" alt />
      </div>
    </div>
    <!-- 论坛左侧弹出层区域 -->
    <van-popup v-model="isShowPopup" round position="left" :style="{ height: '100%',width:'70%'}">
      <div class="left_container">
        <div class="message_fullscreen">
          <img :src="require('@/assets/image/avatar/message_btn_fullscreen.png')" alt />
        </div>
        <div class="left_top">
          <div class="head">
            <img class="avatar_img" :src="topImgUrl(user_body.avatar)" alt />
            <img class="approve_img" :src="require('@/assets/image/my_ic_lv0.png')" alt />
          </div>
          <div class="sign">
            {{ user_body.nickName }}
            <img class="level_img" :src="levelImgUrl(user_body.level)" alt />
          </div>
          <div class="top_item">
            <span
              @click="$router.push({name: 'interactionCenter', params: {active: 0}})"
            >关注 {{user_status.followed}}</span>
            <span
              @click="$router.push({name: 'interactionCenter',  params: {active: 1}})"
            >粉丝 {{user_status.fans}}</span>
            <span>获赞 {{user_status.like}}</span>
          </div>
        </div>
        <div class="left_body">
          <div class="my_menu">
            <div class="menu_item" @click="$router.push('/about/my/myInfo')">
              <img :src="require('@/assets/image/avatar/my_ic_profile.png')" alt />
              <span>我的信息</span>
            </div>
            <div class="menu_item">
              <img :src="require('@/assets/image/avatar/my_ic_post.png')" alt />
              <span>我的帖子</span>
            </div>
            <div class="menu_item">
              <img :src="require('@/assets/image/avatar/my_ic_team.png')" alt />
              <span>我的团队</span>
            </div>
            <div class="menu_item">
              <img :src="require('@/assets/image/avatar/my_ic_collection.png')" alt />
              <span>我的收藏</span>
            </div>
            <div class="menu_item">
              <img :src="require('@/assets/image/avatar/my_ic_exchange.png')" alt />
              <span>兑换中心</span>
            </div>
            <div class="menu_item">
              <img :src="require('@/assets/image/avatar/my_ic_history.png')" alt />
              <span>浏览历史</span>
            </div>
            <div class="menu_item">
              <img :src="require('@/assets/image/avatar/my_ic_set.png')" alt />
              <span>系统设置</span>
            </div>
            <div class="menu_item">
              <img :src="require('@/assets/image/avatar/my_ic_opinion.png')" alt />
              <span>意见反馈</span>
            </div>
            <div class="menu_item">
              <img :src="require('@/assets/image/avatar/my_ic_model.png')" alt />
              <span>夜间模式</span>
            </div>
          </div>
        </div>
      </div>
    </van-popup>
    <!-- 论坛右侧加号弹出层区域 -->
    <van-overlay
      :show="isShowOverlay"
      z-index="2"
      class-name="overlay"
      @click="isShowOverlay = false"
    >
      <div>
        <div class="app">
          <div class="box box1">
            <i>
              <span>
                <img :src="require('@/assets/image/home_btn_posted1.png')" alt />
              </span>
            </i>
          </div>
          <div class="box box2">
            <i>
              <span>
                <img :src="require('@/assets/image/home_btn_video1.png')" alt />
              </span>
            </i>
          </div>
          <div class="box box3">
            <i>
              <span>
                <img :src="require('@/assets/image/home_btn_picture1.png')" alt />
              </span>
            </i>
          </div>
          <transition name="closeIcon">
            <van-icon
              name="cross"
              class="iconfont"
              v-if="isShowOverlay"
              @click.stop="closeIcon"
              size="40"
            />
          </transition>
        </div>
      </div>
    </van-overlay>
  </div>
</template>
<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState:userMapState } = createNamespacedHelpers('user')
const { mapState:appMapState } = createNamespacedHelpers('app')
export default {
  props: {
    title: {
      type: String,
      default: '',

    }
  },
  data() {
    return {
      isShowPopup: false,
      isShowOverlay: false,
    }
  },
  methods: {
    showPopup() {
      this.isShowPopup = true
    },
    showOverlay() {
      this.isShowOverlay = true
    },
    closeIcon() {
      console.log('关闭')
    },
    showMessages(){
      if(!this.token){
        this.$toast.fail('请您先登录')
      }else{
        this.$router.push('/about/my/myMessages')
      }
    }
  },
  computed: {
    ...userMapState(['user_body', 'user_status', 'token']),
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`@/assets/image/my_ic_lv${level}.png`)
    }
  },
  created(){
  }
}
</script>
<style lang="less" scoped>
@import url('../assets/css/variables.less');
@import url('../assets/css/animation.less');
.top-header {
  .fixed_header {
    height: 88px;
    width: 100%;
    background-color: @background-color;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .blank {
      width: 1px;
      width: 1px;
      margin-left: 24px;
      margin-top: 20px;
    }
    .avatar {
      margin-left: 24px;
      margin-top: 20px;
      display: flex;
      align-items: flex-start;
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
    .title {
      font-size: 32px;
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
      line-height: 88px;
    }
    .add {
      margin-right: 25px;
      margin-top: 25px;
      display: flex;
      align-items: flex-start;
      img {
        width: 36px;
        height: 36px;
      }
    }
  }

  .overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 1));
  }
  .iconfont {
    top: 100px;
    left: -185px;
  }
  .closeIcon-enter,
  .closeIcon-leave-to {
    opacity: 0;
    transform: translateY(150px);
    transform: rotate(180deg);
  }
  .closeIcon-enter-active,
  .closeIcon-leave-active {
    transition: all 0.8s ease;
    opacity: 0.5;
  }
  // 左侧弹出层样式
  .left_container {
    background-color: #fff;
    height: 100vh;
    .message_fullscreen {
      width: 32px;
      height: 32px;
      position: absolute;
      top: 0;
      right: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .left_top {
      height: 300px;
      background: url('../assets/image/avatar/my_bg_convert.png') no-repeat center center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      .head {
        margin: 30px 0 0 30px;
        .avatar_img {
          width: 106px;
          height: 106px;
          border-radius: 50%;
          background-color: #fff;
        }
        .approve_img {
          width: 40px;
          height: 16px;
          position: absolute;
          left: 16%;
          top: 120px;
        }
      }
      .sign {
        font-size: 28px;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        letter-spacing: 1px;
        margin-left: 30px;
        .level_img {
          width: 38px;
          height: 19px;
        }
      }
      .top_item {
        span:nth-child(1) {
          margin-left: 30px;
        }
        span {
          font-size: 24px;

          font-weight: 500;
          color: rgba(255, 255, 255, 1);
          letter-spacing: 1px;
          margin-left: 40px;
        }
      }
    }
    .left_body {
      .my_menu {
        display: flex;
        flex-direction: column;
        .menu_item {
          flex: 1;
          display: flex;
          flex-direction: row;
          padding: 20px 0;
          img {
            width: 44px;
            height: 44px;
            background: rgba(206, 206, 206, 0.01);
            margin: 0 30px;
          }
          span {
            display: inline-block;
            font-size: 24px;

            font-weight: 500;
            color: rgba(0, 0, 0, 1);
            letter-spacing: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
</style>