<template>
  <div class="interactionCenter_container">
    <span class="returnBack" @click="$router.back(-1)">
      <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
    </span>
    <!-- 头部标题区域 -->
    <div class="topHeader">
      <h6>互动中心</h6>
    </div>
    <!-- tab栏区域 -->
    <van-tabs v-model="active" color="#4B84E6" line-width="35" swipeable>
      <van-tab title="关注" class="tab_item"></van-tab>
      <van-tab title="粉丝" class="tab_item"></van-tab>
    </van-tabs>
    <!-- 关注列表区域 -->
    <div class="interactionCenter_list" v-if="active === 0">
      <div class="list_item" v-for="item in followedsList" :key="item.id">
        <div class="item_img">
          <img :src="topImgUrl(item.avatar)" alt />
        </div>
        <div class="item_right_part">
          <div class="item_info" @click="$router.push('/about/interactionCenter/111')">
            <span class="info_name">
              {{ item.nickName }}
              <img :src="levelImgUrl(item.level)" alt />
            </span>
            <span class="info_sign">{{ item.resume }}</span>
          </div>
          <div class="item_btn" v-if="item.followStatus === 2">
            <van-button plain class="top_btn_done">已关注</van-button>
          </div>
        </div>
      </div>
    </div>
    <!-- 粉丝列表区域 -->
    <div class="interactionCenter_list">
      <div class="list_item" v-for="item in fansList" :key="item.id">
        <div class="item_img">
          <img :src="topImgUrl(item.avatar)" alt />
        </div>
        <div class="item_right_part">
          <div class="item_info" @click="$router.push('/about/interactionCenter/111')">
            <span class="info_name">
              {{ item.nickName }}
              <img :src="levelImgUrl(item.level)" alt />
            </span>
            <span class="info_sign">{{ item.resume }}</span>
          </div>
          <div class="item_btn" v-if="item.followStatus === 1">
            <van-button plain class="top_btn">关注</van-button>
          </div>
          <div class="item_btn" v-if="item.followStatus === 3">
            <van-button plain class="top_btn_done">互相关注</van-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Fans, Followeds } from '../../api/user'
import { createNamespacedHelpers } from 'vuex'
const { mapState:appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      active: 0,
      fansList: [],
      followedsList: []
    }
 },
  methods: {
    // 获取粉丝列表
    async getFans(){
      const res = await Fans()
      if(res && res.code === 200){
        this.fansList = res.result
      }else{
        this.$toast.fail('网络错误')
      }
    },
    // 获取关注列表
    async getFolloweds(){
      const res = await Followeds()
      if(res && res.code === 200){
        this.followedsList = res.result
      }else{
        this.$toast.fail('网络错误')
      }
    }
  },
  computed: {
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`@/assets/image/my_ic_lv${level}.png`)
    }
  },
  created() {
    this.active = parseInt(this.$route.params.active)
    this.getFans()
    this.getFolloweds()
  },

}

</script>
<style lang="less" scoped>
@import url('../../assets/css/variables.less');
.interactionCenter_container {
  height: 100vh;
  background-color: #ffffff;
  .returnBack {
    position: absolute;
    left: 24px;
    top: -10px;
    img {
      width: 14px;
      height: 26px;
    }
  }
  .topHeader {
    height: 88px;
    background-color: @theme-color;
    display: flex;
    align-items: center;
    justify-content: center;
    h6 {
      margin: 0;
      text-align: center;
      font-size: 32px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 1px;
    }
  }
  /deep/ .van-tabs--line .van-tabs__wrap {
    height: 88px;
  }
  .van-tabs {
    top: -10px;
    /deep/ span {
      font-size: 28px;
      letter-spacing: 4px;
    }
    /deep/ .van-tab--active {
      color: #333333;
      font-weight: bold;
    }
  }
  .interactionCenter_list {
    .list_item {
      width: 100%;
      display: flex;
      padding: 20px 24px;
      border-bottom: 1px solid #f2f2f2;
      .item_img {
        margin-right: 20px;
        width: 64px;
        height: 64px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 32px;
          background: #f2f2f2;
        }
      }
      .item_right_part {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 618px;
        .item_info {
          display: flex;
          flex-direction: column;
          span.info_name {
            display: inline-block;
            font-size: 28px;
            font-weight: bold;
            color: #333333;
            line-height: 28px;
            letter-spacing: 1px;
          }
          span.info_sign {
            display: inline-block;
            font-size: 24px;
            font-weight: 400;
            color: #999999;
            line-height: 28px;
            letter-spacing: 1px;
            margin-top: 8px;
          }
          img {
            display: inline-block;
            width: 30px;
            height: 15px;
          }
        }
        .item_btn {
          display: flex;
          justify-content: center;
          align-items: center;
          .top_btn {
            width: 130px;
            height: 44px;
            background: #ffffff;
            border: 1px solid @theme-color;
            border-radius: 6px;
            font-size: 24px;
            font-weight: bold;
            color: @theme-color;
          }
          .top_btn_done {
            width: 130px;
            height: 44px;
            background: #ffffff;
            border: 1px solid #bbbbbb;
            border-radius: 6px;
            font-size: 24px;
            font-weight: bold;
            color: #999999;
          }
        }
      }
    }
  }
}
</style>
