<template>
  <div class="userInfoDetails_container">
    <span class="returnBack" @click="$router.back(-1)">
      <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
    </span>
    <!-- 头部标题区域 -->
    <div class="userInfoDetails_header">
      <div class="header_top">
        <div class="top_info">
          <div class="info_img">
            <img :src="require('@/assets/image/wall.jpg')" alt />
          </div>
          <div class="info_content">
            <div class="content_nickName">
              <span>玩游戏最重要是开心</span>
              <img :src="require('@/assets/image/my_ic_lv0.png')" alt />
            </div>
            <span class="content_id">ID：123456</span>
          </div>
        </div>
        <div class="top_btn">
          <van-button>关注</van-button>
        </div>
      </div>
      <div class="header_bottom">
        <div class="bottom_item">
          <span class="item_text">关注</span>
          <span class="item_count">199</span>
        </div>
        <div class="bottom_item">
          <span class="item_text">粉丝</span>
          <span class="item_count">57</span>
        </div>
        <div class="bottom_item">
          <span class="item_text">获赞</span>
          <span class="item_count">157</span>
        </div>
      </div>
    </div>
    <!-- 主体内容区域 -->
    <div class="userInfoDetails_body">
      <div class="body_item">
        <div class="item_top">
          <h6>标题就是要大</h6>
          <span>1小时前</span>
          <p>首先大家一定要少抽点2700，尽可能的把钻石用在购买，兑换三大资源，但是别买300钻的粉，粉靠五级悬赏后用钻刷，看能力刷新商店购买。</p>
        </div>
        <div class="item_img">
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
        </div>
        <div class="item_footer">
          <div class="footer_left">
            <div class="reading">
              <img :src="require('@/assets/image/home_ic_reading.png')" alt />
              <span class="count">569</span>
            </div>
          </div>
          <div class="footer_right">
            <div class="likes">
              <img :src="require('@/assets/image/home_btn_like.png')" alt />
              <span class="count">59</span>
            </div>
            <div class="comments">
              <img :src="require('@/assets/image/home_btn_comments.png')" alt />
              <span class="count">63</span>
            </div>
            <div class="share">
              <img :src="require('@/assets/image/home_btn_share.png')" alt />
            </div>
          </div>
        </div>
        <div class="division"></div>
      </div>
      <div class="body_item">
        <div class="item_top">
          <h6>标题就是要大</h6>
          <span>1小时前</span>
          <p>首先大家一定要少抽点2700，尽可能的把钻石用在购买，兑换三大资源，但是别买300钻的粉，粉靠五级悬赏后用钻刷，看能力刷新商店购买。</p>
        </div>
        <div class="item_img">
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
          <img :src="require('@/assets/image/wall.jpg')" alt />
        </div>
        <div class="item_footer">
          <div class="footer_left">
            <div class="reading">
              <img :src="require('@/assets/image/home_ic_reading.png')" alt />
              <span class="count">569</span>
            </div>
          </div>
          <div class="footer_right">
            <div class="likes">
              <img :src="require('@/assets/image/home_btn_like.png')" alt />
              <span class="count">59</span>
            </div>
            <div class="comments">
              <img :src="require('@/assets/image/home_btn_comments.png')" alt />
              <span class="count">63</span>
            </div>
            <div class="share">
              <img :src="require('@/assets/image/home_btn_share.png')" alt />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
 },
  methods: {

  },
  created() {

  },

}

</script>
<style lang="less" scoped>
@import url('../../assets/css/variables.less');
.userInfoDetails_container {
  height: 100vh;
  background-color: #ffffff;
  /deep/span {
    letter-spacing: 2px;
  }
  .returnBack {
    position: absolute;
    left: 24px;
    top: -10px;
    img {
      width: 14px;
      height: 26px;
    }
  }

  .userInfoDetails_header {
    padding: 70px 24px 39px;
    background: url('../../assets/image/activity_bg_integral.png') no-repeat center;
    background-size: cover;
    .header_top {
      display: flex;
      justify-content: space-between;
      .top_info {
        display: flex;
        .info_img {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          img {
            width: 108px;
            height: 108px;
            border-radius: 50%;
          }
        }

        .info_content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .content_nickName {
            display: flex;
            position: relative;
            margin-bottom: 10px;
            span {
              font-size: 28px;
              font-weight: 500;
              color: #ffffff;
              margin-right: 6px;
              display: inline-block;
            }
            img {
              width: 38px;
              height: 19px;
              position: absolute;
              right: -40px;
              bottom: 0;
            }
          }

          .content_id {
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            color: #ffffff;
          }
        }
      }

      .top_btn {
        display: flex;
        align-items: center;
        button {
          width: 100px;
          height: 44px;
          background: #ffffff;
          border-radius: 6px;
          font-size: 20px;
          font-weight: bold;
          color: #4b84e6;
          line-height: 28px;
          letter-spacing: 2px;
        }
      }
    }

    .header_bottom {
      display: flex;
      justify-content: space-between;
      margin: 0 152px;
      .bottom_item {
        color: #ffffff;
        .item_text {
          font-size: 24px;
          font-weight: 500;
          margin-right: 10px;
        }

        .item_count {
          font-size: 32px;
          font-weight: bold;
        }
      }
    }
  }

  .userInfoDetails_body {
    .body_item {
      display: flex;
      flex-direction: column;
      margin: 30px 24px 0;
      .item_top {
        h6 {
          font-size: 24px;
          font-weight: bold;
          color: #333333;
          margin: 0;
        }
        span {
          font-size: 22px;
          font-weight: 400;
          color: #999999;
          display: block;
          line-height: 28px;
          margin: 10px 0 19px;
        }
        p {
          font-size: 24px;
          font-weight: 500;
          color: #333333;
          margin: 0;
          margin-bottom: 20px;
        }
      }

      .item_img {
        display: flex;
        flex-wrap: wrap;
        img {
          width: 168px;
          height: 168px;
          background: #f2f2f2;
          border-radius: 6px;
          margin-bottom: 10px;
          margin-left: 10px;
        }
        :nth-child(1) {
          margin-left: 0;
        }
        :nth-child(5) {
          margin-left: 0;
        }
      }

      .item_footer {
        display: flex;
        justify-content: space-between;
        .count {
          font-size: 24px;
          font-weight: 500;
          color: #999999;
          margin-left: 10px;
        }
        .footer_left {
          .reading {
            display: inline-block;
            img {
              width: 28px;
              height: 20px;
            }
          }
        }

        .footer_right {
          display: flex;
          .likes {
            img {
              width: 28px;
              height: 28px;
            }
          }

          .comments {
            margin-left: 19px;
            img {
              width: 28px;
              height: 24px;
            }
          }

          .share {
            margin-left: 19px;
            img {
              width: 28px;
              height: 24px;
            }
          }
        }
      }

      .division {
        width: 750px;
        height: 1px;
        background: #f2f2f2;
      }
    }
  }
}
</style>
