@import url('../../../assets/css/variables.less');
// 中间内容样式
/deep/.wordPics_container {
  .wordPics_body {
    .wordPics_item {
      display: flex;
      flex-direction: column;
      padding: 30px 24px 20px;
      .item_content {
        p {
          font-size: 32px;
          font-weight: 500;
          color: #333333;
          margin: 20px 0 17px 0;
          line-height: 48px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }
    }
    .item_divider {
      width: 100%;
      height: 10px;
      opacity: 0.4;
      background: #d2d2d2;
      margin: 0;
    }
  }
}
// 尾部样式
/deep/.item_function {
  width: 702px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #999999;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 28px;
      height: 28px;
    }
  }
  .function_right {
    display: flex;
    :nth-child(odd) {
      margin-left: 19px;
    }
  }
  .count {
    margin-left: 10px;
  }
}
// 头部样式
/deep/.item_top {
  width: 702px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  .top_left {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
    .user_name {
      font-size: 28px;
      font-weight: bold;
      color: #333333;
      line-height: 28px;
      margin-left: 20px;
      letter-spacing: 1px;
      img {
        width: 30px;
        height: 15px;
      }
    }
  }
  .top_right {
    display: flex;
    justify-content: center;
    align-items: center;
    .top_btn {
      width: 130px;
      height: 44px;
      background: #ffffff;
      border: 1px solid @theme-color;
      border-radius: 6px;
      font-size: 24px;
      font-weight: bold;
      color: @theme-color;
    }
    .top_btn_done {
      width: 130px;
      height: 44px;
      background: #ffffff;
      border: 1px solid #bbbbbb;
      border-radius: 6px;
      font-size: 24px;
      font-weight: bold;
      color: #999999;
    }
  }
}