<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>奖品详情</h6>
    </div>
    <!-- 奖品信息区域 -->
    <div class="detail_info">
      <div class="info_left">
        <div class="left_img">
          <img :src="topImgUrl(redeemItemObj.image)" alt />
        </div>
        <div class="left_info">
          <span class="info_text">{{redeemItemObj.title}}</span>
          <span class="info_repertory">库存：{{redeemItemObj.available}}</span>
        </div>
      </div>
      <div class="info_right">
        <span class="info_coin">{{redeemItemObj.price.units}}金币</span>
      </div>
    </div>
    <!-- 奖品注意事项区域 -->
    <div class="detail_notice">
      <h6>1.奖品接受：</h6>
      <p>
        微信红包可以直接用于网络购物，实体店扫码等支付场景，也可以
        用于朋友之间的转账，或是直接提现到银行卡换取现金。
      </p>
      <h6>2.审核时间：</h6>
      <p>您的会还将在5个工作日内审核发放（节假日顺延）</p>
      <h6>3.温馨提示：</h6>
      <p>(1)兑换红包请添加客服人员微信</p>
    </div>
    <!-- 底部确认兑换区域 -->
    <div class="detail_footer">
      <div class="footer_left">
        <span class="left_coin">{{redeemItemObj.price.units}}</span>
        <span class="left_text">总计消费</span>
      </div>
      <button
        v-if="redeemItemObj.available <= 0"
        class="no_exchange"
        @click="$toast.fail('无库存可兑换')"
      >确认兑换</button>
      <button v-else @click="$router.push('/guideDownload')">确认兑换</button>
    </div>
  </div>
</template>

<script>
import { redeemItem } from '@/api/activity'
import { createNamespacedHelpers } from 'vuex'
const { mapState: appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      redeemItemObj: {}
    }
 },
  methods: {
    // 获取单项商品详情信息
    async getRedeemItem(id){
      const res = await redeemItem(id)
      if(res && res.code === 200){
        this.redeemItemObj = res.result
        // this.redeemItemObj.available = 0
      }else{
        return this.$toast.fail('网络错误')
      }
    }
  },
  computed: {
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
  },
  created() {
    this.getRedeemItem(this.$route.params.id)
  },

}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
.my_container {
  background-color: #fff;
  .detail_info {
    border-bottom: 1px solid #f8f8f8;
    padding: 40px 24px;
    display: flex;
    justify-content: space-between;
    .info_left {
      display: flex;
      .left_img {
        display: flex;
        margin-right: 19px;
        img {
          width: 96px;
          height: 96px;
          background: linear-gradient(-40deg, #f33d34 0%, #ff8575 100%);
          border-radius: 6px;
        }
      }
      .left_info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .info_text {
          font-size: 24px;
          font-weight: bold;
          color: #333333;
          letter-spacing: 1px;
          display: inline-block;
        }
        .info_repertory {
          font-size: 24px;
          font-weight: 500;
          color: #999999;
          letter-spacing: 1px;
        }
      }
    }
    .info_right {
      display: flex;
      justify-content: center;
      align-items: center;
      .info_coin {
        display: inline-block;
        font-size: 28px;
        font-weight: bold;
        color: #ff1313;
        display: inline-block;
      }
    }
  }
  .detail_notice {
    padding: 40px 31px 0 24px;
    h6 {
      font-size: 28px;
      font-weight: 500;
      color: #666666;
      margin: 0;
      margin-bottom: 10px;
      letter-spacing: 2px;
    }
    p {
      font-size: 28px;
      font-weight: 500;
      color: #666666;
      margin: 0;
      line-height: 48px;
    }
  }
  .detail_footer {
    display: flex;
    width: 100%;
    height: 88px;
    border-top: 1px solid #f8f8f8;
    position: fixed;
    bottom: 0;
    left: 0;
    .footer_left {
      flex: 6;
      display: flex;
      flex-direction: column;
      padding-top: 14px;
      padding-left: 24px;
      span {
        display: inline-block;
      }
      .left_coin {
        font-size: 32px;
        font-weight: bold;
        color: #ff1313;
        letter-spacing: 3px;
      }
      .left_text {
        font-size: 24px;
        font-weight: 500;
        color: #333333;
      }
    }
    button {
      flex: 4;
      background: @theme-color;
      font-size: 32px;
      font-weight: bold;
      color: #ffffff;
      letter-spacing: 3px;
      border: none;
    }
    .no_exchange {
      background: #999999;
    }
  }
}
</style>
