<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>兑换中心</h6>
      <span class="top_text" @click="isShowRecords">记录</span>
    </div>
    <!-- tab栏区域 -->
    <div class="exchange_tab">
      <van-tabs color="#4B84E6" swipeable @click="handleClickTab">
        <van-tab title="现金类" class="tab_item"></van-tab>
        <van-tab title="虚拟类" class="tab_item"></van-tab>
      </van-tabs>
    </div>
    <!-- 主体内容区域 -->
    <!-- 现金类 -->
    <div class="exchange_container" v-if="type === 1">
      <div
        class="exchange_item"
        v-for="item in goodsList"
        :key="item.id"
        @click="$router.push({path: `/about/exchange/exchangeDetails/${item.id}`})"
      >
        <img :src="topImgUrl(item.image)" alt />
        <span class="item_text">{{item.title}}</span>
        <span class="item_coin">{{item.price.units}}金币</span>
      </div>
      <div class="exchange_item">
        <img :src="require('@/assets/image/10元_.png')" alt />
        <span class="item_text">10元微信红包</span>
        <span class="item_coin">2440金币</span>
      </div>
      <div class="exchange_item">
        <img :src="require('@/assets/image/10元_.png')" alt />
        <span class="item_text">10元微信红包</span>
        <span class="item_coin">2440金币</span>
      </div>
      <div class="exchange_item">
        <img :src="require('@/assets/image/10元_.png')" alt />
        <span class="item_text">10元微信红包</span>
        <span class="item_coin">2440金币</span>
      </div>
      <div class="exchange_item">
        <img :src="require('@/assets/image/10元_.png')" alt />
        <span class="item_text">10元微信红包</span>
        <span class="item_coin">2440金币</span>
      </div>
    </div>
    <!-- 虚拟类 -->
    <div class="exchange_container" v-if="type === 2">
      <div
        class="exchange_item"
        v-for="item in goodsList"
        :key="item.id"
        @click="$router.push({path: `/about/exchange/exchangeDetails/${item.id}`})"
      >
        <img class="virtual_img" :src="topImgUrl(item.image)" alt />
        <span class="item_text">{{item.title}}</span>
        <span class="item_coin">{{item.price.units}}金币</span>
      </div>
      <div class="exchange_item">
        <img :src="require('@/assets/image/10元_.png')" alt />
        <span class="item_text">10元微信红包</span>
        <span class="item_coin">2440金币</span>
      </div>
      <div class="exchange_item">
        <img :src="require('@/assets/image/10元_.png')" alt />
        <span class="item_text">10元微信红包</span>
        <span class="item_coin">2440金币</span>
      </div>
      <div class="exchange_item">
        <img :src="require('@/assets/image/10元_.png')" alt />
        <span class="item_text">10元微信红包</span>
        <span class="item_coin">2440金币</span>
      </div>
    </div>
  </div>
</template>

<script>
import { redeemList } from '@/api/activity'
import { createNamespacedHelpers, mapActions } from 'vuex'
const { mapState: appMapState } = createNamespacedHelpers('app')
const { mapState: userMapState } = createNamespacedHelpers('user')
export default {
  data() {
    return {
      type: 1,
      goodsList: []
    }
 },
  methods: {
    // tab点击触发事件
    handleClickTab(name, title){
      this.type = name + 1
      this.getGoodsList()
    },
    // 获取商品列表数据
    async getGoodsList(){
      let params = {
        type: this.type
      }
      // console.log(params)
      const res = await redeemList(params)
      if(res && res.code === 200){
        this.goodsList = res.result
      }else{
        return this.$toast.fail('网络错误')
      }
    },
    // 判断是否要展示记录
    isShowRecords(){
      if(this.token){
        this.$router.push('/about/exchange/exchangeRecords')
      }else{
        this.$toast.fail('请您先登录')
      }
    }
  },
  computed: {
    ...appMapState(['imgUrl']),
    ...userMapState(['token']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
  },
  created() {
    this.getGoodsList()
  },
}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
.my_container {
  .exchange_container {
    background-color: #fff;
    padding: 20px 0 0 3px;
    display: flex;
    flex-wrap: wrap;
    .exchange_item {
      width: 220px;
      height: 325px;
      background: #ffffff;
      border-radius: 6px;
      box-shadow: 0px 3px 7px 0px rgba(141, 141, 141, 0.1);
      display: flex;
      flex-direction: column;
      margin: 0 0 33px 21px;
      padding-bottom: 19px;
      img {
        width: 220px;
        height: 220px;
      }
      .virtual_img {
        border: 1px dashed #000;
      }
      span {
        display: inline-block;
      }
      .item_text {
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        letter-spacing: 1px;
        margin: 19px 0 0 19px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
      .item_coin {
        font-size: 28px;
        font-weight: 500;
        color: #ff1313;
        letter-spacing: 1px;
        margin: 20px 0 0 19px;
      }
    }
  }
}
// tab栏样式
/deep/ .van-tabs--line .van-tabs__wrap {
  height: 80px;
}
.van-tabs {
  /deep/ span {
    font-size: 28px;
    letter-spacing: 1px;
  }
  /deep/ .van-tab--active {
    color: #000000;
    font-weight: bold;
  }
  /deep/ .van-tabs__line {
    width: 35px;
  }
}
</style>
