<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>兑换记录</h6>
    </div>
    <!-- 记录列表区域 -->
    <div class="record_body">
      <div class="record_item">
        <div class="item_left">
          <div class="left_img">
            <img :src="require('@/assets/image/10元_.png')" alt />
          </div>
          <div class="left_info">
            <span class="info_text">10元微信红包</span>
            <span class="info_coin">2440金币</span>
          </div>
        </div>
        <div class="item_right">
          <span class="right_time">2020/05/05 09:10</span>
          <span class="right_status_doing">兑换中</span>
        </div>
      </div>
      <div class="record_item">
        <div class="item_left">
          <div class="left_img">
            <img :src="require('@/assets/image/10元_.png')" alt />
          </div>
          <div class="left_info">
            <span class="info_text">10元微信红包</span>
            <span class="info_coin">2440金币</span>
          </div>
        </div>
        <div class="item_right">
          <span class="right_time">2020/05/05 09:10</span>
          <span class="right_status_done">已完成</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { redeemItem, exchangeRecords } from '@/api/activity'
import { createNamespacedHelpers, mapActions } from 'vuex'
const { mapState: appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      recordsList: []
    }
 },
  methods: {
    // 获取用户兑换记录
    async getExchangeRecordsList(){
      const res = await exchangeRecords()
      if(res && res.code === 200){
        this.recordsList = res.result
      }else{
        return this.$toast.fail('网络错误')
      }
    }
  },
  computed: {
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
  },
  created() {
    this.getExchangeRecordsList()
  },

}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
.my_container {
  .record_body {
    background-color: #fff;
    padding: 0 24px;
    .record_item {
      border-bottom: 1px solid #f2f2f2;
      padding: 40px 0;
      display: flex;
      justify-content: space-between;
      .item_left {
        display: flex;
        .left_img {
          display: flex;
          margin-right: 19px;
          img {
            width: 96px;
            height: 96px;
            background: linear-gradient(-40deg, #f33d34 0%, #ff8575 100%);
            border-radius: 6px;
          }
        }
        .left_info {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .info_text {
            font-size: 24px;
            font-weight: bold;
            color: #333333;
            letter-spacing: 1px;
            display: inline-block;
          }
          .info_coin {
            font-size: 28px;
            font-weight: bold;
            color: #ff1313;
            display: inline-block;
          }
        }
      }
      .item_right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        span {
          display: inline-block;
        }
        .right_time {
          font-size: 24px;
          font-weight: 500;
          color: #999999;
          line-height: 28px;
          letter-spacing: 1px;
        }
        .right_status_doing {
          font-size: 24px;
          font-weight: 500;
          color: @theme-color;
          letter-spacing: 1px;
          text-align: right;
        }
        .right_status_done {
          font-size: 24px;
          font-weight: 500;
          color: #666666;
          letter-spacing: 1px;
          text-align: right;
        }
      }
    }
  }
}
</style>
