// 评论部分
.reply_part{
  margin-bottom: 118px;
  // 评论头部样式
.replyHeader {
  width: 708px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
  .all_reply {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 28px;
      font-weight: bold;
      color: #000000;
      line-height: 28px;
      display: inline-block;
    }
    :last-child {
      font-weight: normal;
      margin-left: 12px;
    }
  }
  .replyHeader_right {
    display: flex;
    justify-content: center;
    align-items: center;
    :first-child {
      width: 22px;
      height: 22px;
    }
    span {
      font-size: 24px;
      font-weight: 500;
      color: #666666;
      line-height: 28px;
      display: inline-block;
      margin: 0 9px;
    }
    :last-child {
      width: 12px;
      height: 7px;
    }
  }
}
// 评论尾部样式
.replyFooter_container {
  width: 750px;
  height: 98px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  .reply_input {
    width: 598px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #cecece;
    margin-left: 24px;
    border-radius: 24px;
  }
  .like_part {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 28px;
      height: 28px;
    }
    span {
      font-size: 24px;
      font-weight: 500;
      color: #999999;
      margin: 0 24px 0 10px;
    }
  }
}
}
