<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>浏览记录</h6>
      <span class="empty">清空</span>
    </div>
    <!-- 主体内容区域 -->
    <div class="game_container">
      <!-- 内容区域 -->
      <div class="wordPics_container">
        <div class="wordPics_body" v-for="item in wordPicsList" :key="item.id">
          <div class="wordPics_item">
            <!-- 头部区域 -->
            <div class="item_top">
              <div class="top_left">
                <img :src="topImgUrl(item.avatar)" alt />
                <div class="user_name">
                  {{item.nickName}}
                  <span>
                    <img :src="levelImgUrl(item.level)" alt />
                  </span>
                </div>
              </div>
              <div class="top_right" v-if="item.followStatus === 0 || item.followStatus === 1">
                <van-button plain class="top_btn">关注</van-button>
              </div>
              <div class="top_right" v-else-if="item.followStatus === 2">
                <van-button plain class="top_btn_done">已关注</van-button>
              </div>
              <div class="top_right" v-else-if="item.followStatus === 3">
                <van-button plain class="top_btn_done">互相关注</van-button>
              </div>
            </div>
            <!-- 中间区域 -->
            <div
              class="item_content"
              @click="$router.push({path:`/home/details/synthesize/wordPicsDetails/${tabType}/${item.id}`})"
            >
              <p>{{item.description}}</p>
              <div class="content_img" v-if="item.images && item.images.length > 1">
                <img v-for="img in item.images" :key="img" :src="topImgUrl(img)" alt />
              </div>
              <div class="single_img" v-if="item.images && item.images.length === 1">
                <img :src="topImgUrl(item.images[0])" alt />
              </div>
            </div>
            <!-- 尾部区域 -->
            <div class="item_function">
              <div class="function_left">
                <span class="reading">
                  <img :src="require('@/assets/image/home_ic_reading.png')" alt />
                  <span class="count">{{item.viewCount}}</span>
                </span>
              </div>
              <div class="function_right">
                <span class="likes" v-if="item.isLike">
                  <img :src="require('@/assets/image/home_btn_only_pressed.png')" alt />
                  <span class="count">{{item.likeCount}}</span>
                </span>
                <span class="likes" v-else>
                  <img :src="require('@/assets/image/home_btn_like.png')" alt />
                  <span class="count">{{item.likeCount}}</span>
                </span>
                <span class="comments">
                  <img :src="require('@/assets/image/home_btn_comments.png')" alt />
                  <span class="count">{{item.replyCount}}</span>
                </span>
              </div>
            </div>
          </div>
          <!-- 分割线 -->
          <van-divider class="item_divider" />
        </div>
      </div>
      <!-- 随笔区域 -->
      <div class="essay">
        <img
          :src="require('@/assets/image/home_btn_edit.png')"
          @click="$router.push('/guideDownload')"
          alt
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
    }
 },
  methods: {

  },
  created() {

  },

}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
@import url('../../../components/home/css/game.less');
.empty {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  position: absolute;
  right: 24px;
}
</style>
