<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>成长值</h6>
    </div>
    <!-- 内容主题区域 -->
    <div class="my_content_body">
      <!-- 我的等级区域 -->
      <div class="my_level">
        <h6>我的等级</h6>
        <p>
          距离您下次升级还需要
          <span>{{remainExp}}</span>成长值
        </p>
        <!-- 进度条区域 -->
        <div class="my_progress">
          <div class="have_done_round"></div>
          <div class="user_level" :style="userLevelObj">
            <div class="user_img">
              <img :src="topImgUrl(user_body.avatar)" alt />
            </div>
            <div class="user_info">
              <p class="level">Lv.{{user_body.level}}</p>
              <p class="exp">{{user_body.exp}}exp</p>
            </div>
          </div>
          <div class="having_round" :style="havingRoundgObj"></div>
          <van-progress pivot-text color="#ff7d14" :percentage="expPercentage" />
          <div class="no_done_round"></div>
          <div class="left_bottom">
            <p class="level">Lv.{{currentLevelObj.level}}</p>
            <p class="exp">{{currentLevelObj.exp}}exp</p>
          </div>
          <div class="right_bottom">
            <p class="level right">Lv.{{nextLevelObj.level}}</p>
            <p class="exp">{{nextLevelObj.exp}}exp</p>
          </div>
        </div>
      </div>
      <!-- 等级说明区域 -->
      <div class="level_explain">
        <h6>等级说明</h6>
        <p>
          等级代表用户使用论坛的丰富经验，登录论坛，签到，做日常任务，高级任务，皆可以获得经验值。
          成长值达到指定数值就可以达到相应的等级。
        </p>
      </div>
      <!-- 如何提升等级区域 -->
      <div class="promote_level">
        <h6>如何提升等级</h6>
        <p>不同等级需要的成长值不同，成长值可以通过完成各类任务和参与活动获得。</p>
        <div class="table_header">
          <div class="header_part">
            <span>用户等级(Lv)</span>
          </div>
          <div class="header_part">
            <span>经验值(exp)</span>
          </div>
        </div>
        <div class="level_table">
          <div class="table_item" v-for="item in levelThresholdList" :key="item.level">
            <div class="item_part">
              <span>Lv.{{item.level}}</span>
            </div>
            <div class="item_part">
              <span>{{item.exp}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { levelThreshold } from '@/api/user'
import { createNamespacedHelpers } from 'vuex';
const { mapState:userMapState } = createNamespacedHelpers('user')
const { mapState:appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      levelThresholdList: [], // 等级阈值列表
      // 跟随进度的小圆点
      havingRoundgObj: {
        position: 'absolute',
        left: '0',
        top: '-0.04rem'
      },
      // 用户的头像以及经验值
      userLevelObj: {
        position: 'absolute',
        left: '-6%',
        top: '-1.3rem'
      },
      currentLevelObj: {}, // 当前等级
      nextLevelObj: {}, // 下一个可升级到的等级
      remainExp: 0, // 升级所需的经验值
      expPercentage: 0 // 经验值百分比
    }
 },
  methods: {
    // 获取用户等级阈值
    async getLevelThreshold(){
      const res = await levelThreshold()
      if(res && res.code === 200){
        this.levelThresholdList = res.result
        // 根据当前用户的level，拿取前后level的经验值
        this.currentLevelObj = res.result.filter(item => this.user_body.level === item.level)[0]
        this.nextLevelObj = res.result.filter(item => (this.user_body.level + 1) === item.level)[0]
        // 计算升级到下一级所需的经验值
        // this.user_body.exp = 200
        this.remainExp = parseInt(this.nextLevelObj.exp) - parseInt(this.user_body.exp)
        // 计算经验值百分比
        this.expPercentage = Math.round(parseInt(this.user_body.exp) / parseInt(this.nextLevelObj.exp) * 10000) / 100.00
        // console.log(this.expPercentage)
        this.judgeExp(this.expPercentage)
      }else{
        return this.$toast.fail('网络错误')
      }
    },
    // 判断经验值的进度百分比
    judgeExp(expPercentage){
      if(expPercentage < 8){
        this.userLevelObj.left = '-6%'
      }else if(expPercentage > 92){
        this.userLevelObj.left = '78%'
      }else{
        this.userLevelObj.left = (expPercentage - 14) + '%'
      }
      this.havingRoundgObj.left = expPercentage + '%'
      // console.log(this.havingRoundgObj.left)
    }
  },
  computed: {
    ...userMapState(['user_body']),
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
  },
  created() {
    this.getLevelThreshold()
  },

}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
.my_container {
  background-color: #fff;
  height: 100vh;
  .my_content_body {
    padding-bottom: 20px;
    .my_level {
      margin: 19px 23px 40px;
      h6 {
        margin: 0;
        margin-bottom: 19px;
        font-size: 28px;
        font-weight: bold;
        color: #333333;
        line-height: 28px;
        letter-spacing: 1px;
      }
      p {
        margin: 0;
        margin-bottom: 150px;
        font-size: 24px;
        font-weight: 500;
        color: #666666;
        line-height: 28px;
        letter-spacing: 1px;
        span {
          color: #ff7d14;
        }
      }
      .my_progress {
        position: relative;
        margin: 0 22px 130px 33px;
        .have_done_round {
          width: 10px;
          height: 10px;
          background: #ff7d14;
          border-radius: 50%;
          z-index: 99;
          position: absolute;
          top: -3px;
          left: 0px;
        }
        .user_level {
          width: 160px;
          height: 64px;
          background: #ffffff;
          border-radius: 6px;
          box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
          padding: 10px 0 10px 14px;
          display: flex;
          .user_img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 7px;
            img {
              width: 44px;
              height: 44px;
              background: #ffffff;
              border-radius: 50%;
            }
          }
        }
        .having_round {
          width: 10px;
          height: 10px;
          background: #ff7d14;
          border-radius: 50%;
          z-index: 99;
        }
        .no_done_round {
          width: 10px;
          height: 10px;
          background: #d8d8d8;
          border-radius: 50%;
          position: absolute;
          top: -3px;
          right: -10px;
        }
        .left_bottom {
          position: absolute;
          left: -32px;
          bottom: -75px;
        }
        .right_bottom {
          position: absolute;
          right: -25px;
          bottom: -75px;
        }
        .level {
          font-size: 24px;
          font-weight: 500;
          color: #000000;
          line-height: 28px;
          letter-spacing: -1px;
          margin: 0;
        }
        .right {
          text-align: right;
        }
        .exp {
          font-size: 20px;
          font-weight: 500;
          color: #999999;
          line-height: 28px;
          margin: 0;
          margin-top: 9px;
        }
      }
    }
    .level_explain {
      padding: 0 29px 0 25px;
      margin-bottom: 40px;
      h6 {
        font-size: 28px;
        font-weight: bold;
        color: #333333;
        line-height: 28px;
        letter-spacing: 1px;
        margin: 0;
        margin-bottom: 20px;
      }
      p {
        margin: 0;
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        letter-spacing: 1px;
        line-height: 48px;
      }
    }
    .promote_level {
      padding: 0 29px 0 25px;
      h6 {
        font-size: 28px;
        font-weight: bold;
        color: #333333;
        line-height: 28px;
        letter-spacing: 1px;
        margin: 0;
      }
      p {
        margin: 20px 0;
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        letter-spacing: 1px;
        line-height: 48px;
      }
      .table_header {
        background-color: @theme-color;
        height: 72px;
        width: 100%;
        display: flex;
        .header_part {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            display: inline-block;
            font-size: 28px;
            font-weight: bold;
            color: #ffffff;
            line-height: 28px;
            letter-spacing: 2px;
          }
        }
      }
      .level_table {
        .table_item:nth-child(odd) {
          background-color: #f2f2f2;
        }
        .table_item:nth-child(even) {
          background-color: #dbe6fa;
        }
        .table_item {
          height: 72px;
          width: 100%;
          display: flex;
          .item_part {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              display: inline-block;
              font-size: 28px;
              font-weight: 500;
              color: #333333;
              line-height: 28px;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
}
</style>
