<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>编辑资料</h6>
      <span class="save_info">保存</span>
    </div>
    <!-- 内容区域 -->
    <div class="info_part">
      <div class="info_item">
        <span class="item_left">头像</span>
        <img :src="topImgUrl(user_body.avatar)" alt />
      </div>
      <div class="info_item">
        <span class="item_left">昵称</span>
        <span class="item_right">{{ user_body.nickName }}</span>
      </div>
      <div class="info_item">
        <span class="item_left">个人简介</span>
        <span class="item_right">{{ user_body.resume }}</span>
      </div>
      <div class="info_item">
        <span class="item_left">生日</span>
        <span class="item_right">
          {{ user_body.birthday }}
          <img :src="require('@/assets/image/my_btn_birthday.png')" alt />
        </span>
      </div>
      <div class="info_item">
        <span class="item_left">性别</span>
        <div class="item_radio">
          <van-radio-group v-model="user_body.gender" direction="horizontal">
            <van-radio name="0" class="man">男</van-radio>
            <van-radio name="1">女</van-radio>
          </van-radio-group>
        </div>
      </div>
      <van-datetime-picker
        v-model="currentDate"
        type="date"
        title="选择日期"
        :min-date="minDate"
        :max-date="maxDate"
      />
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState:userMapState } = createNamespacedHelpers('user')
const { mapState:appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      isSelectDate: false,
      minDate: new Date(1970, 0, 1),
      maxDate: new Date(2030, 10, 1),
      currentDate: new Date(),
    }
 },
  methods: {
   
  },
  computed: {
    ...userMapState(['user_body']),
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
  },
  created() {
  },
  mounted(){
    /* console.log(this.user_body)
    console.log(this.imgUrl) */
    console.log(this.user_body.gender)
  }
}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
.my_container {
  background-color: #fff;
  .save_info {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    right: 23px;
    top: 28px;
    letter-spacing: 1px;
  }
  .info_part {
    .info_item {
      border-bottom: 1px solid #f9f9f9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 24px;
      height: 87px;
      .item_left {
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        line-height: 28px;
        letter-spacing: 1px;
      }
      .item_right {
        font-size: 24px;
        font-weight: 500;
        color: #999999;
        line-height: 28px;
        letter-spacing: 1px;
        img {
          width: 10px;
          height: 18px;
        }
      }
      .item_radio {
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        height: 40px;
        display: flex;
        .man {
          margin-right: 39px;
        }
      }
      img {
        width: 72px;
        height: 72px;
        background: #f2f2f2;
        border-radius: 50%;
      }
    }
  }
}
</style>
