<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>消息</h6>
    </div>
    <!-- tab栏区域 -->
    <div class="messages_tab">
      <van-tabs
        line-width="35"
        v-model="messageType"
        color="#4B84E6"
        swipeable
        @click="handleTabsClick"
      >
        <van-tab title="回复" class="tab_item" name="2"></van-tab>
        <van-tab title="活动" class="tab_item" name="3"></van-tab>
        <van-tab title="任务" class="tab_item" name="4"></van-tab>
        <van-tab title="消息" class="tab_item" name="1"></van-tab>
      </van-tabs>
    </div>
    <!-- 主体内容区域 -->
    <div class="messages_body">
      <!-- 回复区域 -->
      <div class="reply_body" v-if="type === 2">
        <div class="reply_item">
          <div class="item_img">
            <img :src="require('@/assets/image/wall.jpg')" alt />
          </div>
          <div class="item_content">
            <div class="content_top">
              <h6 class="top_user">一叶扁舟 评论了我的帖子</h6>
              <span class="top_time">1小时前</span>
            </div>
            <div class="content_bottom">
              <p>
                #5 没有什么是咬咬牙过不去的，要还是过不去就咬舌头
                吧，哈哈哈...
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- 活动区域 -->
      <div class="activity_body" v-else-if="type === 3">
        <div class="activity_item">
          <p>
            你成功邀请 一叶扁舟 加入论坛大家庭，将获得
            <span>500</span>积分奖励，再接再厉，获得积分赢大奖！
          </p>
          <p class="time_ago">1小时前</p>
        </div>
        <div class="activity_item">
          <p>
            你成功邀请 一叶扁舟 加入论坛大家庭，将获得
            <span>500</span>积分奖励，再接再厉，获得积分赢大奖！
          </p>
          <p class="time_ago">1小时前</p>
        </div>
      </div>
      <!-- 任务区域 -->
      <div class="task_body" v-else-if="type === 4">
        <div class="task_item" @click="$router.push('/about/my/message/taskMessages')">
          <div class="item_title">
            <h6>任务消息通知</h6>
            <div class="item_message">1</div>
          </div>
          <p>您有新消息，请注意查看！</p>
        </div>
        <div class="task_item" @click="$router.push('/about/my/message/orderMessages')">
          <div class="item_title">
            <h6>接单消息通知</h6>
            <div class="item_message">99</div>
          </div>
          <p>1000金币已到账，您提交的网址助力任务已被对方审核通过。</p>
        </div>
      </div>
      <!-- 消息区域 -->
      <div class="system_body" v-else-if="type === 1">
        <div class="system_item">
          <div class="item_time">
            <span>13:20</span>
          </div>
          <div class="item_content">
            <h6>最新活动通知！！</h6>
            <p>最新活动通知最新活动通知最新活动通知最新活动通知最新活动通知</p>
            <div class="division"></div>
            <span class="item_more">查看更多>></span>
          </div>
        </div>
        <div class="system_item">
          <div class="item_time">
            <span>13:20</span>
          </div>
          <div class="item_content">
            <h6>最新活动通知！！</h6>
            <p>最新活动通知最新活动通知最新活动通知最新活动通知最新活动通知</p>
            <div class="division"></div>
            <span class="item_more">查看更多>></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { userMessages } from '@/api/user'
export default {
  data() {
    return {
       messageType: 2,
       messagesList: [],
       type: 2
    }
 },
  methods: {
    // 点击 tab 栏触发事件
    handleTabsClick(name, title){
      this.type = parseInt(name)
      let params = {
        msgType: this.type
      }
      this.messagesList = this.getUserMessagesList(params)
    },
    // 获取用户的消息列表
    async getUserMessagesList(params){
      const res = await userMessages(params)
      // console.log(res)
      if(res && res.code === 200){
        this.messagesList = res.result
      }else{
        return this.$toast.fail('网络错误')
      }
    }
  },
  created() {
    let params = {
      msgType: this.messageType
    }
    this.getUserMessagesList(params)
  },

}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
.my_container {
  height: 100vh;
  background-color: #f2f2f2;
  /deep/ .van-tabs--line .van-tabs__wrap {
    height: 88px;
  }
  .van-tabs {
    /deep/ span {
      font-size: 28px;
      letter-spacing: 4px;
    }
    /deep/ .van-tab--active {
      color: #333333;
      font-weight: bold;
    }
  }
  .messages_body {
    .reply_body {
      padding: 0 24px 20px;
      .reply_item {
        padding: 21px 16px 18px 20px;
        margin-top: 20px;
        display: flex;
        background-color: #fff;
        .item_img {
          margin-right: 20px;
          img {
            width: 64px;
            height: 64px;
            background: #f2f2f2;
            border-radius: 32px;
          }
        }
        .item_content {
          .content_top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            h6 {
              font-size: 24px;
              font-weight: 500;
              color: #333333;
              margin: 0;
              line-height: 28px;
            }
            span {
              font-size: 22px;
              font-weight: 400;
              color: #999999;
              line-height: 28px;
            }
          }
          .content_bottom {
            p {
              font-size: 24px;
              font-weight: 500;
              color: #666666;
              line-height: 28px;
              letter-spacing: 0px;
              margin: 0;
            }
          }
        }
      }
    }
    .activity_body {
      padding: 0 24px 20px;
      .activity_item {
        background-color: #fff;
        padding: 20px 26px 20px 20px;
        margin-top: 20px;
        p {
          font-size: 24px;
          font-weight: 500;
          color: #333333;
          letter-spacing: 1px;
          margin: 0;
          span {
            color: #ff1313;
          }
        }
        .time_ago {
          font-size: 22px;
          font-weight: 400;
          color: #999999;
          line-height: 28px;
          letter-spacing: 1px;
          margin: 20px 0 0 0;
        }
      }
    }
    .task_body {
      padding: 0 24px;
      .task_item {
        background-color: #fff;
        margin-top: 20px;
        padding: 20px;
        .item_title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h6 {
            font-size: 24px;
            font-weight: 500;
            color: #333333;
            letter-spacing: 1px;
            margin: 0;
          }
          .item_message {
            width: 28px;
            height: 28px;
            background: #ff1313;
            border-radius: 50%;
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 2px;
          }
        }
        p {
          font-size: 24px;
          font-weight: 500;
          color: #666666;
          letter-spacing: 1px;
          margin: 0;
          margin-top: 20px;
        }
      }
    }
    .system_body {
      padding: 0 24px 20px;
      .system_item {
        margin-top: 40px;
        .item_time {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
          span {
            font-size: 22px;
            font-weight: 400;
            color: #999999;
            line-height: 28px;
          }
        }
        .item_content {
          background-color: #fff;
          padding: 20px 0;
          h6 {
            margin: 0 0 20px 20px;
            font-size: 24px;
            font-weight: 500;
            color: #333333;
            letter-spacing: 1px;
          }
          p {
            margin: 0 16px 20px 20px;
            font-size: 24px;
            font-weight: 500;
            color: #666666;
            letter-spacing: 1px;
            line-height: 48px;
          }
          .division {
            width: 100%;
            height: 1px;
            opacity: 0.4;
            background: #d2d2d2;
          }
          .item_more {
            text-align: center;
            margin: 20px 0 0 0;
            font-size: 24px;
            font-weight: 500;
            color: #999999;
            display: block;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
</style>
