<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>我的接单</h6>
    </div>
    <!-- tab栏区域 -->
    <div class="orders_tab">
      <van-tabs color="#4B84E6" swipeable>
        <van-tab title="全部" class="tab_item"></van-tab>
        <van-tab title="待提交" class="tab_item"></van-tab>
        <van-tab title="审核中" class="tab_item"></van-tab>
        <van-tab title="未通过" class="tab_item"></van-tab>
        <van-tab title="已完成" class="tab_item"></van-tab>
      </van-tabs>
    </div>
    <!-- 列表区域 -->
    <div class="orders_list">
      <!-- 待提交区域 -->
      <div class="order_item">
        <div class="head_img">
          <img :src="require('@/assets/image/wall.jpg')" alt />
        </div>
        <div class="order_right">
          <div class="right_top">
            <div class="top_title">
              <span>拼多多砍价任务</span>
              <van-button size="small" plain class="title_btn">网址助力任务</van-button>
            </div>
            <div class="top_coin">
              <span>+500金币</span>
            </div>
          </div>
          <div class="right_middle">
            <span>有点儿甜</span>
          </div>
          <div class="right_footer">
            <div class="order_time">
              <span>2020/05/05 09:30</span>
            </div>
            <div class="footer_btn">
              <van-button plain class="abandon_btn">放弃</van-button>
              <van-button class="submit_btn">待提交</van-button>
            </div>
          </div>
        </div>
      </div>
      <!-- 审核中区域 -->
      <div class="order_item">
        <div class="head_img">
          <img :src="require('@/assets/image/wall.jpg')" alt />
        </div>
        <div class="order_right">
          <div class="right_top">
            <div class="top_title">
              <span>拼多多砍价任务</span>
              <van-button size="small" plain class="title_btn">网址助力任务</van-button>
            </div>
            <div class="top_coin">
              <span>+500金币</span>
            </div>
          </div>
          <div class="right_middle">
            <span>有点儿甜</span>
          </div>
          <div class="right_footer">
            <div class="order_time">
              <span>2020/05/05 09:30</span>
            </div>
            <div class="footer_btn">
              <van-button class="submit_btn">审核中</van-button>
            </div>
          </div>
        </div>
      </div>
      <!-- 未通过区域 -->
      <div class="order_item">
        <div class="head_img">
          <img :src="require('@/assets/image/wall.jpg')" alt />
        </div>
        <div class="order_right">
          <div class="right_top">
            <div class="top_title">
              <span>拼多多砍价任务</span>
              <van-button size="small" plain class="title_btn">网址助力任务</van-button>
            </div>
            <div class="top_coin">
              <span>+500金币</span>
            </div>
          </div>
          <div class="right_middle">
            <span>有点儿甜</span>
          </div>
          <div class="right_footer">
            <div class="order_time">
              <span>2020/05/05 09:30</span>
            </div>
            <div class="footer_btn">
              <van-button plain class="abandon_btn">放弃</van-button>
              <van-button class="submit_btn">未通过</van-button>
            </div>
          </div>
        </div>
      </div>
      <!-- 已放弃区域 -->
      <div class="order_item">
        <div class="head_img">
          <img :src="require('@/assets/image/wall.jpg')" alt />
        </div>
        <div class="order_right">
          <div class="right_top">
            <div class="top_title">
              <span>拼多多砍价任务</span>
              <van-button size="small" plain class="title_btn">网址助力任务</van-button>
            </div>
            <div class="top_coin">
              <span>+500金币</span>
            </div>
          </div>
          <div class="right_middle">
            <span>有点儿甜</span>
          </div>
          <div class="right_footer">
            <div class="order_time">
              <span>2020/05/05 09:30</span>
            </div>
            <div class="footer_btn">
              <span>已放弃</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 已完成区域 -->
      <div class="order_item">
        <div class="head_img">
          <img :src="require('@/assets/image/wall.jpg')" alt />
        </div>
        <div class="order_right">
          <div class="right_top">
            <div class="top_title">
              <span>拼多多砍价任务</span>
              <van-button size="small" plain class="title_btn">网址助力任务</van-button>
            </div>
            <div class="top_coin">
              <span>+500金币</span>
            </div>
          </div>
          <div class="right_middle">
            <span>有点儿甜</span>
          </div>
          <div class="right_footer">
            <div class="order_time">
              <span>2020/05/05 09:30</span>
            </div>
            <div class="footer_btn">
              <span>已完成</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
 },
  methods: {

  },
  created() {

  },

}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
.my_container {
  background-color: #fff;
  /deep/ .van-tabs--line .van-tabs__wrap {
    height: 80px;
  }
  .van-tabs {
    /deep/ span {
      font-size: 28px;
      letter-spacing: 1px;
    }
    /deep/ .van-tab--active {
      color: #333333;
      font-weight: bold;
    }
  }
  .orders_list {
    border-top: 1px solid #f9f9f9;
    .order_item {
      display: flex;
      padding: 20px 24px 30px;
      border-bottom: 1px solid #f9f9f9;
      .head_img {
        margin-right: 20px;
        img {
          width: 72px;
          height: 72px;
          background: #555555;
          border-radius: 50%;
        }
      }
      .order_right {
        display: flex;
        flex-direction: column;
        width: 100%;
        .right_top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .top_title {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              font-size: 28px;
              font-weight: 500;
              color: #333333;
              display: inline-block;
            }
            .title_btn {
              background: #ffffff;
              border: 1px solid @theme-color;
              border-radius: 6px;
              margin-left: 20px;
              span {
                font-size: 20px;
                font-weight: 500;
                color: @theme-color;
                line-height: 28px;
              }
            }
          }
          .top_coin {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              font-size: 28px;
              font-weight: 500;
              color: #ff1313;
              display: inline-block;
            }
          }
        }
        .right_middle {
          display: flex;
          margin: 6px 0;
          span {
            font-size: 24px;
            font-weight: 500;
            color: #666666;
            display: inline-block;
          }
        }
        .right_footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .order_time {
            display: flex;
            align-items: center;
            span {
              font-size: 20px;
              font-weight: 500;
              color: #999999;
              display: inline-block;
            }
          }
          .footer_btn {
            display: flex;
            align-items: center;
            .abandon_btn {
              background: #ffffff;
              border: 1px solid @theme-color;
              border-radius: 6px;
              margin-right: 20px;
              span {
                font-size: 24px;
                font-weight: 500;
                color: @theme-color;
                line-height: 28px;
                display: inline-block;
              }
            }
            .submit_btn {
              background: @theme-color;
              border-radius: 6px;
              span {
                font-size: 24px;
                font-weight: 500;
                color: #ffffff;
              }
            }
            span {
              font-size: 24px;
              font-weight: 500;
              color: #666666;
            }
          }
        }
      }
    }
  }
}
</style>
