<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>我的帖子</h6>
    </div>
    <!-- tab栏区域 -->
    <!-- 主体内容区域 -->
    <div class="post_tab">
      <van-tabs line-width="35" color="#4B84E6" swipeable @click="handleClickTab">
        <!-- 帖子区域 -->
        <van-tab title="帖子" class="tab_item">
          <div class="wordPics_container">
            <div class="wordPics_body" v-for="item in wordPicsList" :key="item.id">
              <div class="wordPics_item">
                <!-- 中间区域 -->
                <div
                  class="item_content"
                  @click="$router.push({path:`/home/details/synthesize/wordPicsDetails/${tabType}/${item.id}`})"
                >
                  <p>{{item.description}}</p>
                  <div class="content_img" v-if="item.images && item.images.length > 1">
                    <img v-for="img in item.images" :key="img" :src="topImgUrl(img)" alt />
                  </div>
                  <div class="single_img" v-if="item.images && item.images.length === 1">
                    <img :src="topImgUrl(item.images[0])" alt />
                  </div>
                </div>
                <!-- 尾部区域 -->
                <div class="item_function">
                  <div class="function_left">
                    <span class="reading">
                      <img :src="require('@/assets/image/home_ic_reading.png')" alt />
                      <span class="count">{{item.viewCount}}</span>
                    </span>
                  </div>
                  <div class="function_right">
                    <span class="likes" v-if="item.isLike">
                      <img :src="require('@/assets/image/home_btn_only_pressed.png')" alt />
                      <span class="count">{{item.likeCount}}</span>
                    </span>
                    <span class="likes" v-else>
                      <img :src="require('@/assets/image/home_btn_like.png')" alt />
                      <span class="count">{{item.likeCount}}</span>
                    </span>
                    <span class="comments">
                      <img :src="require('@/assets/image/home_btn_comments.png')" alt />
                      <span class="count">{{item.replyCount}}</span>
                    </span>
                  </div>
                </div>
              </div>
              <!-- 分割线 -->
              <van-divider class="item_divider" />
            </div>
          </div>
        </van-tab>
        <!-- 文章区域 -->
        <van-tab title="文章" class="tab_item">
          <div class="news_container">
            <div class="news_body" v-for="item in newsList" :key="item.id">
              <div
                class="news_content"
                @click="$router.push('/home/details/synthesize/singlePicDetails/1')"
              >
                <h6>{{item.description}}</h6>
                <div class="news_img" v-if="item.images !== null">
                  <img :src="topImgUrl(item.images[0])" alt />
                </div>
              </div>
              <!-- 尾部区域 -->
              <div class="item_function">
                <div class="function_left">
                  <span class="reading">
                    <img :src="require('@/assets/image/home_ic_reading.png')" alt />
                    <span class="count">{{item.viewCount}}</span>
                  </span>
                </div>
                <div class="function_right">
                  <span class="likes" v-if="item.isLike">
                    <img :src="require('@/assets/image/home_btn_like_pressed.png')" alt />
                    <span class="count">{{item.likeCount}}</span>
                  </span>
                  <span class="likes" v-else>
                    <img :src="require('@/assets/image/home_btn_like.png')" alt />
                    <span class="count">{{item.likeCount}}</span>
                  </span>
                  <span class="comments">
                    <img :src="require('@/assets/image/home_btn_comments.png')" alt />
                    <span class="count">{{item.replyCount}}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </van-tab>
      </van-tabs>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers, mapActions } from 'vuex'
const { mapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
    }
 },
  methods: {
    handleClickTab(name, title){

    }
  },
  computed: {
    ...mapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
  },
  created() {

  },
}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
// 帖子样式
@import url('../../../components/home/css/game.less');
// 文章样式
@import url('../../../components/home/css/news.less');
// tab栏样式
/deep/ .van-tabs--line .van-tabs__wrap {
  height: 88px;
}
.van-tabs {
  /deep/ span {
    font-size: 28px;
    letter-spacing: 4px;
  }
  /deep/ .van-tab--active {
    color: #333333;
    font-weight: bold;
  }
  /deep/ .van-tabs__line {
    width: 35px;
  }
}
</style>
