<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>我的钱包</h6>
      <span class="top_text" @click="$router.push('/about/exchange/exchangeCenter')">兑换</span>
    </div>
    <!-- 金币充值区域 -->
    <div class="coin_recharge">
      <div class="my_coin">
        <!-- <span>可用金币（枚）</span> -->
        <h6 class="coin_text">可用金币（枚）</h6>
        <h6>{{user_status.gold}}</h6>
      </div>
      <div class="my_recharge">
        <button @click="$router.push('/about/my/myRecharge')">立即充值</button>
      </div>
    </div>
    <!-- 金币明细区域 -->
    <div class="coin_details">
      <h6>金币明细</h6>
      <div class="details_part">
        <div class="details_item" v-for="(item, index) in userAccList" :key="index">
          <div class="item_main">
            <div class="item_left">
              <span>{{item.title}}</span>
              <span class="item_time">{{item.time}}</span>
            </div>
            <div class="item_right">
              <img :src="require('@/assets/image/my_ic_gold.png')" alt />
              <span v-if="item.gold > 0">+{{item.gold}}</span>
              <span class="expend_coin" v-if="item.gold < 0">{{item.gold}}</span>
            </div>
          </div>
          <div class="division"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { userAccDetails } from '@/api/user'
import { toChangeTimestamp } from '@/filters/filter'
import { createNamespacedHelpers } from 'vuex';
const { mapState:userMapState } = createNamespacedHelpers('user')
export default {
  data() {
    return {
      userAccList: []
    }
 },
  methods: {
    // 获取用户金币明细
    async getUserAccDetails(){
      const res = await userAccDetails()
      if(res && res.code === 200){
        res.result.forEach(item => { 
          item.time = toChangeTimestamp(item.time)
          let index = item.time.lastIndexOf(':')
          item.time = item.time.substring(0 ,index)
          let replaceIndex = item.time.indexOf(' ')
          let replaceText = item.time.substr(replaceIndex, 3)
          item.time = item.time.replace(replaceText, ' ')
        })
        this.userAccList = res.result
        
      }else{
        this.$toast.fail('网络错误')
      }
    }
  },
  computed: {
    ...userMapState(['user_status']),
  },
  created() {
    this.getUserAccDetails()
  },

}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
.my_container {
  background-color: #fff;
  .coin_recharge {
    .my_coin {
      height: 264px;
      margin: 20px 24px 40px;
      background: url('../../../assets/image/my_bg_wallet.png') no-repeat center;
      background-size: cover;
      .coin_text {
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
        padding: 20px 0 0 20px;
      }
      h6 {
        font-size: 72px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        letter-spacing: 2px;
        margin: 0;
        padding-top: 55px;
      }
    }
    .my_recharge {
      padding: 0 24px;
      button {
        width: 100%;
        height: 72px;
        background: @theme-color;
        border: 1px solid @theme-color;
        border-radius: 10px;
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
        letter-spacing: 2px;
      }
    }
  }
  .coin_details {
    margin: 40px 24px 0;
    h6 {
      font-size: 28px;
      font-weight: bold;
      color: #333333;
      margin: 0;
    }
    .details_part {
      .details_item {
        .item_main {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
          .item_left {
            display: flex;
            flex-direction: column;
            span {
              display: inline-block;
              font-size: 24px;
              font-weight: 500;
              color: #333333;
              line-height: 28px;
            }
            .item_time {
              color: #999999;
              margin-top: 10px;
            }
          }
          .item_right {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 24px;
              height: 24px;
            }
            span {
              display: inline-block;
              font-size: 28px;
              font-weight: bold;
              color: #ff1313;
              line-height: 28px;
              margin-left: 10px;
            }
            .expend_coin {
              font-weight: 500;
              color: #333333;
            }
          }
        }
        .division {
          margin-top: 20px;
          height: 1px;
          opacity: 0.4;
          background: #d2d2d2;
        }
      }
    }
  }
}
</style>
