<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>充值</h6>
    </div>
    <div class="recharge_body">
      <!-- 充值金币区域 -->
      <div class="recharge_coin">
        <div
          v-for="(item, index) in rechargeList"
          :key="item.CYN"
          :class="item.isActive ? activeClass: errorClass"
          @click="changeColor(index)"
        >
          <span class="item_coin">{{item.coin}}金币</span>
          <span>{{item.CNY}}元</span>
        </div>
      </div>
      <!-- 支付方式 -->
      <div class="pay_ment">
        <h6>支付方式</h6>
        <div class="pay_part">
          <div class="pay_top">
            <van-radio-group v-model="radio">
              <div class="pay_item">
                <div class="pay_name">
                  <img :src="require('@/assets/image/my_ic_wechat.png')" alt />
                  <span>微信</span>
                </div>
                <div class="pay_select">
                  <van-radio name="1" checked-color="#4b84e6">
                    <template #icon="props">
                      <img class="img-icon" :src="props.checked ? activeIcon : inactiveIcon" />
                    </template>
                  </van-radio>
                </div>
              </div>
              <div class="pay_item">
                <div class="pay_name">
                  <img :src="require('@/assets/image/my_ic_alipay.png')" alt />
                  <span>支付宝</span>
                </div>
                <div class="pay_select">
                  <van-radio name="2" checked-color="#4b84e6">
                    <template #icon="props">
                      <img class="img-icon" :src="props.checked ? activeIcon : inactiveIcon" />
                    </template>
                  </van-radio>
                </div>
              </div>
            </van-radio-group>
          </div>
          <div class="pay_footer">
            <button>确认充值5元</button>
            <span>
              提示：充值的金币仅用于发布任务，如进行提现将按照1万金币等
              于1元的比例进行提现。
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      radio: '1',
      activeIcon: require('@/assets/image/my_btn_select.png'),
      inactiveIcon: require('@/assets/image/my_btn_unselected.png'),
      activeClass: 'active_recharge_item',
      errorClass: 'recharge_item',
      rechargeList: [
        {coin: '5千', CNY: '5', isActive: true},
        {coin: '1万', CNY: '10', isActive: false},
        {coin: '2万', CNY: '20', isActive: false},
        {coin: '5万', CNY: '50', isActive: false},
        {coin: '10万', CNY: '100', isActive: false},
        {coin: '50万', CNY: '500', isActive: false},
      ],
      flag: 0
    }
 },
  methods: {
    // 切换充值金币区域的背景颜色
    changeColor(flag){
      this.rechargeList.forEach((item, index) => {
        if(index === flag){
          item.isActive = true
        }else{
          item.isActive = false
        }
        return item
      })
    }
  },
  created() {

  },

}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
.my_container {
  background-color: #fff;
  .recharge_body {
    .recharge_coin {
      padding: 20px 0 6px;
      display: flex;
      flex-wrap: wrap;
      .active_recharge_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 222px;
        height: 140px;
        background: @theme-color;
        border-radius: 6px;
        margin-left: 18px;
        margin-bottom: 18px;
        .item_coin {
          font-size: 28px;
          margin-bottom: 19px;
          color: #ffffff;
        }
        span {
          font-size: 24px;
          font-weight: 500;
          color: #f2f2f2;
          line-height: 28px;
          display: inline-block;
          letter-spacing: 4px;
        }
      }
      .recharge_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 222px;
        height: 140px;
        background: #ffffff;
        border: 1px solid #999999;
        border-radius: 6px;
        margin-left: 18px;
        margin-bottom: 18px;
        .item_coin {
          font-size: 28px;
          color: #333333;
          margin-bottom: 19px;
        }
        span {
          font-size: 24px;
          font-weight: 500;
          color: #999999;
          line-height: 28px;
          display: inline-block;
          letter-spacing: 4px;
        }
      }
    }
    .pay_ment {
      padding: 0 24px;
      h6 {
        font-size: 24px;
        font-weight: 500;
        color: #666666;
        line-height: 28px;
        margin: 0;
      }
      .pay_part {
        .pay_top {
          .pay_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
            .pay_name {
              display: flex;
              align-items: center;
              img {
                width: 44px;
                height: 44px;
              }
              span {
                display: inline-block;
                font-size: 24px;
                font-weight: 500;
                color: #333333;
                line-height: 28px;
                letter-spacing: 1px;
                margin-left: 20px;
              }
            }
            .pay_select {
              /deep/.van-radio__icon {
                height: 100%;
              }
              .img-icon {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
      .pay_footer {
        margin-top: 140px;
        button {
          width: 100%;
          height: 72px;
          background: @theme-color;
          border-radius: 10px;
          font-size: 32px;
          font-weight: bold;
          color: #ffffff;
          letter-spacing: 5px;
          border: 1px solid @theme-color;
        }
        span {
          font-size: 24px;
          font-weight: 500;
          color: #666666;
          line-height: 28px;
          letter-spacing: 1px;
          display: inline-block;
        }
      }
    }
  }
}
</style>
