<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>我发布的任务</h6>
    </div>
    <div class="tasks_list">
      <!-- 关闭任务区域 -->
      <div class="task_item">
        <div class="item_top">
          <div class="top_left">
            <div class="left_img">
              <img :src="require('@/assets/image/wall.jpg')" alt />
            </div>
            <div class="left_info">
              <span class="info_title">拼多多砍价任务</span>
              <span class="info_time">2020/05/05 09:30</span>
            </div>
          </div>
          <div class="top_right">
            <span>
              剩余数量：
              <span class="remain_count">9</span>/10
            </span>
            <img :src="require('@/assets/image/my_btn_birthday.png')" alt />
          </div>
        </div>
        <div class="item_middle">
          <div class="middle_body">
            <span>已报名：1</span>
            <span>未提交：0</span>
            <span>
              <span class="flag">待审核：</span>
              <span class="check_pending">0</span>
            </span>
            <span>未通过：1</span>
            <span>已通过：0</span>
            <span>纠纷单：0</span>
          </div>
        </div>
        <div class="item_footer">
          <van-button class="close_btn">关闭任务</van-button>
          <van-button class="check_btn">去审核</van-button>
        </div>
      </div>
      <!-- 已关闭区域 -->
      <div class="task_item">
        <div class="item_top">
          <div class="top_left">
            <div class="left_img">
              <img :src="require('@/assets/image/wall.jpg')" alt />
            </div>
            <div class="left_info">
              <span class="info_title">拼多多砍价任务</span>
              <span class="info_time">2020/05/05 09:30</span>
            </div>
          </div>
          <div class="top_right">
            <span>
              剩余数量：
              <span class="remain_count">9</span>/10
            </span>
            <img :src="require('@/assets/image/my_btn_birthday.png')" alt />
          </div>
        </div>
        <div class="item_middle">
          <div class="middle_body">
            <span>已报名：1</span>
            <span>未提交：0</span>
            <span>
              <span class="flag">待审核：</span>
              <span class="check_pending">0</span>
            </span>
            <span>未通过：1</span>
            <span>已通过：0</span>
            <span>纠纷单：0</span>
          </div>
        </div>
        <div class="item_footer">
          <van-button class="done_btn">已关闭</van-button>
          <van-button class="check_btn">去审核</van-button>
        </div>
      </div>
      <!-- 已结束区域 -->
      <div class="task_item">
        <div class="item_top">
          <div class="top_left">
            <div class="left_img">
              <img :src="require('@/assets/image/wall.jpg')" alt />
            </div>
            <div class="left_info">
              <span class="info_title">拼多多砍价任务</span>
              <span class="info_time">2020/05/05 09:30</span>
            </div>
          </div>
          <div class="top_right">
            <span>
              剩余数量：
              <span class="remain_count">9</span>/10
            </span>
            <img :src="require('@/assets/image/my_btn_birthday.png')" alt />
          </div>
        </div>
        <div class="item_middle">
          <div class="middle_body">
            <span>已报名：1</span>
            <span>未提交：0</span>
            <span>
              <span class="flag">待审核：</span>
              <span class="check_pending">0</span>
            </span>
            <span>未通过：1</span>
            <span>已通过：0</span>
            <span>纠纷单：0</span>
          </div>
        </div>
        <div class="item_footer">
          <van-button class="done_btn">已结束</van-button>
          <van-button class="check_btn">去审核</van-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
 },
  methods: {

  },
  created() {

  },

}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
.my_container {
  .tasks_list {
    margin: 0 24px;
    .task_item {
      padding: 30px 20px 20px;
      margin-top: 20px;
      background-color: #fff;
      .item_top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 26px;
        .top_left {
          display: flex;
          .left_img {
            width: 80px;
            height: 80px;
            margin-right: 20px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .left_info {
            display: flex;
            flex-direction: column;
            .info_title {
              font-size: 28px;
              font-weight: 500;
              color: #333333;
              display: inline-block;
              margin-bottom: 15px;
            }
            .info_time {
              font-size: 20px;
              font-weight: 500;
              color: #999999;
              display: inline-block;
            }
          }
        }
        .top_right {
          span {
            font-size: 24px;
            font-weight: 500;
            color: #666666;
            .remain_count {
              color: #ff8989;
              margin-right: 0;
            }
            margin-right: 20px;
          }
          img {
            width: 10px;
            height: 18px;
          }
        }
      }
      .item_middle {
        margin-left: 100px;
        .middle_body {
          display: flex;
          flex-wrap: wrap;
          width: 530px;
          span {
            font-size: 24px;
            font-weight: 500;
            color: #999999;
            display: inline-block;
            margin-bottom: 20px;
            .check_pending {
              color: #ff8989;
              margin: 0;
            }
            .flag {
              margin-bottom: 0;
            }
          }
          :nth-child(2) {
            margin: 0 75px;
          }
          :nth-child(5) {
            margin: 0 75px;
          }
        }
      }
      .item_footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        .close_btn {
          width: 140px;
          height: 44px;
          background: #ffffff;
          border: 1px solid @theme-color;
          border-radius: 6px;
          margin-right: 20px;
          span {
            font-size: 24px;
            font-weight: 500;
            color: @theme-color;
            line-height: 28px;
          }
        }
        .done_btn {
          width: 140px;
          height: 44px;
          background: #ffffff;
          border: 1px solid #999999;
          border-radius: 6px;
          margin-right: 20px;
          span {
            font-size: 24px;
            font-weight: 500;
            color: #666666;
            line-height: 28px;
          }
        }
        .check_btn {
          width: 140px;
          height: 44px;
          background: #ffffff;
          border: 1px solid #999999;
          border-radius: 6px;
          span {
            font-size: 24px;
            font-weight: 500;
            color: #666666;
            line-height: 28px;
          }
        }
      }
    }
  }
}
</style>
