<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>我的团队</h6>
    </div>
    <!-- 二维码区域 -->
    <div class="QR_code">
      <img :src="require('@/assets/image/login_btn_wechat.png')" alt />
      <span>
        邀请码：{{user_body.inviteCode}}
        <img :src="require('@/assets/image/my_btn_copy.png')" alt />
      </span>
      <p>
        邀请一位好友注册论坛获得500金币，金币可在兑换现金
        类和虚拟类的产品哦~
      </p>
    </div>
    <!-- 邀请人列表区域 -->
    <div class="invite_list">
      <h6>我邀请的人</h6>
      <div class="invite_item">
        <div class="item_top" v-for="item in leafUserList" :key="item.id">
          <img :src="topImgUrl(item.avatar)" alt />
          <div class="user_name">
            <div class="name_part">
              <span>{{item.nickName}}</span>
              <img :src="levelImgUrl(item.level)" alt />
            </div>
            <div class="post_time">
              <span>{{item.inviteTime.slice(0 ,10)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { leafUsers } from '@/api/user'
import { createNamespacedHelpers } from 'vuex'
const { mapState:userMapState } = createNamespacedHelpers('user')
const { mapState:appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      leafUserList: []
    }
  },
  methods: {
   async getLeafUsers(){
     const res = await leafUsers()
    /*  console.log('团队列表')
     console.log(res) */
     if(res && res.code === 200){
       this.leafUserList = res.result
     }else{
       this.$toast.fail('网络请求出错')
     }
   }
  },
  computed: {
    ...userMapState(['user_body']),
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`@/assets/image/my_ic_lv${level}.png`)
    }
  },
  created() {
    this.getLeafUsers()
    /* let a= "2020-07-30T10:03:49".slice(0, 10)
    console.log(a) */
  },
  mounted(){
  }
}

</script>
<style lang="less" scoped>
@import url('../my/css/public.less');
.my_container {
  background-color: #fff;
  .QR_code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 18px 40px 26px;
    img {
      width: 200px;
      height: 200px;
      background: #666666;
    }
    span {
      font-size: 24px;
      font-weight: 500;
      color: #000000;
      letter-spacing: 2px;
      display: inline-block;
      margin: 19px 0 39px 0;
      img {
        width: 18px;
        height: 18px;
      }
    }
    p {
      font-size: 28px;
      font-weight: 500;
      color: #000000;
      margin: 0;
      letter-spacing: 2px;
      line-height: 48px;
    }
  }
  .invite_list {
    h6 {
      font-size: 28px;
      font-weight: bold;
      color: #000000;
      letter-spacing: 2px;
      margin: 0 0 30px 25px;
    }
    .invite_item {
      .item_top {
        width: 100%;
        justify-content: normal;
        align-items: center;
        padding: 20px 0 20px 24px;
        border-bottom: 1px solid #f9f9f9;
        img {
          width: 64px;
          height: 64px;
          background: #f2f2f2;
          border-radius: 32px;
          margin-right: 20px;
        }
        .user_name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .name_part {
            font-size: 28px;
            font-weight: bold;
            color: #000000;
            line-height: 28px;
            letter-spacing: 2px;
            margin-bottom: 8px;
            img {
              width: 30px;
              height: 15px;
            }
          }
          .post_time {
            font-size: 24px;
            font-weight: 400;
            color: #999999;
            line-height: 28px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}
</style>
