<template>
  <div class="about_container">
    <!-- 标题背景图区域 -->
    <div class="top_title">
      <h6>个人中心</h6>
    </div>
    <!-- 个人信息区域 -->
    <div class="top_user_info">
      <div class="no_login" v-if="!token">
        <p>
          您还未登录，
          <span @click="$router.push('/login')">立即登录~</span>
        </p>
      </div>
      <div class="user_header" @click="$router.push('/guideDownload')" v-if="token">
        <img :src="topImgUrl(user_body.avatar)" alt />
      </div>
      <div class="user_sign" v-if="token">
        <div class="sign_content">
          <span>{{ user_body.nickName }}</span>
          <img
            @click="$router.push('/about/my/myGrowthValue')"
            :src="levelImgUrl(user_body.level)"
            alt
          />
        </div>
        <div class="user_social">
          <div
            class="social_item"
            @click="$router.push({name: 'interactionCenter', params: {active: 0}})"
          >
            <span>{{user_status.followed}}</span>
            <span>关注</span>
          </div>
          <div
            class="social_item"
            @click="$router.push({name: 'interactionCenter',  params: {active: 1}})"
          >
            <span>{{user_status.fans}}</span>
            <span>粉丝</span>
          </div>
          <div class="social_item">
            <span>{{user_status.like}}</span>
            <span>获赞</span>
          </div>
          <div class="social_item" @click="$router.push('/about/my/myPurse')">
            <span>{{user_status.gold}}</span>
            <span>钱包</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 用户功能区域 -->
    <div class="user_function">
      <div class="function_item" @click="$router.push('/guideDownload')">
        <img :src="require('@/assets/image/my_btn_order.png')" alt />
        <span>我的接单</span>
      </div>
      <div class="function_item" @click="$router.push('/guideDownload')">
        <img :src="require('@/assets/image/my_btn_task.png')" alt />
        <span>我的任务</span>
      </div>
      <div class="function_item" @click="$router.push('/about/my/myTeam')">
        <img :src="require('@/assets/image/my_btn_team.png')" alt />
        <span>我的团队</span>
      </div>
      <div class="function_item" @click="$router.push('/about/my/myPosts')">
        <img :src="require('@/assets/image/my_btn_post.png')" alt />
        <span>我的帖子</span>
      </div>
      <div class="function_item" @click="$router.push('/about/my/myCollects')">
        <img :src="require('@/assets/image/my_ic_collection.png')" alt />
        <span>我的收藏</span>
      </div>
      <div class="function_item" @click="$router.push('/about/my/browsingHistory')">
        <img :src="require('@/assets/image/my_btn_record.png')" alt />
        <span>浏览记录</span>
      </div>
      <div class="function_item" @click="$router.push('/about/exchange/exchangeCenter')">
        <img :src="require('@/assets/image/my_btn_conversion.png')" alt />
        <span>兑换中心</span>
      </div>
      <div class="function_item" @click="$router.push('/about/system/systemSetting')">
        <img :src="require('@/assets/image/my_btn_set.png')" alt />
        <span>系统设置</span>
      </div>
      <div class="function_item" @click="$router.push('/guideDownload')">
        <img :src="require('@/assets/image/my_btn_opinion.png')" alt />
        <span>意见反馈</span>
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState:userMapState } = createNamespacedHelpers('user')
const { mapState:appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
    }
 },
  methods: {
  },
  computed: {
    ...userMapState(['user_body', 'user_status', 'token']),
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return
        }
        return this.imgUrl + url
      }
    },
    levelImgUrl(level){
      return level => require(`@/assets/image/my_ic_lv${level}.png`)
    }
  },
  created() {
  },
  mounted(){
  }
}

</script>
<style lang="less" scoped>
@import url('../../assets/css/variables.less');
.about_container {
  height: 100vh;
  background-color: #f2f2f2;
  .top_title {
    width: 750px;
    height: 360px;
    // opacity: 0.25;
    background: #000000;
    background: url('../../assets/image/my_bg.png') no-repeat center;
    background-size: cover;
    h6 {
      font-size: 32px;
      font-weight: 500;
      text-align: center;
      color: #ffffff;
      margin: 0;
      padding: 28px 0 0 0;
      letter-spacing: 1px;
    }
  }
  .top_user_info {
    width: 702px;
    height: 254px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 24px;
    top: 224px;
    .no_login {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
        letter-spacing: 2px;
        font-size: 24px;
        font-weight: 500;
        color: #666666;
        span {
          color: @theme-color;
        }
      }
    }
    .user_header {
      width: 120px;
      height: 120px;
      position: absolute;
      left: 50%;
      top: -60px;
      transform: translateX(-50%);
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .user_sign {
      .sign_content {
        margin: 81px 0 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 28px;
          font-weight: 500;
          color: #000000;
          display: inline-block;
        }
        img {
          width: 38px;
          height: 19px;
          position: relative;
          bottom: -5px;
          margin-left: 5px;
        }
      }
      .user_social {
        display: flex;
        justify-content: space-around;
        .social_item {
          display: flex;
          flex-direction: column;
          span {
            display: inline-block;
            text-align: center;
          }
          :nth-child(1) {
            font-size: 32px;
            font-weight: bold;
            color: #ff7d14;
          }
          :nth-child(2) {
            font-size: 24px;
            font-weight: 500;
            color: #666666;
          }
        }
      }
    }
  }
  .user_function {
    display: flex;
    flex-wrap: wrap;
    margin: 167px 24px 0;
    padding-top: 60px;
    background-color: #fff;
    .function_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33.33%;
      margin-bottom: 60px;
      img {
        height: 48px;
        width: 48px;
      }
      span {
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        margin-top: 20px;
      }
    }
  }
}
</style>
