<template>
  <div class="acvitity_container">
    <!-- 活动头部区域 -->
    <div class="acvitity_top">
      <div class="top_sign">
        <h5>活动</h5>
        <div class="sign_day">
          <span>已连续签到</span>
          <div class="day">
            <div class="day_item">
              <van-cell-group>
                <van-field :value="hundredDays" readonly size="large" />
              </van-cell-group>
            </div>
            <div class="day_item">
              <van-cell-group>
                <van-field :value="tenDays" readonly size="large" />
              </van-cell-group>
            </div>
            <div class="day_item">
              <van-cell-group>
                <van-field :value="days" readonly size="large" />
              </van-cell-group>
            </div>
            <div class="day_text">
              <span>天</span>
            </div>
          </div>
        </div>
        <div class="sign_btn">
          <van-button
            round
            type="default"
            @click.stop="$router.push('/guideDownload')"
            :class="{checkInDone: isCheckIn}"
          >{{ signText }}</van-button>
        </div>
      </div>
    </div>
    <!-- 每日签到显示天数区域 -->
    <div class="acvitity_sign">
      <div class="item_days" v-for="(item, index) in threSholdList" :key="index">
        <div class="had_gold_coin" v-if="continuousDays > 7 || (index+1) <= continuousDays">
          <span>✔</span>
        </div>
        <div class="having_gold_coin" v-else-if="(index+1) === (continuousDays+1)">
          <span>+{{ item.reward }}</span>
        </div>
        <div class="no_gold_coin" v-else>
          <span>+{{ item.reward }}</span>
        </div>
        <span>第{{ item.day }}天</span>
      </div>
    </div>
    <!-- 任务列表区域 -->
    <div class="acvitity_taskList">
      <h5>任务列表</h5>
      <div class="taskList">
        <van-divider />
        <div class="task_item">
          <div class="item_img">
            <img :src="require('@/assets/image/activity_ic_invite.png')" alt />
          </div>
          <div class="item_info">
            <div class="invite_info">
              <span class="info_title">每邀请一位新成员</span>
              <span class="invite_coin">+500 金币</span>
            </div>
            <div class="invite_btn">
              <van-button plain type="default" @click="$router.push('/guideDownload')">立即邀请</van-button>
            </div>
          </div>
        </div>
        <van-divider />
        <div class="task_item">
          <div class="item_img">
            <img :src="require('@/assets/image/activity_ic_attestation.png')" alt />
          </div>
          <div class="item_info">
            <div class="invite_info">
              <span class="info_title">实名认证</span>
              <span class="invite_coin">+200 金币</span>
            </div>
            <div class="invite_btn">
              <van-button plain type="default" @click="$router.push('/guideDownload')">立即认证</van-button>
            </div>
          </div>
        </div>
        <van-divider />
        <div class="task_item">
          <div class="item_img">
            <img :src="require('@/assets/image/activity_ic_issue.png')" alt />
          </div>
          <div class="item_info">
            <div class="invite_info">
              <span class="info_title">发布一篇帖子</span>
              <span class="invite_coin">+100 金币</span>
            </div>
            <div class="invite_btn">
              <van-button plain type="default" @click="$router.push('/guideDownload')">立即前往</van-button>
            </div>
          </div>
        </div>
        <van-divider />
        <div class="task_item">
          <div class="item_img">
            <img :src="require('@/assets/image/activity_ic_task.png')" alt />
          </div>
          <div class="item_info">
            <div class="invite_info">
              <span class="info_title">发布任务</span>
              <span class="invite_coin">+100 金币</span>
            </div>
            <div class="invite_btn">
              <van-button plain type="default" @click="$router.push('/guideDownload')">立即前往</van-button>
            </div>
          </div>
        </div>
        <van-divider />
        <div class="task_item">
          <div class="item_img">
            <img :src="require('@/assets/image/activity_ic_write_invite.png')" alt />
          </div>
          <div class="item_info">
            <div class="invite_info">
              <span class="info_title">填写邀请码</span>
              <span class="invite_coin">+100 金币</span>
            </div>
            <div class="invite_btn">
              <van-button plain type="default" @click="$router.push('/guideDownload')">立即填写</van-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部广告区域 -->
    <div class="acvitity_footer"></div>
    <!-- 签到成功遮罩层弹出区域 -->
    <van-overlay :show="isShowSign" @click.stop="isShowSign = false">
      <div class="wrapper" @click.stop>
        <div class="wrapper_container">
          <div class="wrapper_top">
            <h3>签到成功</h3>
            <h6>连续签到可获得更多积分哦</h6>
          </div>
          <div class="wrapper_body">
            <div class="body_img">
              <img :src="require('@/assets/image/activity_ic_integral.png')" alt />
            </div>
            <div class="body_info">
              <div class="info_text">
                积分
                <span>+5</span>
              </div>
              <div class="info_btn">
                <van-button>赚取更多积分>></van-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </van-overlay>
  </div>
</template>

<script>
import { checkInThreshold } from '../../api/config'
import { checkInStatus, checkIn } from '../../api/activity'
import { toChangeTimestamp } from '../../filters/filter'
export default {
    data() {
      return {
        continuousDays: '',
        days: '0',
        hundredDays: '0',
        tenDays: '0',
        isShowSign: false, // 是否展示签到成功的遮罩
        signText: '签到',
        isCheckIn: false, // 是否签到成功,
        threSholdList: [], // 签到阈值列表,
        coinValue: 0
      }
    },
    methods: {
      // 获取签到状态
      async getCheckInStatus(){
        const res = await checkInStatus()
        /* console.log('获取签到状态：')
        console.log(res) */
        if(res && res.code === 200){
          let continuous = res.result.continuous
          this.continuousDays = continuous
          this.days = continuous % 10 + ''
          this.tenDays = (continuous % 100) /10 + ''
          this.hundredDays = continuous / 100 + ''
          localStorage.setItem('lastCheckIn', res.result.lastCheckIn)
        }else{
          this.$toast.fail('网络请求失败')
        }
      },
      // 点击签到处理
      async checkInHandle(){
        const res = await checkIn()
        if(res && res.code === 200){
          this.coinValue = res.result.value
          this.isShowSign = true
          this.signText = '已签到'
          this.isCheckIn = true
          this.getCheckInStatus() // 签到成功，获取最新的签到状态
        }else if(res && res.code === 400){
          return this.$toast.success('您已经签到过了，请明天再来哦！')
        }else{
            return this.$toast.fail('签到失败')
        }
      },
      async getCheckInThreshold(){
        const res = await checkInThreshold()
        // console.log(res)
        if(res && res.code === 200){
          this.threSholdList = res.result
        }else{
          this.$toast.fail('网络错误')
        }
      }
    },
    created() {
      // this.getCheckInStatus()
      this.getCheckInThreshold()
    }

}

</script>
<style lang="less" scoped>
@import url('../../assets/css/variables.less');
.acvitity_container {
  height: 100vh;
  width: 100vm;
  .acvitity_top {
    width: 750px;
    height: 446px;
    background: url('../../assets/image/my_bg_wallet.png') no-repeat center;
    background-size: cover;
    h5 {
      color: #fff;
      margin: 0;
      margin-top: 15px;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 1px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .top_sign {
      display: flex;
      justify-content: space-between;
      height: 100%;
      .sign_day {
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          display: inline-block;
          font-size: 28px;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
          letter-spacing: 1px;
          margin-left: 25px;
        }
        .day {
          display: flex;
          justify-content: space-around;
          padding: 25px;
          .day_text {
            span {
              margin: 0;
            }
          }
          .day_item {
            flex: 1;
            margin-right: 10px;
            .van-cell-group {
              width: 60px;
              height: 80px;
              border-radius: 6px;
              .van-cell {
                font-size: 44px;
                font-weight: 400;
                /deep/.van-field__control {
                  color: @theme-color;
                }
              }
            }
          }
        }
      }
      .sign_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 24px;
        .checkInDone {
          color: #ffffff;
          background-color: @theme-color;
        }
        button {
          width: 139px;
          height: 54px;
          background: rgba(255, 255, 255, 1);
          border-radius: 27px;
          font-size: 28px;
          font-weight: 500;
          color: @theme-color;
          letter-spacing: 1px;
        }
      }
    }
  }
  .acvitity_sign {
    width: 702px;
    height: 172px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    // 悬浮签到天数
    position: absolute;
    left: 24px;
    top: 314px;
    .item_days {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .having_gold_coin {
        width: 70px;
        height: 70px;
        background: @theme-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          display: inline-block;
          font-size: 14px;

          font-weight: 500;
          color: #ffffff;
        }
      }
      .had_gold_coin {
        width: 70px;
        height: 70px;
        background: @theme-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          display: inline-block;
          font-size: 28px;
          font-weight: 500;
          color: #ffffff;
        }
      }
      .no_gold_coin {
        width: 70px;
        height: 70px;
        background: #bbbbbb;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          color: #ffffff;
        }
      }
      span {
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        letter-spacing: 1px;
      }
    }
  }
  .acvitity_taskList {
    width: 702px;
    height: 562px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    position: fixed;
    top: 506px;
    right: 24px;
    h5 {
      margin: 0;
      margin-left: 20px;
      font-size: 28px;
      font-weight: bold;
    }
    .taskList {
      display: flex;
      flex-direction: column;
      height: 100%;
      .task_item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 21px 0 20px;
        .item_img {
          display: flex;
          align-items: center;
          margin-right: 10px;
          img {
            width: 44px;
            height: 44px;
          }
        }
        .item_info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .invite_info {
            display: flex;
            flex-direction: column;
            span {
              display: inline-block;
              font-size: 24px;
              font-weight: 500;
            }
            .invite_coin {
              color: @theme-color;
            }
          }
          .invite_btn {
            display: flex;
            .van-button--plain {
              background-color: #fff;
              width: 140px;
              height: 54px;
              border: 1px solid @theme-color;
              border-radius: 27px;
              color: @theme-color;
            }
            .van-button--normal {
              font-size: 24px;
            }
          }
        }
      }
      .task_item:nth-last-child(1) {
        margin-bottom: 31px;
      }
    }
  }
  .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .wrapper_container {
      width: 436px;
      height: 520px;
      background: #ffffff;
      border-radius: 10px;
      .wrapper_top {
        height: 189px;
        border-radius: 10px 12px 0px 0px;
        background: url('../../assets/image/activity_bg_integral.png') no-repeat center center;
        background-size: cover;
        position: relative;
        top: -31px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          font-size: 54px;
          font-weight: bold;
          color: #ffffff;
          line-height: 63px;
          letter-spacing: 5px;
          text-shadow: 0px 3px 2px 0px rgba(0, 112, 103, 0.35);
          margin: 0;
        }
        h6 {
          font-size: 22px;
          font-weight: 500;
          color: #dcfffc;
          line-height: 42px;
          letter-spacing: 2px;
          margin: 0;
        }
      }
      .wrapper_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .body_img {
          width: 112px;
          height: 112px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .body_info {
          display: flex;
          flex-direction: column;
          align-items: center;
          .info_text {
            font-size: 24px;
            font-weight: 500;
            color: #999999;
            line-height: 42px;
            letter-spacing: 2px;
            span {
              font-size: 36px;
              font-weight: 500;
              color: #000000;
              line-height: 42px;
              letter-spacing: 4px;
            }
          }
          .info_btn {
            padding: 20px;
            .van-button--normal {
              width: 272px;
              height: 60px;
              background: linear-gradient(#00bbad, #41eee1);
              border-radius: 30px;
              font-size: 24px;
              font-weight: 500;
              color: #ffffff;
              line-height: 42px;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
}
</style>
