<!--
 * @Author: your name
 * @Date: 2020-07-13 09:58:05
 * @LastEditTime: 2020-07-27 08:52:27
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \legolas-mobile\src\views\home\home.vue
--> 
<template>
  <div class="home_tab">
    <van-tabs
      v-model="type"
      line-width="35"
      color="#4B84E6"
      class="tabsList"
      swipeable
      @click="tabsClick"
    >
      <van-tab v-for="item in tabs" :key="item.id" :title="item.name" :name="item.type"></van-tab>
      <game ref="Game" v-if="type === 1"></game>
      <pics ref="Pics" v-else-if="type === 2"></pics>
      <video-item ref="Video" v-else-if="type === 3"></video-item>
      <forum ref="Forum" v-else-if="type === 4"></forum>
      <news ref="News" v-else-if="type === 6"></news>
    </van-tabs>
  </div>
</template>
<script>
import { createNamespacedHelpers } from 'vuex'
const { mapState: userMapState, mapActions: usermapActions } = createNamespacedHelpers('user')
import { getCategoryList } from '@/api/bbs'
import Game from '@/components/home/game'
import Pics from "@/components/home/pics"
import VideoItem from "@/components/home/videos"
import Forum from "@/components/home/forum"
import News from "@/components/home/news"
export default {
  components: {
    Game,
    Pics,
    VideoItem,
    Forum,
    News
  },
  data() {
    return {
      type: 1,
      tabs: [],
    }
  },
  methods: {
    ...usermapActions(['userInfo', 'userStatus']),
    async handleList() {
      const res = await getCategoryList()
      if (res && res.code === 200) {
        this.tabs = res.result
        let arr = this.tabs.filter(item => item.type === 1)
        this.$refs.Game.handleobtainID(arr[0].type, arr[0].id)
        // console.log(this.type) 
      }
    },
    // 点击tab栏触发事件
    tabsClick(index, title) {
      this.type = index
      // console.log(typeof(this.type), this.type)
      let arr = this.tabs.filter(item => item.name === title)
      // console.log(index)
      // console.log(arr)
      const categoryId = arr[0].id
      // console.log(categoryId)
      const arrComponents = ['Game', 'Pics', 'Video', 'Forum', 'News', 'News']
      const componentName = arrComponents[index - 1]
      this.$nextTick(() => {
      // console.log(this.$refs)
        this.$refs[componentName].handleobtainID(index, categoryId)
      })
    },
    // 获取用户个人信息 
    getUserInfo(){
      // console.log(this.token)
      if(this.token){
        this.userInfo()
        // 获取用户当前状态
        this.userStatus()
      }
    }
  },
  computed: {
    ...userMapState(['token'])
  },
  created() {
    let tabType = parseInt(this.$route.query.tabType)
    if(tabType){
      this.type = tabType
    }
    this.handleList()
    this.getUserInfo()
  },
}
</script>
<style lang="less" scoped>
/deep/ .van-tabs--line .van-tabs__wrap {
  height: 88px;
  width: 100%;
  position: fixed;
  top: 88px;
  left: 0;
  z-index: 3;
}
.van-tabs {
  /deep/ span {
    font-size: 28px;
    letter-spacing: 4px;
  }
  /deep/ .van-tab--active {
    color: #000000;
    font-weight: bold;
  }
  /deep/.van-tabs__content {
    padding: 180px 0 118px;
  }
}
</style>