<!--
 * @Author: your name
 * @Date: 2020-04-29 15:04:42
 * @LastEditTime: 2020-07-08 10:21:53
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \vue-h5-template\src\views\home\index.vue
 -->
<!-- home -->
<template>
  <div class="app-container">
    <topHeader title="论坛" v-show="isTopHeader" />
    <div class="content">
      <keep-alive>
        <router-view v-if="$route.meta.keepAlive"></router-view>
      </keep-alive>
      <router-view v-if="!$route.meta.keepAlive"></router-view>
    </div>
    <tab-bar />
  </div>
</template>

<script>
import tabBar from '@/components/tab-bar'
import topHeader from '@/components/top-header'
export default {
  data() {
    return {
      isTopHeader: false
    }
  },
  components: {
    tabBar,
    topHeader
  },
  created() {
    this.routerChange()
  },
  mounted() {

  },
  methods: {
    // 根据路由判断是否需要 topHeader 头部组件
    routerChange(){
      console.log(this)
      let path = this.$route.name
      if(path === 'home'){
        this.isTopHeader = true
      }else{
        this.isTopHeader = false
      }
    }
  },
  watch:{
    '$route': 'routerChange'
  }
}
</script>
<style lang="less" scoped>
.content {
  // margin-top: 88px;
}
</style>
