<template>
  <div>
    <van-dropdown-menu>
      <van-dropdown-item v-model="value1"
                         :options="option1"
                         @change="changeColor" />
    </van-dropdown-menu>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  data() {
    return {
      value1: 0,
      option1: [
        { text: '绿色', value: '#00BBAD', color: 'classicBlue' },
        { text: '粉色', value: '#FF9191', color: 'girlPowder' },
        { text: '黑色', value: '#000000', color: 'classicBlue' },
      ]
    }
  },
  methods: {
    ...mapActions(['setThemeColor']),
    changeColor(color) {
      console.log(color)
      this.setThemeColor(color)
      if (!window.less) {
        return
      }
      console.log(less)
      less.modifyVars({
        '@background-color': 'red'
      }).then(() => {
        console.log('修改成功');
      });
    }
  }
}
</script>