<template>
  <div class="task_container">
    <!-- 头部标题区域 -->
    <div class="topHeader">
      <div class="top_img">
        <img :src="require('@/assets/image/my_bg.png')" alt />
      </div>
    </div>
    <!-- tab栏区域 -->
    <div class="task_tab">
      <van-tabs line-width="35" color="#4B84E6" swipeable @click="handleClickTab">
        <van-tab title="全部" class="tab_item"></van-tab>
        <van-tab title="热门" class="tab_item"></van-tab>
        <van-tab title="最新" class="tab_item"></van-tab>
        <van-tab title="高价" class="tab_item"></van-tab>
        <van-tab title="简单" class="tab_item"></van-tab>
      </van-tabs>
    </div>
    <!-- 任务区域 -->
    <div class="task_content">
      <div
        class="task_item"
        v-for="(item, index) in taskList"
        :key="index"
        @click="handleTaskDetails(item.id)"
      >
        <div class="item_img">
          <img :src="topImgUrl(item.avatar)" alt />
        </div>
        <div class="item_info">
          <div class="info_content">
            <span class="content_title">{{ item.title }}</span>
            <span class="remaining_quantity">
              剩余数量：
              <span>{{ item.remain }}</span>
              /{{ item.amount }}
            </span>
          </div>
          <span class="task_coin">+{{ item.rewardPerUnit }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getUserTasksList } from '../../api/activity'
import { createNamespacedHelpers } from 'vuex'
const { mapState: appMapState } = createNamespacedHelpers('app')
export default {
  data() {
    return {
      taskList: [],
    }
  },
  computed: {
    ...appMapState(['imgUrl']),
    topImgUrl(url) {
      return url => {
        if(!url){
          return 
        }
        return this.imgUrl + url
      }
    }
  },
  methods: {
    // 点击 tab 栏事件触发
    handleClickTab(name, title) {
      // console.log(title)
      let params = {
        order: name
      }
      this.getTasksList(params)
    },
    // 获取任务列表
    async getTasksList(params){
      const res = await getUserTasksList(params)
      // console.log(res)
      if(res && res.code === 200){
        this.taskList = res.result
      }else{
        this.$toast.fail('网络错误')
      }
    },
    // 点击任务项，跳转详情
    handleTaskDetails(id){
      // console.log(id)
      this.$router.push(`/task/taskDetails/${id}`)
    }
  },
  created() {
    this.getTasksList()
  },
}

</script>
<style lang="less" scoped>
@import url('../../assets/css/variables.less');
.task_container {
  height: 100vh;
  background-color: #f2f2f2;
  .topHeader {
    width: 100%;
    .top_img {
      height: 400px;
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .task_content {
    display: flex;
    flex-direction: column;
    padding-bottom: 138px;
    background-color: #f2f2f2;
    .task_item {
      flex: 1;
      margin: 10px 24px 0 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 30px 20px;
      border-radius: 6px;
      .item_img {
        width: 88px;
        height: 88px;
        margin-right: 20px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .item_info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .info_content {
          display: flex;
          flex-direction: column;
          .content_title {
            display: inline-block;
            font-size: 28px;
            font-weight: 500;
            color: #333333;
            letter-spacing: 1px;
          }
          .remaining_quantity {
            display: inline-block;
            font-size: 24px;
            font-weight: 500;
            color: #666666;
            letter-spacing: 1px;
            span {
              color: #ff1313;
            }
          }
        }
        .task_coin {
          font-size: 32px;
          font-weight: 500;
          color: #ff1313;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  /deep/ .van-tabs--line .van-tabs__wrap {
    height: 88px;
  }
  .van-tabs {
    /deep/ span {
      font-size: 28px;
      letter-spacing: 4px;
    }
    /deep/ .van-tab--active {
      color: #333333;
      font-weight: bold;
    }
  }
}
</style>
