<!--
 * @Author: your name
 * @Date: 2020-05-11 14:36:45
 * @LastEditTime: 2020-07-08 10:21:27
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: \Vue\src\App.vue
-->
<template>
  <div class="app" id="app">
    <keep-alive>
      <router-view v-if="$route.meta.keepAlive"></router-view>
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive"></router-view>
  </div>
</template>
<script>

import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('app')
export default {
  name: 'App',
  data(){
    return{
    }
  },
  computed: {
    ...mapState(['imgUrl'])
  },
  components: {
  },
  methods: {
    ...mapActions(['handeleQiNiu']),
  },
   created() {
    if (!this.imgUrl) {
      this.handeleQiNiu()
    }
  }
}
</script>
<style lang="less">
html,
body,
.app {
  height: 100%;
  width: 100%;
}
</style>
