<template>
  <div class="my_container">
    <!-- 顶部区域 -->
    <div class="my_top">
      <span class="returnBack" @click="$router.back(-1)">
        <img :src="require('@/assets/image/home_nav_bake1.png')" alt />
      </span>
      <h6>任务消息</h6>
    </div>
    <!-- 主体内容区域 -->
    <div class="task_message_body">
      <div class="task_message_item">
        <p>您好，您发布的网址助力任务已经停止接单。未消耗的 5000金币自动退回。</p>
        <p class="item_time">2020/06/30 10:18</p>
        <div class="division"></div>
      </div>
      <div class="task_message_item">
        <p>您好，您发布的网址助力任务已经停止接单。未消耗的 5000金币自动退回。</p>
        <p class="item_time">2020/06/30 10:18</p>
        <div class="division"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    }
 },
  methods: {

  },
  created() {

  },

}

</script>
<style lang="less" scoped>
@import url('../../my/css/public.less');
.my_container {
  background-color: #fff;
  height: 100vh;
  .task_message_body {
    padding: 0 38px 0 25px;
    .task_message_item {
      padding-top: 20px;
      p {
        font-size: 24px;
        font-weight: 500;
        color: #333333;
        margin: 0;
        letter-spacing: 1px;
      }
      .item_time {
        color: #999999;
        margin: 20px 0;
      }
      .division {
        width: 100%;
        height: 1px;
        opacity: 0.4;
        background: #d2d2d2;
      }
    }
  }
}
</style>
